<script type="text/javascript">
    var site_type = "<%= site_type %>";
    String.prototype.capitalize = function(lower) {
        return (lower ? this.toLowerCase() : this).replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
    };
    var registration_type = "<%=params[:registration_type]%>";
    var facility_name = "<%=@facility.name rescue ''%>"
    var district = "<%= @district.name %>"
</script>
<script src="/assets/edrs.js"></script>
<script src="/assets/form.js"></script>
<%= form_for @person, :url => '/people/create', :method => :post do |f| %>
	<input type="hidden" name="person[registration_type]" id="person_registration_type" value="<%=params[:registration_type]%>">
	<input type="hidden" name="person[delayed_registration]" id="person_delayed_registration"value="No">
	<% if params[:registration_type].include? "Deaths Abroad"%>
        <section name="Proof of death abroad">
            <sub id="person_commissioner_documents_section" name="Documents attached">
                <%= select_tag("person[proof_of_death_abroad]",options_for_select([" ", "Yes", "No"], nil),:helpText =>"Documents proving death abroad attached? <i style='color: red'>*</i>",:tt_requireNextClick => false,:tt_onLoad=>"overRideCancel()") %>
            </sub>
        </section>
    <%end%>
	<% if true %>
		<section name="Barcode">
			<sub id="person_barcode_section" name="Barcode">
				<%= text_field_tag "person[barcode]",nil , {:helpText=> "Scan Form Barcode <i style='color: red'>*</i>",:tt_pageStyleClass =>"NoKeyboard",:tt_onUnLoad=>"removeDollar();checkBarcode()",:tt_onLoad=>"overRideCancel();removeAutoComplete()"} %>
			</sub>
		</section>
	<%end%>
    <section name="Personal details of deceased">
            <%= render :partial => "name_and_dob" %>
            <sub id="death_details" name="Details of death">
                <%= (f.text_field :date_of_death,
                				  :helpText => "Date of Death <i style='color: red'>*</i>",
                				  :field_type => "date" ,
                				  :tt_onLoad =>"removeUnknown()",
                				  :tt_onUnLoad => "validateDeathDate()") rescue "" %>

                <%= text_field_tag "person[place_of_death_country]", nil, {
                    					:helpText => "Place of Death (<i>Country</i>) <i style='color: red'>*</i>" , 
                    					:ajaxURL => "/countries?exclude=Malawi&search_string=",
                              :tt_requireNextClick => false} %> 
                <%= text_field_tag "person[other_place_of_death_country]", @person[:other_place_of_death_country], {
                        :helpText => "Other place of death (<i>Country</i>) <i style='color: red'>*</i>",
                        :ajaxUrl=>"/other_countries?search=",
                        :condition =>"__$('person_place_of_death_country').value.toLowerCase() =='other'",
                        :allowFreeText => true
                        } %>

                <%= (f.hidden_field :place_of_registration, :value => @district.name) %>

                <%= select_tag("person[place_of_death_foreign]", options_for_select(["","Health Facility", "Home","Other"], @person[:place_of_death_foreign]),
                                        :id=> "person_place_of_death_foreign",
                                        :helpText =>"Place of Death <i style='color: red'>*</i>",
                                        :tt_requireNextClick => false,
                                        :tt_pageStyleClass =>"NoKeyboard") %>

                <%= text_field_tag "person[place_of_death_foreign_hospital]", @person[:place_of_death_foreign_hospital], {
                  :helpText => "Place of death (<i>Foreign Health Facility</i>)", 
                  :optional => true,
                  :condition => "__$('person_place_of_death_foreign').value == 'Health Facility'"} %>

                <%= text_field_tag "person[place_of_death_foreign_state]", @person[:place_of_death_foreign_state], {
                  :helpText => "Place of death (<i>Foreign  State</i>)",
                  :optional => true} %>

                <%= text_field_tag "person[place_of_death_foreign_district]", @person[:place_of_death_foreign_district], {
                                    :helpText => "Place of death (<i>Foreign District</i>)",
                                    :optional => true} %>

                <%= text_field_tag "person[place_of_death_foreign_village]", @person[:place_of_death_foreign_village], {
                                    :helpText => "Place of death  (<i>Foreign Village/Town</i>)",
                                    :optional => true} %>

                  <%= text_field_tag "person[other_place_of_death]",nil,
                            {:helpText => "Other specify (<i>Place of death</i>) <i style='color: red'>*</i>",
                             :condition => "__$('person_place_of_death_foreign').value.match('Other')"}  %>        
             
            </sub>

            <%= render :partial => "physical_address" %>

            <%= render :partial => "home_address" %>

            <sub id='pregnancy_status' name="Pregnancy status">
               <%= select_tag("person[died_while_pregnant]", options_for_select(['No', 'Yes'], @person[:died_while_pregnant]),
                        :helpText =>"Did the death occur while pregnant?(<i style='font-size: 18px'> at the time of delivery or within 6 weeks after the end of pregnancy</i>)", 
                        :condition =>"validatePregnancy()",
                        :tt_requireNextClick => false,
                        :tt_onUnLoad=>"flagIfOut()") %>
            </sub>
  	</section>

  	<%= render :partial => "parents_details" %>

    <%= render :partial => "informant" %>
    <input type="hidden" name="potential_duplicate" id="potential_duplicate" condition="false">

    <section name="Captured data">
        <sub id="captured_data" name="Captured Data">
		     <%= text_field_tag "summary", nil, {:helpText => 'Summary', :tt_onLoad=>"checkForDuplicate();loadMinPersonSummary()"} %>
        </sub>
    </section>  

<% end %>