<script type="text/javascript">
	var site_type = "<%= site_type %>";
</script>
<script src="/assets/edrs.js"></script>
<script src="/assets/form.js"></script>
<%= form_for @person, :url => '/people/create', :method => :post do |f| %>
	<input type="hidden" name="person[relationship]" id="person_relationship"> value="<%params[:relationship]%>">
	<input type="hidden" name="person[delayed_registration]" id="person_delayed_registration"value="No">
	<% if params[:relationship].include? "Missing" || true%>
		<section name="Court Order">
			<sub id="person_court_order_section" name="Court order attached">
				<%= select_tag("person[court_order]",options_for_select([" ", "Yes", "No"], nil),:helpText =>"Court order attached?",:tt_requireNextClick => false, :tt_onUnLoad=>"courtOrder()") %>
			</sub>
		</section>
	<%end%>
	<% if true %>
		<section name="Barcode">
			<sub id="person_barcode_section" name="Barcode">
				<%= text_field_tag "person[barcode]",nil , {:helpText=> "Scan Form Barcode <i style='color: red'>*</i>",:tt_pageStyleClass =>"NoKeyboard",:tt_onUnLoad=>"removeDollar();checkBarcode()"} %>
			</sub>
		</section>
	<%end%>
    <section name="Personal details of deceased">
 <sub id="person_details" name="Details of deceased">

                <%= (f.text_field :last_name, 
                				 :helpText => "Surname <i style='color: red'>*</i>",
                                 :allowFreeText =>true, 
                                 :ajaxURL => "/get_last_names?search=",
                                 :tt_onUnLoad=>"validateName('person',1)",
                                 :tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :first_name,
                				  :helpText => "First name <i style='color: red'>*</i>",
                				  :allowFreeText =>true,  
                				  :ajaxURL => "/get_first_names?search=",
                				  :tt_onUnLoad=>"validateName('person',2)",
                				  :tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :middle_name, 
                				  :helpText => "Other names",
                				  :allowFreeText =>true, 
                				  :optional => :true, 
                				  :ajaxURL => "/get_first_names?search=",
                				  :tt_onUnLoad=>"validateOtherName('person',3)",
                				  :tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= text_field_tag "person[id_number]",nil , {
                				  :helpText => "ID No", 
                				  :optional => true, 
                				  :validationRule=>"^[a-zA-Z0-9]{8}$",
                				  :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters"} %>

                <%= text_field_tag "person[nationality]",nil , {
                				  :helpText => "Nationality <i style='color: red'>*</i>",
                				  :ajaxURL => "/nationalities?search_string="} %>

                 <%= select_tag("person[gender]",options_for_select([" ", "Female", "Male"], @person[:gender]),
                 				  :helpText =>"Sex <i style='color: red'>*</i>",
                 				  :tt_requireNextClick => false) %>

                <%= text_field_tag "person[birth_year]", nil, {
                					:helpText => "Year of Birth <i style='color: red'>*</i>", 
                					:field_type => 'number', 
                					:absoluteMin => "1890", 
                					:min => "1940", 
                					:absoluteMax => Date.today.year, 
                					:tt_pageStyleClass => "Numeric NumbersWithUnknown"}  %>

                <%= select_tag "person[birth_month]", options_for_select(["January","February","March","April","May","June","July","August","September","October","November","December"], " "), {
                				   :helpText => "Month of Birth <i style='color: red'>*</i>", 
                				   :condition => '$("person_birth_year").value.toLowerCase() != "unknown"',
                				   :validationJS => "validateDOB();",
                				   :validationMessage => 'Please enter a valid date', 
                				   :tt_onLoad =>"__$('keyboard').style.display = 'none'",
                				   :tt_requireNextClick => false,
                				   :tt_pageStyleClass =>"NoKeyboard longSelectList",
                				   :tt_onUnLoad=>"validateAndProcessMonth()" }%>

                <%= text_field_tag "person[age_estimate]", nil, {
                				  :helpText => "Age Estimate <i style='color: red'>*</i>",
                				   :absoluteMin => 1, 
                				   :absoluteMax => 120, 
                				   :field_type => 'number', 
                				   :condition => '$("person_birth_year").value == "Unknown"', 
                				   :tt_onLoad => "$('nextButton').style.display = 'block';", 
                				   :tt_pageStyleClass => "Numeric NumbersOnly",
                				   :tt_onUnLoad => "setEstimatedAgeValue()"} %>

                <%= text_field_tag "person[birth_day]",  nil, 
                				  :field_type => 'number', 
                				  :helpText => "Birth Day <i style='color: red'>*</i>", 
                				  :condition => '($("person_birth_year").value != "Unknown") && ($("person_birth_month").value != "Unknown")', 
                				  :tt_onLoad =>  "monthDaysKeyPad();$('nextButton').style.display = 'block'" ,
                				  :tt_onUnLoad => "setAgeValues()"%>

                <%= (f.hidden_field :birthdate) rescue "" %>

                <%= f.hidden_field :birthdate_estimated rescue "" %>

                <%= text_field_tag "person[birth_certificate_number]",nil , {
                		:helpText => "Birth Certificate No.", 
                		:optional => true} %>
            </sub>
            <sub id="death_details" name="Details of death">
                <%= (f.text_field :date_of_death,
                				  :helpText => "Date of Death <i style='color: red'>*</i>",
                				  :field_type => "date" ,
                				  :tt_onLoad =>"removeUnknown()",
                				  :tt_onUnLoad => "validateDeathDate()") rescue "" %>

                <%= text_field_tag "person[place_of_death_country]", nil, {
                    					:helpText => "Place of Death Country <i style='color: red'>*</i>" , 
                    					:ajaxURL => "/countries?exclude=Malawi&search_string="} %> 

               <input type="hidden" id="person_place_of_death" name="person[place_of_death]" value="Other">

               <%= (f.text_field :other_place_of_death,
                						:helpText => "Place of death details <i style='color: red'>*</i>") rescue "" %>                
             
            </sub>

            <% render :partial => "physical_address" %>

            <%= render :partial => "home_address" %>

            <sub id='pregnancy_status' name="Pregnancy status">
               <%= select_tag("person[died_while_pregnant]", options_for_select(['No', 'Yes'], @person[:died_while_pregnant]),
                        :helpText =>"Did the death occur while pregnant?(<i style='font-size: 18px'> at the time of delivery or within 6 weeks after the end of pregnancy</i>)", 
                        :condition =>"validatePregnancy()",
                        :tt_requireNextClick => false,
                        :tt_onUnLoad=>"flagIfOut()") %>
            </sub>
  	</section>

  	<%= render :partial => "parents_details" %>

   <%= render :partial => "informant_details" %>

    <% if site_type == "dc" %>
    <section name="Verification">
            <sub id="village_headman_verification" name="Village head verification">
                <%= select_tag("person[headman_verified]", options_for_select(['Yes','No'], @person[:headman_verified]),
                					:helpText =>"Village headman/Block leader signed?",:tt_requireNextClick => false) %>

                <%= (f.text_field :headman_verification_date,
                				  :helpText => "Date Village headman/Block leader signed",
                                  :field_type => "date",
                                  :condition => "__$('person_headman_verified').value.trim().toLowerCase() =='yes'",
                                  :tt_onLoad =>"removeUnknown()") rescue "" %>
            </sub>
            <sub id="church_verification" name="Church verification">
                <%= select_tag("person[church_verified]", options_for_select(['Yes','No'], @person[:church_verified]),
                		:helpText =>"Senior Member of Village/Religious institution signed?",:tt_requireNextClick => false) %>

                <%= (f.text_field :church_verification_date,
                				:helpText => "Date Senior member of village/Religious institution signed",
		                        :field_type => "date",
		                        :condition => "__$('person_church_verified').value.trim().toLowerCase() =='yes'",
		                        :tt_onLoad =>"removeUnknown()") rescue "" %>
            </sub>
    </section>
    <% end %>

    <% if false %>

    <section name="Acknowledgement of Receipt">
        	<sub id="acknowledgement_of_receipt" name="Acknowledgement of Receipt">
        		<%= (f.text_field :acknowledgement_of_receipt_date,
        						  :helpText => "Acknowledgement of receipt date",
                                  :field_type => "date",
                                  :tt_onLoad =>"removeUnknown()") rescue "" %>
        	</sub>
    </section>


    <% end %>
    <input type="hidden" name="potential_duplicate" id="potential_duplicate" condition="false">

    <section name="Captured data">
        <sub id="captured_data" name="Captured Data">
		     <%= text_field_tag "summary", nil, {:helpText => 'Summary', :tt_onLoad=>"checkForDuplicate();loadPersonSummary()"} %>
        </sub>
    </section>  

<% end %>