<script type="text/javascript">
    var site_type = "<%= site_type %>";
    String.prototype.capitalize = function(lower) {
        return (lower ? this.toLowerCase() : this).replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
    };
</script>
<script src="/assets/edrs.js"></script>
<script src="/assets/form.js"></script>
<%= form_for @person, :url => '/people/create', :method => :post do |f| %>
	<input type="hidden" name="person[registration_type]" id="person_registration_type" value="<%=params[:registration_type]%>">
	<input type="hidden" name="person[delayed_registration]" id="person_delayed_registration"value="No">
	<% if params[:registration_type].include? "Deaths Abroad"%>
        <section name="Commissioner's documents">
            <sub id="person_commissioner_documents_section" name="Documents attached">
                <%= select_tag("person[commissioner_documents]",options_for_select([" ", "Yes", "No"], nil),:helpText =>"Commissioner's documents attached?",:tt_requireNextClick => false) %>
            </sub>
        </section>
    <%end%>
	<% if true %>
		<section name="Barcode">
			<sub id="person_barcode_section" name="Barcode">
				<%= text_field_tag "person[barcode]",nil , {:helpText=> "Scan Form Barcode <i style='color: red'>*</i>",:tt_pageStyleClass =>"NoKeyboard",:tt_onUnLoad=>"removeDollar();checkBarcode()"} %>
			</sub>
		</section>
	<%end%>
    <section name="Personal details of deceased">
            <%= render :partial => "name_and_dob" %>
            <sub id="death_details" name="Details of death">
                <%= (f.text_field :date_of_death,
                				  :helpText => "Date of Death <i style='color: red'>*</i>",
                				  :field_type => "date" ,
                				  :tt_onLoad =>"removeUnknown()",
                				  :tt_onUnLoad => "validateDeathDate()") rescue "" %>

                <%= text_field_tag "person[place_of_death_country]", nil, {
                    					:helpText => "Place of Death Country <i style='color: red'>*</i>" , 
                    					:ajaxURL => "/countries?exclude=Malawi&search_string=",
                              :tt_requireNextClick => false} %> 

                <%= select_tag("person[place_of_death_foreign]", options_for_select(["","Health Facility", "Home","Other"], @person[:place_of_death_foreign]),
                                        :id=> "person_place_of_death_foreign",
                                        :helpText =>"Place of Death <i style='color: red'>*</i>",
                                        :tt_requireNextClick => false,
                                        :tt_pageStyleClass =>"NoKeyboard") %>

                <%= text_field_tag "person[place_of_death_foreign_hospital]", @person[:place_of_death_foreign_hospital], {
                  :helpText => "Hospital of death (<i>Foreign  place of death</i>)", :condition => "__$('person_place_of_death_foreign').value == 'Health Facility'"} %>

                <%= text_field_tag "person[place_of_death_foreign_state]", @person[:place_of_death_foreign_state], {
                  :helpText => "State (<i>Foreign  place of death</i>)",
                  :optional => true} %>

                <%= text_field_tag "person[place_of_death_foreign_district]", @person[:place_of_death_foreign_district], {
                                    :helpText => "District (<i>Foreign place of death</i>)",
                                    :optional => true} %>

                <%= text_field_tag "person[place_of_death_foreign_village]", @person[:place_of_death_foreign_village], {
                                    :helpText => "Village/Town (<i>Foreign place of death</i>)",
                                    :optional => true} %>

                  <%= text_field_tag "person[other_place_of_death]",nil,
                            {:helpText => "Other specify (<i>Place of death</i>) <i style='color: red'>*</i>",
                             :condition => "__$('person_place_of_death_foreign').value.match('Other')"}  %>        
             
            </sub>

            <%= render :partial => "physical_address" %>

            <%= render :partial => "home_address" %>

            <sub id='pregnancy_status' name="Pregnancy status">
               <%= select_tag("person[died_while_pregnant]", options_for_select(['No', 'Yes'], @person[:died_while_pregnant]),
                        :helpText =>"Did the death occur while pregnant?(<i style='font-size: 18px'> at the time of delivery or within 6 weeks after the end of pregnancy</i>)", 
                        :condition =>"validatePregnancy()",
                        :tt_requireNextClick => false,
                        :tt_onUnLoad=>"flagIfOut()") %>
            </sub>
  	</section>

  	<%= render :partial => "parents_details" %>

    <section name="Informant's details">
            <sub id="info_details" name="Details and designation">

                 <%= (f.text_field :informant_last_name, 
                                  :helpText => "Informant's  Surname <i style='color: red'>*</i>",
                                  :allowFreeText =>true,
                                  :ajaxURL => "/get_last_names?search=",
                                  :tt_onLoad=> "removeUnknown();checkSpace()") rescue "" %>

                <%= (f.text_field :informant_first_name,
                                  :helpText => "Informant's First Name <i style='color: red'>*</i>",
                                  :allowFreeText =>true,
                                  :ajaxURL => "/get_first_names?search=",
                                  :tt_onLoad=> "removeUnknown();checkSpace()") rescue "" %>

                <%= (f.text_field :informant_middle_name, 
                                  :helpText => "Informant's Other Names",
                                  :allowFreeText =>true,
                                  :ajaxURL => "/get_first_names?search=",
                                  :optional => :true,
                                  :tt_onLoad=> "removeUnknown();checkSpace()") rescue "" %>

                <%= (f.text_field :informant_id_number, 
                                  :helpText => "Informant's ID No.",
                                  :optional => :true,
                                  :allowFreeText =>true,
                                  :validationRule=>"^[a-zA-Z0-9]{8}$", 
                                  :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters") rescue "" %>

                <input id="person_informant_designation"
                   name="person[informant_designation]"
                  helpText = "Informant's Designation <i style='color: red'>*</i>"
                   value="<%= @person[:informant_designation] rescue nil %>" />

                 <%= text_field_tag "person[informant_office_name]",nil , {
                        :name => "barcode",
                        :helpText=> "Informant's office name <i style='color: red'>*</i>"} %>

                 <%= text_field_tag "person[informant_office_address]",nil , {
                        :name => "barcode",
                        :placeholder => "e.g P.O. Box 200 Lilongwe ",
                        :helpText=> "Informant's office address <i style='color: red'>*</i>"} %>

                 <%= (f.text_field :informant_phone_number,
                                :helpText => "Informant Telephone Number",
                                :field_type =>"number",
                                :tt_pageStyleClass => "Numeric NumbersWithUnknown",
                                :tt_onLoad => "showPhoneSummary()",
                                :optional => :true) rescue "" %>

                 <%= text_field_tag "person[informant_current_country]", nil, {
                        :helpText => "Country (<i>Informant's address</i>)<i style='color: red'>*</i>",
                        :ajaxURL => "/countries?special=true&search_string=",
                        :tt_requireNextClick => false} %>

                <%= text_field_tag "person[informant_foreign_state]", nil, {
                        :helpText => "State (<i>Informant foreign address</i>)",
                        :optional => true,
                        :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'"} %>

               <%= text_field_tag "person[informant_foreign_district]", nil, {
                  :helpText => "District (<i>Informant foreign address</i>)",
                  :optional => true,
                  :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'"} %>

                <%= text_field_tag "person[informant_foreign_village]", nil, {
                        :helpText => "Village/Town (<i>Informant foreign address</i>)",
                        :optional => true,
                        :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'"} %>
            </sub>
            <sub id="Informant verification" name="Verification">
                <%= select_tag("person[informant_signed]", options_for_select(['Yes','No'], @person[:informant_signed]),
                  :helpText =>"Informant Signed?",
                  :tt_requireNextClick => false) %>

                <%= (f.text_field :informant_signature_date,
                                    :helpText => "Date Informant signed",
                                    :condition => "__$('person_informant_signed').value.trim().toLowerCase() == 'yes'",
                                    :field_type => "date",
                                    :tt_onLoad =>"removeUnknown()",
                                    :tt_onUnLoad => "validateDateInformant()") rescue "" %>
            </sub>
    </section>
    <input type="hidden" name="potential_duplicate" id="potential_duplicate" condition="false">

    <section name="Captured data">
        <sub id="captured_data" name="Captured Data">
		     <%= text_field_tag "summary", nil, {:helpText => 'Summary', :tt_onLoad=>"checkForDuplicate();loadMinPersonSummary()"} %>
        </sub>
    </section>  

<% end %>