<script type="text/javascript">

	function loadSummary() {

		    if (__$("keyboard")) {

		        __$("keyboard").style.display = "none";

		    }

		    var tstControl = __$("tt_page_summary")

		    if (tstControl) {

		        tstControl .innerHTML = "";

		        var table = document.createElement("table");
		        table.style.width = "100%";
		        table.style.borderCollapse = "collapse";

		       tstControl .appendChild(table);

		        var tr = document.createElement("tr");

		        table.appendChild(tr);

		        var th = document.createElement("th");
		        th.style.fontSize = "2em";
		        th.style.textAlign = "left";
		        th.style.padding = "20px";
		        th.style.borderBottom = "1px solid #ccc";
		        th.innerHTML = "Person details Summary";

		        tr.appendChild(th);

		        var tr = document.createElement("tr");

		        table.appendChild(tr);

		        var td = document.createElement("td");

		        tr.appendChild(td);

		        var div = document.createElement("div");
		        div.style.width = "100%";
		        div.style.height = "calc(100vh - 180px)";
		        div.style.overflow = "auto";

		        td.appendChild(div);

		        var tableContent = document.createElement("table");
		        tableContent.style.width = "100%";
		        tableContent.style.borderCollapse = "collapse";
		        tableContent.cellPadding = "10";
		        tableContent.style.fontSize = "2em";

		        div.appendChild(tableContent);

		        var k = 0;

		        for (var i = 0; i < tstFormElements.length; i++) {

		            if (tstFormElements[i].value.trim().length <= 0)
		                continue;

		            if (tstFormElements[i].getAttribute("ignore"))
		                continue;

		            if (tstFormElements[i].type == "password")
		                continue;

		            var tr = document.createElement("tr");

		            if (k % 2 > 0)
		                tr.style.backgroundColor = "#eee";

		            tableContent.appendChild(tr);

		            var td = document.createElement("td");
		            td.style.width = "40%";
		            td.style.textAlign = "right";
		            td.style.borderRight = "1px dotted #ccc";
		            td.style.borderBottom = "1px dotted #ccc";
		            td.style.color = "#333";
		            td.style.verticalAlign = "top";
		            td.innerHTML = tstFormElements[i].getAttribute("helpText").beautify("0.9em", "0.55em");

		            tr.appendChild(td);

		            var td = document.createElement("td");
		            td.style.textAlign = "left";
		            td.style.borderBottom = "1px dotted #ccc";
		            td.style.verticalAlign = "top";

		            if (tstFormElements[i].tagName.toLowerCase() == "select") {

		                var opts = tstFormElements[i].selectedOptions;

		                var arr = [];

		                for (var j = 0; j < opts.length; j++) {

		                    arr.push(opts[j].innerHTML);

		                }

		                td.innerHTML = arr.join(",");

		            } else {

		                td.innerHTML = tstFormElements[i].value;

		            }

		            tr.appendChild(td);

		            var td = document.createElement("td");
		            td.style.textAlign = "right";
		            td.style.borderBottom = "1px dotted #ccc";

		            var button = document.createElement("button");

		            button.innerHTML = "Change";

		            button.className = "blue";

		            button.setAttribute("onclick","gotoPage("+i+")");

		            td.appendChild(button);


		            
		            //tr.appendChild(td);




		            k++;

		        }

		    }

		}
	
		function setAjaxUrl(case_number){

				switch(case_number) {
						case -1:
							var place = __$('touchscreenInput' + tstCurrentPage).value;

					      	__$("person_place_of_death_district").setAttribute("ajaxURL","/districts?place="+encodeURIComponent(place)+"&search_string=");

					        break;
					    case 0:
					      	var district = __$('touchscreenInput' + tstCurrentPage).value;

					      	__$("person_hospital_of_death_name").setAttribute("ajaxURL","/facilities?district="+district+"&search_string=");

					      	__$("person_place_of_death_ta").setAttribute("ajaxURL","/tas?district="+district+"&search_string=");

					        break;
					    case 1:

					    	var ta = __$('touchscreenInput' + tstCurrentPage).value;

					    	var district = __$('person_place_of_death_district').value

					    	__$("person_place_of_death_village").setAttribute("ajaxURL","/villages?district="+district+"&ta="+ta + "&search_string=")

					        break;
					    case 2:

					    	var district = __$('touchscreenInput' + tstCurrentPage).value;

					      	__$("person_home_ta").setAttribute("ajaxURL","/tas?district="+district + "&search_string=")

					    	break;

					    case 3:

					    	var ta = __$('touchscreenInput' + tstCurrentPage).value;

					    	var district = __$('person_home_district').value

					    	__$("person_home_village").setAttribute("ajaxURL","/villages?district="+district+"&ta="+ta + "&search_string=")

					        break;
					    case 4:

					    	var district = __$('touchscreenInput' + tstCurrentPage).value;

					      	__$("person_informant_current_ta").setAttribute("ajaxURL","/tas?district="+district + "&search_string=")

					    	break;

					    case 5:

					    	var ta = __$('touchscreenInput' + tstCurrentPage).value;

					    	var district = __$('person_informant_current_district').value

					    	__$("person_informant_current_village").setAttribute("ajaxURL","/villages?district="+district+"&ta="+ta + "&search_string=")

					        break;
				} 

		}

		function monthDaysKeyPad() {

		    var keyboard = __$("keyboard");

		    __$("inputFrame" + tstCurrentPage).style.height = "50px";

		    keyboard.innerHTML = "";

		    var keyPadDiv = document.createElement("div");

		    keyPadDiv.style.width = "40%";

		    keyPadDiv.style.float = "left";

		    keyboard.appendChild(keyPadDiv);

		    var months = {
		        "January": 0,
		        "February": 1,
		        "March": 2,
		        "April": 3,
		        "May": 4,
		        "June": 5,
		        "Juy": 6,
		        "August": 7,
		        "September": 8,
		        "October": 9,
		        "November": 10,
		        "December": 11
		    }

		    var year = __$("person_birth_year").value;

		    var month = __$("person_birth_month").value;

		    var nextMonthNumber = parseInt(months[month]) + 2;

		    var date = new Date(year + "-" + padZeros(nextMonthNumber, 2) + "-" + "01");

		    date.setDate(date.getDate() - 1);

		    var lateDayOfSelectedMonth = date.getDate()

		    var table = document.createElement("table");

		    table.style.width = "100%";

		    keyPadDiv.appendChild(table);


		    var tr;

		    for (var i = 1; i <= 31; i++) {

		        if ((i - 1) % 7 == 0) {

		            tr = document.createElement("tr");

		            table.appendChild(tr);

		        }

		        var td = document.createElement("td");

		        tr.appendChild(td);

		        var button = document.createElement("button");

		        td.appendChild(button);


		        if (i <= 9) {

		            button.innerHTML = "0" + i;

		            button.setAttribute("onclick", '__$("touchscreenInput"+tstCurrentPage).value ="0"+' + i);

		        } else {

		            button.innerHTML = i;

		            button.setAttribute("onclick", '__$("touchscreenInput"+tstCurrentPage).value =' + i);

		        }

		        if (i > parseInt(lateDayOfSelectedMonth)) {

		            button.className = "gray";

		            button.removeAttribute("onclick");
		        }
		        else {

		            button.className = "blue";

		        }

		    }

		    var unknownButton = document.createElement("button");

		    unknownButton.innerHTML = "Unknown";

		    unknownButton.style.float = "right";

		    unknownButton.style.marginTop = "10%";

		    unknownButton.setAttribute("onclick", '__$("touchscreenInput"+tstCurrentPage).value ="Unknown"');

		    keyboard.appendChild(unknownButton);

		}

		function setAgeValues() {

		    var birthyear = __$("person_birth_year").value;

		    var birthmonth = __$('person_birth_month').value;

		    var birthday = __$("person_birth_day").value;

		    if (birthday.trim().toLowerCase() == "unknown") {

		        birthday = "05";

		        __$("person_birthdate_estimated").value = 1;

		    } else {

		        __$("person_birthdate_estimated").value = 0;

		    }

		    var months = {
		        "January": 0,
		        "February": 1,
		        "March": 2,
		        "April": 3,
		        "May": 4,
		        "June": 5,
		        "Juy": 6,
		        "August": 7,
		        "September": 8,
		        "October": 9,
		        "November": 10,
		        "December": 11
		    }

		    var birthdate = birthyear + "-" + padZeros(parseInt(months[birthmonth]) + 1, 2) + "-" + padZeros(parseInt(birthday), 2);

		    __$("person_birthdate").value = birthdate;


		}

		function setEstimatedAgeValue() {

		    __$("person_birth_year").setAttribute("disabled", true);

		    __$("person_birth_month").setAttribute("disabled", true);

		    __$("person_birth_day").setAttribute("disabled", true);

		    if (__$("person_birthdate") && __$("person_age_estimate") && __$("person_birthdate_estimated")) {

		        if (__$("person_age_estimate").value.trim().length > 0) {

		            __$("person_birthdate_estimated").value = 1;

		            var year = (new Date()).getFullYear() - parseInt(__$("person_age_estimate").value.trim());

		            __$("person_birthdate").value = year + "-07-15";

		            console.log( __$("person_birthdate").value);

		        } else {

		            __$("person_estimate").value = 0;

		        }

		    }

		}

</script>
<%= form_for @person, :url => '/people/create', :method => :post do |f| %>

        <section name="Personal details of deceased">
            <sub id="person_details" name="Details of deceased">
                <%= (f.text_field :last_name, :helpText => "Surname",
                                  :allowFreeText =>true, :ajaxURL => "/get_last_names?search=", :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')") rescue "" %>

                <%= (f.text_field :first_name,:helpText => "First Name",:allowFreeText =>true,  :ajaxURL => "/get_first_names?search=", :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')") rescue "" %>

                <%= (f.text_field :middle_name, :helpText => "Middle Name",:allowFreeText =>true, :optional => :true, :ajaxURL => "/get_first_names?search=",:tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')" ) rescue "" %>

                <%= text_field_tag "person[id_number]",nil , {:helpText => "ID Number", :optional => true, :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')"} %>

                <%= (f.text_field :nationality_id,:helpText => "Nationality",:ajaxURL => "/nationalities?search_string=", :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')") rescue "" %>

                <%= select_tag("person[gender]",options_for_select([" ", "Female", "Male"], @person[:gender]),:helpText =>"Gender", :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')") %>

                <%= text_field_tag "person[birth_year]", nil, {:helpText => 'Year of Birth', :field_type => 'number', :absoluteMin => "1890", :min => "1940", :absoluteMax => Date.today.year, :tt_pageStyleClass => "Numeric NumbersOnly", :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')"}  %>

                <%= select_tag "person[birth_month]", options_for_select(["January","February","March","April","May","June","July","August","September","October","November","December"], " "), {:helpText => 'Month of Birth', :condition => '$("person_birth_year").value.toLowerCase() != "unknown"',:validationJS => "validateDOB();",:validationMessage => 'Please enter a valid date', :tt_onLoad =>"__$('keyboard').style.display = 'none'",:tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')"}%>

                <%= text_field_tag "person[age_estimate]", nil, {:helpText => 'Age Estimate', :absoluteMin => 1, :absoluteMax => 120, :field_type => 'number', :condition => '$("person_birth_year").value == "Unknown"', :tt_onLoad => "$('nextButton').style.display = 'block';", :tt_pageStyleClass => "Numeric NumbersOnly",:tt_onUnLoad => "setEstimatedAgeValue()",:tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')"} %>

                <%= text_field_tag "person[birth_day]",  nil, :field_type => 'number', :helpText => 'Birth Day', :condition => '($("person_birth_year").value != "Unknown") && ($("person_birth_month").value != "Unknown")', :tt_onLoad =>  "monthDaysKeyPad();$('nextButton').style.display = 'block';showCategory('Section 1 : Personal Details of deceased')" ,:tt_onUnLoad => "setAgeValues()"%>

                <%= (f.hidden_field :birthdate) rescue "" %>

                <%= f.hidden_field :birthdate_estimated rescue "" %>

                <%= text_field_tag "person[birth_certificate_number]",nil , {:helpText => "Birth Certificate ID Number", :optional => true, :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')"} %>
            </sub>

            <sub id="death_details" name="Details of death">
                <%= (f.text_field :date_of_death,:helpText => "Date of Death",:field_type => "date" ,:tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')") rescue "" %>

                <% if site_type == "facility" %>
                    <%= (f.hidden_field :place_of_death, :value => "Hospital/Institution")  %>
                    <%= (f.hidden_field :place_of_death_district, :value => @district.name) %>
                    <%= (f.hidden_field :hospital_of_death, :value => @facility.name) %>
                <% else %>
                    <%= select_tag("person[place_of_death]", options_for_select(["","Hospital/Institution", "Home","Other"], @person[:place_of_death]),:id=> "person_place_of_death",:helpText =>"Place of Death", :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')", :tt_onUnLoad =>"setAjaxUrl(-1)") %>
                    <%= (f.text_field :place_of_death_district,:helpText => "Place of Death District" ,  :tt_onUnLoad => "setAjaxUrl(0)",:tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')") rescue "" %>
                    <%= (f.text_field :hospital_of_death_name,:helpText => "Hospital/Instution of death",:condition => "__$('person_place_of_death').value.match('Hospital')", :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')") rescue "" %>
                <% end %>


                <%= (f.text_field :place_of_death_ta,:helpText => "Traditional authority of death",:condition => "__$('person_place_of_death').value.match('Home')", :tt_onUnLoad => "setAjaxUrl(1)",:tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')") rescue "" %>

                <%= (f.text_field :place_of_death_village,:helpText => "Village of death",:condition => "__$('person_place_of_death').value.match('Home')", :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')") rescue "" %>

                <%= (f.text_field :other_place_of_death,:helpText => "Other place of death specify",:condition => "__$('person_place_of_death').value.match('Other')") rescue "" %>
            </sub>

            <sub id="home_address" name="Home address">

            	 <%= text_field_tag "person[home_country]", nil, {:helpText => "Home Country",:ajaxURL => "/nationalities?search_string=",
                                  :tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')"} %>

   				<%= text_field_tag "person[home_district]", nil, {:helpText => "Home district",
                                :condition => "__$('person_home_country').value.toLowerCase().match('malawi')",
                                :ajaxURL =>"/districts?search_string=",:tt_onUnLoad => "setAjaxUrl(2)"} %>

                  <%= text_field_tag "person[home_ta]", nil, {:helpText => "Home Traditional Authority",
                                :condition => "__$('person_home_country').value.toLowerCase().match('malawi')",
                                :tt_onUnLoad => "setAjaxUrl(3)",:tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')"} %>

               	<%= text_field_tag "person[home_village]", nil, {:helpText => "Home Village",
                                :condition => "__$('person_home_country').value.toLowerCase().match('malawi')"} %>
            </sub>

            <sub id='pregnancy_status' name="Pregnancy status">
               <%= select_tag("person[death_by_pregnancy]", options_for_select(['Yes', 'No'], @person[:death_by_pregnancy]),
                        :helpText =>"Did the death occur while pregnant?(<i style='font-size: 12px'> at the time of delivery or within 6 weeks after the end of pregnancy</i>)", :condition =>"__$('person_gender').value.trim().toLowerCase()=='female'",:tt_onLoad =>"showCategory('Section 1 : Personal Details of deceased')") %>
            </sub>
        </section>

        <section name="Details of parents">
            <sub id="details_mother" name="Details of mother">
                <%= (f.text_field :mother_last_name, :helpText => "Mother Last Name",:optional => :true,:allowFreeText =>true, :ajaxURL => "/get_last_names?search=", :tt_onLoad =>"showCategory('Section 1 :Details of deceased person parents')") rescue "" %>

                <%= (f.text_field :mother_first_name,:helpText => "Mother First Name",:allowFreeText =>true,:optional => :true,:ajaxURL => "/get_first_names?search=",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person parents')") rescue "" %>

                <%= (f.text_field :mother_middle_name, :helpText => "Mother Middle Name",:allowFreeText =>true, :optional => :true, :ajaxURL => "/get_first_names?search=" ,:tt_onLoad =>"showCategory('Section 1 : Details of deceased person parents')") rescue "" %>
            </sub>
            <sub id="details_father" name="Details of father">
                <%= (f.text_field :father_last_name,:helpText => "Father Last Name",:allowFreeText =>true,:optional => :true, :ajaxURL => "/get_last_names?search=",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person parents')") rescue "" %>

                <%= (f.text_field :father_first_name,:helpText => "Father First Name",:allowFreeText =>true,:optional => :true,:ajaxURL => "/get_first_names?search=",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person parents')") rescue "" %>

                <%= (f.text_field :father_middle_name, :helpText => "Father Middle Name",:allowFreeText =>true, :optional => :true, :ajaxURL => "/get_first_names?search=",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person parents')" ) rescue "" %>
            </sub>
        </section>

        <section name="Informant's details">
            <sub id="info_details" name="Basic demographics">
                <%= (f.text_field :informant_last_name, :helpText => "Informant Last Name",:allowFreeText =>true,:ajaxURL => "/get_last_names?search=",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')") rescue "" %>

                <%= (f.text_field :informant_first_name,:helpText => "Informant First Name",:allowFreeText =>true,:ajaxURL => "/get_first_names?search=",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')") rescue "" %>

                <%= (f.text_field :informant_middle_name, :helpText => "Informant Middle Name",:allowFreeText =>true,:ajaxURL => "/get_first_names?search=",:optional => :true,:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')") rescue "" %>

                <%= select_tag("person[informant_relationship_to_deceased]", options_for_select(['', 'Husband', 'Wife',
                             'Father', 'Mother',
                             'Grandfather', 'Grandmother',
                             'Brother', 'Sister',
                             'Son', 'Daughter',
                             'Nephew', 'Niece',
                             'Uncle', 'Aunt',
                             'Other'], @person[:informant_relationship_to_deceased]),:helpText =>"Relationship to deceased",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')") %>

                <%= (f.text_field :informant_relationship_to_deceased_other,:condition=> "__$('person_informant_relationship_to_deceased').value.match('Other')",:helpText => "Relationship to Deceased specify",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')") rescue "" %>
            </sub>
            <sub id="info_home_address" name="Address">

   				<%= text_field_tag "person[informant_current_district]", nil, {:helpText => "Informant current district",:ajaxURL =>"/districts",:tt_onUnLoad => "setAjaxUrl(4)",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')"} %>

                  <%= text_field_tag "person[informant_current_ta]", nil, {:helpText => "Informant current TA",:tt_onUnLoad => "setAjaxUrl(5)",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')"} %>
    			
    			<%= text_field_tag "person[informant_current_village]", nil, {:helpText => "Informant current village",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')"} %>

                <%= (f.text_field :informant_addressline1,:helpText => "Informant Address Line 1",:placeholder => "P.O. box 200",:optional => :true,:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')") rescue "" %>

                <%= (f.text_field :informant_addressline2,:helpText => "Informant Address Line 2",:placeholder => "Street / Company /Building",:optional => :true,:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')") rescue "" %>

                <%= (f.text_field :informant_city,:helpText => "Informant city",:placeholder => "Location e.g Area 3",:optional => :true,:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')") rescue "" %>

                <%= (f.text_field :informant_phone_number,:helpText => "Informant phone number", :field_type =>"number",
                                  :tt_pageStyleClass => "Numeric NumbersWithUnknown",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')") rescue "" %>
            </sub>
            <sub id="Informant verification" name="Verification">
                <%= select_tag("person[informant_signed]", options_for_select(['Yes','No'], @person[:informant_signed]),:helpText =>"Informant Signed",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person's Informant')") %>

                <%= (f.text_field :informant_signature_date,:helpText => "Date Informant Signed",:condition => "__$('person_informant_signed').value.trim().toLowerCase() == 'yes'",
                                      :field_type => "date",:tt_onLoad =>"showCategory('Section 1 : Details of deceased person Informant')") rescue "" %>
            </sub>
        </section>

    <% if site_type == "dc" %>

        <section name="Verification">
            <sub id="village_headman_verification" name="Village head verification">
                <%= select_tag("person[headman_verified]", options_for_select(['Yes','No'], @person[:headman_verified]),:helpText =>"Village leader Signed",:tt_onLoad =>"showCategory('Verification by Village Headman/Block Leader')") %>

                <%= (f.text_field :headman_verification_date,:helpText => "Date Headman verified",
                                  :field_type => "date",:condition => "__$('person_headman_verified').value.trim().toLowerCase() =='yes'",
                                  :tt_onLoad =>"showCategory('Verification by Village Headman/Block Leader')") rescue "" %>
            </sub>
            <sub id="church_verification" name="Church verification">
                <%= select_tag("person[church_verified]", options_for_select(['Yes','No'], @person[:church_verified]),:helpText =>"Church leader Signed",:tt_onLoad =>"showCategory('Verification by Village Headman/Block Leader')") %>

                <%= (f.text_field :church_verification_date,:helpText => "Date Church leader verified",
		                          :field_type => "date",:condition => "__$('person_church_verified').value.trim().toLowerCase() =='yes'",:tt_onLoad =>"showCategory('Verification by Village Headman/Block Leader')") rescue "" %>
            </sub>
        </section>
    <% end %>

    <% if false %>

        <section name="Acknowledgement of Receipt">
        	<sub id="acknowledgement_of_receipt" name="Acknowledgement of Receipt">
        		<%= (f.text_field :acknowledgement_of_receipt_date,:helpText => "Acknowledgement of receipt date",
                                  :field_type => "date",:tt_onLoad =>"showCategory('Section 3 : Acknowledgement of receipt')") rescue "" %>
        	</sub>
        </section>


     <% end %>

        <section name="Summary">
            <sub id="summary" name="Summary">
		        <%= text_field_tag "summary", nil, {:helpText => 'Summary', :tt_onLoad=>"loadSummary()"} %>
            </sub>
        </section>

<% end %>