<script type="text/javascript">
	var site_type = "<%= @site_type %>";
    String.prototype.capitalize = function(lower) {
        return (lower ? this.toLowerCase() : this).replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
    };
</script>
<style type="text/css">
    .statusLabel {
      position: absolute;
      width: 70% !important;
      left: -300px;
  }
</style>
<script src="/assets/edrs.js"></script>
<script src="/assets/form.js"></script>

<%= form_for @person, :url => '/people/create', :method => :post do |f| %>
	<input type="hidden" name="person[registration_type]" id="person_registration_type" value="<%=params[:registration_type]%>">
	<input type="hidden" name="person[delayed_registration]" id="person_delayed_registration" value="No">
  <input type="hidden" name="person[potential_duplicate]" id="potential_duplicate" condition="false">
  <input type="hidden" name="person[is_exact_duplicate]" id="person_is_exact_duplicate" condition="false">
	<% if params[:registration_type].include? "Missing"%>
		<section name="Proof of reported missing">
			<sub id="person_court_order_section" name="Documents attached">
				<%= select_tag("person[court_order]",options_for_select([" ", "Yes", "No"], nil),
                      :helpText =>"Court order  or relevant documents attached?",
                      :tt_requireNextClick => false, 
                      :tt_onUnLoad=>"courtOrder()",
                      :tt_onLoad=>"overRideCancel()") %>
        <%= text_field_tag "person[court_order_number]", nil, {
                              :helpText => "Court order number <i style='color: red'>*</i>",
                              :condition=> "__$('person_court_order').value == 'Yes'"} %>
			</sub>
		</section>
	<%end%>
	<% if params[:registration_type].include? "Abnormal Deaths"%>
		<section name="Police report">
			<sub id="person_police_report_section" name="Police report attached">
				<%= select_tag("person[police_report]",options_for_select([" ", "Yes", "No"], nil),
                      :helpText =>"Police report attached?",:tt_requireNextClick => false, :tt_onUnLoad=>"policeReport()",:tt_onLoad=>"overRideCancel()") %>
        <%= text_field_tag "person[police_report_number]", nil, {
                              :helpText => "Police report number <i style='color: red'>*</i>",
                              :condition=> "__$('person_police_report').value == 'Yes'"} %>
			</sub>
		</section>
	<%end%>
	<% if true %>
		<section name="Barcode">
			<sub id="person_barcode_section" name="Barcode">
				<%= text_field_tag "person[barcode]",nil , {:helpText=> "Scan Form Barcode <i style='color: red'>*</i>",:tt_pageStyleClass =>"NoKeyboard",:tt_onUnLoad=>"removeDollar();checkBarcode()",:tt_onLoad=>"overRideCancel()"} %>
			</sub>
		</section>
	<%end%>
    <section name="Personal details of deceased">
           <%= render :partial =>"name_and_dob" %>

            <sub id="death_details" name="Details of death">
                <%= text_field_tag "person[date_of_death]",nil,
                				  {:helpText => "Date of Death <i style='color: red'>*</i>",
                                    :field_type => "date" ,
                                    :tt_onLoad =>"removeUnknown()",
                                    :tt_onUnLoad => "validateDeathDate()"}%>
                                    
                <input type="hidden" id="person_place_of_death_country" name="person[place_of_death_country]" value="Malawi">
                <% if @site_type == "facility" && params[:registration_type] != 'Dead on Arrival' %>
                    <%= (f.hidden_field :place_of_death, :value => "Health Facility")  %>
                    <%= (f.hidden_field :place_of_death_district, :value => @district.name) %>
                    <%= (f.hidden_field :hospital_of_death, :value => @facility.name) %>
                <% elsif @site_type =="dc" || @site_type =="remote" || params[:registration_type] == 'Dead on Arrival' %>
                    <% if params[:registration_type] == 'Dead on Arrival' %>
                        <%= select_tag("person[place_of_death]", options_for_select(["","Home","Other"], @person[:place_of_death]),
                              :id=> "person_place_of_death",
                              :helpText =>"Place of Death <i style='color: red'>*</i>", 
                              :tt_onUnLoad =>"setAjaxUrl(-1)",
                              :tt_requireNextClick => false,
                              :tt_pageStyleClass =>"NoKeyboard") %>
                <%else%>
                        <%= select_tag("person[place_of_death]", options_for_select(["","Health Facility", "Home","Other"], @person[:place_of_death]),
                              :id=> "person_place_of_death",
                              :helpText =>"Place of Death <i style='color: red'>*</i>", 
                              :tt_onUnLoad =>"setAjaxUrl(-1)",
                              :tt_requireNextClick => false,
                              :tt_pageStyleClass =>"NoKeyboard") %>
                    <%end%>
                    <%= text_field_tag "person[place_of_death_district]", nil, {
                    					:helpText => "Place of Death District <i style='color: red'>*</i>" , 
                    					:tt_onUnLoad => "setAjaxUrl(0)",
                              :tt_requireNextClick => false} %>

                    <%= text_field_tag "person[hospital_of_death]", nil, {
                    					:helpText => "Health Facility (<i>Place of death</i>) <i style='color: red'>*</i>",
                    					:condition => "__$('person_place_of_death').value.trim()=='Health Facility'",
                              :tt_requireNextClick => false} %>

                    <%= text_field_tag "person[place_of_death_ta]", nil, {
                    					:helpText => "Traditional authority (<i>Place of death</i>) <i style='color: red'>*</i>",
                    					:condition => "__$('person_place_of_death').value.match('Home')", 
                    					:tt_onUnLoad => "setAjaxUrl(1)",
                              :tt_requireNextClick => false} %>

                     <%= text_field_tag "person[other_place_of_death_ta]", nil, {
                     					:helpText => "Other Traditional Authority specify (<i>Place of death</i>) <i style='color: red'>*</i>",
                     					:condition => "__$('person_place_of_death_ta').value =='Other'"} %>

               		<%= text_field_tag "person[place_of_death_village]", nil, {
               							:helpText => "Village (<i>Place of death</i>) <i style='color: red'>*</i>",
               							:condition => "__$('person_place_of_death_ta').value.length > 0 && __$('person_place_of_death_ta').value != 'Other'",
                            :tt_requireNextClick => false} %>

               		<%= text_field_tag "person[other_place_of_death_village]", nil, {
               							:helpText => "Other Village specify (<i>Place of death</i>) <i style='color: red'>*</i>",
               							:condition => "__$('person_place_of_death_ta').value =='Other' || __$('person_place_of_death_village').value =='Other'"} %>

                	<%= (f.text_field :other_place_of_death,
                						:helpText => "Other specify (<i>Place of death</i>) <i style='color: red'>*</i>",
                						:condition => "__$('person_place_of_death').value.match('Other')",:tt_onLoad=> "removeUnknown();checkSpace()") rescue "" %>
                <% end %>

                      
            </sub>

            <%= render :partial => "physical_address" %>

            <%= render :partial => "home_address" %>

            <sub id='pregnancy_status' name="Pregnancy status">
               <%= select_tag("person[died_while_pregnant]", options_for_select(['','No', 'Yes'], (@person[:died_while_pregnant] rescue 'N/A')),
                        :helpText =>"Did the death occur while pregnant?(<i style='font-size: 18px'> at the time of delivery or within 6 weeks after the end of pregnancy</i>)", 
                        :condition =>"validatePregnancy()",
                        :tt_requireNextClick => false,
                        :tt_onUnLoad=>"flagIfOut()") %>
            </sub>
  	</section>

    <%= render :partial => "parents_details" %>

    <%= render :partial => "informant" %>

  	<%= render :partial => "verification" %>

<% end %>