<script type="text/javascript" src="/javascripts/edrs.js"></script>

<script type="text/javascript">
	function loadPersonSummary(){
		if (__$("keyboard")) {
			__$("keyboard").style.display = "none";
		}

		var tstControl = __$("tt_page_summary");
		if (tstControl) {
		    tstControl.innerHTML = "";
		    tstControl.style.backgroundColor ="#e6e6e6";

		        var table = document.createElement("table");
		        table.style.width = "100%";
		        table.style.borderCollapse = "collapse";

		       tstControl.appendChild(table);

		        var tr = document.createElement("tr");

		        table.appendChild(tr);

		        var th = document.createElement("th");
		        th.style.fontSize = "1.2em";
		        th.style.textAlign = "left";
		        th.style.padding = "20px";
		        th.style.borderBottom = "1px solid #ccc";
		        th.innerHTML = "SECTION 1: Particulars of the deceased";

		        tr.appendChild(th);

		        var tr = document.createElement("tr");

		        table.appendChild(tr);

		        var td = document.createElement("td");

		        tr.appendChild(td);

		        var div = document.createElement("div");
		        div.style.width = "100%";
		        div.style.height = "calc(100vh - 180px)";
		        div.style.overflow = "auto";

		        td.appendChild(div);

		        var tableContent = document.createElement("table");
		        tableContent.style.width = "98%";
		        tableContent.style.borderCollapse = "collapse";
		        tableContent.cellPadding = "2";
		        tableContent.style.border = "1px solid black"
		        tableContent.style.fontSize = "1em";
		        tableContent.style.margin = "auto";

		        div.appendChild(tableContent);


		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("th")
		        td.innerHTML = "Part 1 <br/> PERSONAL DETAILS OF DECEASED";
		        td.rowSpan ="11";
		        td.style.width ="10%";
		        td.style.border = "1px solid black";
		        tr.appendChild(td)
		        var td = document.createElement("td")
		        td.innerHTML = "1";
		        td.style.border = "1px solid black";
		        tr.appendChild(td);
		        var td = document.createElement("td")
		        td.innerHTML = "Surname";
		        td.style.fontWeight = "bold";
		        td.style.border = "1px solid black";
		        tr.appendChild(td);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan = "2";
		        td.innerHTML = __$('person_last_name') && __$('person_last_name').value ? __$("person_last_name").value : "";
		        tr.appendChild(td)
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "First name";
		        td.style.fontWeight = "bold";
		        tr.appendChild(td);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan = "2";
		        td.innerHTML =__$('person_first_name') && __$('person_first_name').value ? __$("person_first_name").value : "";
		        tr.appendChild(td)
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Other names";
		        tr.appendChild(td);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$('person_middle_name') && __$('person_middle_name').value ? __$("person_middle_name").value : "";;
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "Barcode No";
		        td.style.fontWeight = "bold";
		        tr.appendChild(td);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = (__$('person_barcode') && __$('person_barcode').value ? __$("person_barcode").value : "");
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "2";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "ID No.";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$('person_id_number') && __$('person_id_number').value ? __$("person_id_number").value : "";
		        tr.appendChild(td);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "3";
		        tr.appendChild(td);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Nationality";
		        td.colSpan ="2";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$('person_nationality') && __$('person_nationality').value ? __$("person_nationality").value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "4";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Sex";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$('person_gender') && __$('person_gender').value ? __$("person_gender").value : "";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "5";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "Date of Birth";
		        td.style.fontWeight = "bold";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Year";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$('person_birth_year') && __$('person_birth_year').value ? __$("person_birth_year").value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "Month";
		        td.style.fontWeight = "bold";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$('person_birth_month') && __$('person_birth_month').value ? __$("person_birth_month").value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Day";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$('person_birth_day') && __$('person_birth_day').value ? __$("person_birth_day").value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "6";
		        td.rowSpan="2"
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Birth Certificate No.";
		        td.rowSpan="2"
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.rowSpan="2"
		        td.innerHTML = __$('person_birth_certificate_number') && __$('person_birth_certificate_number').value ? __$("person_birth_certificate_number").value : "";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "7";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Date of death";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan ="6";
		        td.innerHTML = __$("person_date_of_death") && __$("person_date_of_death").value ? (new Date(__$('person_date_of_death').value)).format() : "";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.rowSpan ="4";
		        td.innerHTML = "8";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Place of Death";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan ="9";
		        td.innerHTML =__$("person_place_of_death") && __$("person_place_of_death").value ? __$('person_place_of_death').value : "";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Health Facility";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan ="9";
		        td.innerHTML =__$("person_hospital_of_death") && __$("person_hospital_of_death").value ? __$('person_hospital_of_death').value : "";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Home";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "District";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML =__$("person_place_of_death").value=="Home" &&__$("person_place_of_death_district").value  ? __$('person_place_of_death_district').value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "TA";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        if(__$('person_place_of_death_ta')){
		        	if(__$("person_place_of_death_ta").value == "Other"){
		        		td.innerHTML =__$("person_other_place_of_death_ta").value;
		        	}else{
		        		td.innerHTML =__$("person_place_of_death_ta").value;
		        	}
		        }
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Village";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan ="4";
		         if(__$('person_place_of_death_village')){
		        	if(__$("person_place_of_death_village").value == "Other"){
		        		td.innerHTML =__$("person_other_place_of_death_village").value;
		        	}else{
		        		td.innerHTML =__$("person_place_of_death_village").value;
		        	}
		        }
		        tr.appendChild(td);


		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Other";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan ="9";
		        td.innerHTML =__$("person_other_place_of_death") && __$("person_other_place_of_death").value ? __$('person_other_place_of_death').value : "";
		        tr.appendChild(td);

		         var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "9";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Physical address";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "District";
		        td.style.fontWeight = "bold";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML =__$("person_current_district") && __$("person_current_district").value ? __$('person_current_district').value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "TA";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        if(__$('person_current_ta')){
		        	if(__$("person_current_ta").value == "Other"){
		        		td.innerHTML =__$("person_other_current_ta").value;
		        	}else{
		        		td.innerHTML =__$("person_current_ta").value;
		        	}
		        }
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Village";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan ="4";
		        if(__$('person_current_village')){
		        	if(__$("person_current_village").value == "Other"){
		        		td.innerHTML =__$("person_other_current_village").value;
		        	}else{
		        		td.innerHTML =__$("person_current_village").value;
		        	}
		        }
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "10";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Home address";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "District";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML =__$("person_home_district") && __$("person_home_district").value ? __$('person_home_district').value : "";
		        tr.appendChild(td);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "TA";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        if(__$('person_home_ta')){
		        	if(__$("person_home_ta").value == "Other"){
		        		td.innerHTML =__$("person_other_home_ta").value;
		        	}else{
		        		td.innerHTML =__$("person_home_ta").value;
		        	}
		        }
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Village";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan ="4";
		        if(__$('person_home_village')){
		        	if(__$("person_home_village").value == "Other"){
		        		td.innerHTML =__$("person_other_home_village").value;
		        	}else{
		        		td.innerHTML =__$("person_home_village").value;
		        	}
		        }
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "11";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.colSpan ="9";
		        td.style.border = "1px solid black";
		        td.innerHTML = "In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML =__$("person_died_while_pregnant") && __$("person_died_while_pregnant").value ? __$('person_died_while_pregnant').value : "";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("th");
		        td.style.border = "1px solid black";
		        td.innerHTML = "Part 2 <br/> DETAILS OF PARENTS";
		        td.rowSpan ="4"
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "1";
		         td.rowSpan ="2"
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Mother's name";
		        td.colSpan ="11";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Surname";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_mother_last_name") && __$("person_mother_last_name").value ? __$('person_mother_last_name').value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "First name ";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_mother_first_name") && __$("person_mother_first_name").value ? __$('person_mother_first_name').value : "";
		        tr.appendChild(td);

		         var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Other names ";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_mother_middle_name") && __$("person_mother_middle_name").value ? __$('person_mother_middle_name').value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "2";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "ID No.";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_mother_id_number") && __$("person_mother_id_number").value ? __$('person_mother_id_number').value : "";
		        tr.appendChild(td);

		         var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "3";
		        td.rowSpan ="2"
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Father's name";
		        td.colSpan ="11";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Surname";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_father_last_name") && __$("person_father_last_name").value ? __$('person_father_last_name').value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "First name ";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_father_first_name") && __$("person_father_first_name").value ? __$('person_father_first_name').value : "";
		        tr.appendChild(td);

		         var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Other names";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_father_middle_name") && __$("person_father_middle_name").value ? __$('person_father_middle_name').value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "4";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "ID No.";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_father_id_number") && __$("person_father_id_number").value ? __$('person_father_id_number').value : "";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("th");
		        td.style.border = "1px solid black";
		        td.innerHTML = "Part 3 <br/> DETAILS OF INFORMANT";
		        td.rowSpan ="7"
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "1";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Surname";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_informant_last_name") &&__$("person_informant_last_name").value ? __$('person_informant_last_name').value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "First name ";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_informant_first_name") && __$("person_informant_first_name").value ? __$('person_informant_first_name').value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.fontWeight = "bold";
		        td.style.border = "1px solid black";
		        td.innerHTML = "Other names";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_informant_middle_name") && __$("person_informant_middle_name").value ? __$('person_informant_middle_name').value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "2";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "ID No.";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = __$("person_informant_id_number") && __$("person_informant_id_number").value ? __$('person_informant_id_number').value : "";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "3";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "Relationship to the deceased";
		        td.style.fontWeight = "bold";
		        td.colSpan ="2";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan ="8";
		        td.innerHTML = __$("person_informant_relationship_to_deceased") && __$("person_informant_relationship_to_deceased").value ? __$('person_informant_relationship_to_deceased').value : "";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "4";
		        td.rowSpan ="2";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Address";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "District";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML =__$("person_informant_current_district") && __$("person_informant_current_district").value ? __$('person_informant_current_district').value : "";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "TA";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        if(__$('person_informant_current_ta')){
		        	if(__$("person_informant_current_ta").value == "Other"){
		        		td.innerHTML =__$("person_other_informant_current_ta").value;
		        	}else{
		        		td.innerHTML =__$("person_informant_current_ta").value;
		        	}
		        }
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Village";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan ="5";
		        if(__$('person_informant_current_village')){
		        	if(__$("person_informant_current_village").value == "Other"){
		        		td.innerHTML =__$("person_other_informant_current_village").value;
		        	}else{
		        		td.innerHTML =__$("person_informant_current_village").value;
		        	}
		        }
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "Postal address";
		        td.style.fontWeight = "bold";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        var address = (__$('person_informant_addressline1') && __$('person_informant_addressline1').value ? __$('person_informant_addressline1').value  : "");
		        address = (__$('person_informant_city') && __$('person_informant_city').value ? address + __$('person_informant_city').value : address);
		        td.innerHTML = address;
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "Telephone number";
		        td.style.fontWeight = "bold";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "5";
		        td.rowSpan = "3"
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan= "10"
		        td.innerHTML = "I certify that the above information is correct and I am aware that I could face criminal prosecution if this information is incorrect in material respect.";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.innerHTML = "Informant Signed";
		        td.style.fontWeight = "bold";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan= "10"
		        td.innerHTML = __$("person_informant_signed") && __$("person_informant_signed").value ? __$('person_informant_signed').value : "No";
		        tr.appendChild(td);

		        var tr = document.createElement("tr");
		        tableContent.appendChild(tr);
		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.style.fontWeight = "bold";
		        td.innerHTML = "Date informant signed";
		        tr.appendChild(td);

		        var td = document.createElement("td");
		        td.style.border = "1px solid black";
		        td.colSpan= "10"
		        td.innerHTML =__$("person_informant_signature_date") && __$("person_informant_signature_date").value ? (new Date( __$('person_informant_signature_date').value)).format() : "";
		        tr.appendChild(td);

		    }
		    <% if site_type == "dc" %>
		    		var table = document.createElement("table");
		    		table.style.width = "98%";
			        table.style.borderCollapse = "collapse";
			        table.cellPadding = "2";
			        table.style.border = "1px solid black"
			        table.style.fontSize = "1em";
			        table.style.margin = "auto";
			        table.style.marginTop ="2em";
			        div.appendChild(table);

			        var tr = document.createElement("tr");
			        table.appendChild(tr);

			        var td = document.createElement("th");
			        td.innerHTML = "Verification by Village Headman";
			        td.colSpan ="2";
			        tr.appendChild(td);

			        var tr = document.createElement("tr");
			        table.appendChild(tr);

			        var td = document.createElement("td");
			        td.innerHTML = "Villge Headman/Block Leader Signed";
			        tr.appendChild(td);

			        var td = document.createElement("td");
			        td.innerHTML = (__$('person_headman_verified') ? __$('person_headman_verified').value : "");
			        tr.appendChild(td);

			        if (__$('person_headman_verified') && __$('person_headman_verified').value.match("Yes")){
			        	var tr = document.createElement("tr");
			        	var td = document.createElement("td");
				        td.innerHTML = "Date Signed";
				        tr.appendChild(td);

				        var td = document.createElement("td");
				        td.innerHTML = new Date(__$('person_headman_verification_date').value).format();
				        tr.appendChild(td);
			        }

			        var table = document.createElement("table");
		    		table.style.width = "98%";
			        table.style.borderCollapse = "collapse";
			        table.cellPadding = "2";
			        table.style.border = "1px solid black"
			        table.style.fontSize = "1em";
			        table.style.margin = "auto";
			        table.style.marginTop ="2em";
			        div.appendChild(table);
			        var tr = document.createElement("tr");
			        table.appendChild(tr);

			        var td = document.createElement("th");
			        td.innerHTML = "Verification by Senior member of village/ Religous Institution";
			        td.colSpan ="2";
			        tr.appendChild(td);

			        var tr = document.createElement("tr");
			        table.appendChild(tr);

			        var td = document.createElement("td");
			        td.innerHTML = "Signed?";
			        tr.appendChild(td);

			        var td = document.createElement("td");
			        td.innerHTML = (__$('person_church_verified') ? __$('person_church_verified').value : "");
			        tr.appendChild(td);

			        if (__$('person_church_verified') && __$('person_church_verified').value.match("Yes")){
			        	var tr = document.createElement("tr");
			        	var td = document.createElement("td");
				        td.innerHTML = "Date Signed";
				        tr.appendChild(td);

				        var td = document.createElement("td");
				        td.innerHTML = new Date(__$('person_church_verification_date').value).format();
				        tr.appendChild(td);
			        }

		   	<%end%>

		}
	
		function setAjaxUrl(case_number){
			switch(case_number) {
				case -1:
					var place = __$('touchscreenInput' + tstCurrentPage).value;
					__$("person_place_of_death_district").setAttribute("ajaxURL","/districts?place="+encodeURIComponent(place)+"&search_string=");
					break;

				case 0:
					var district = __$('touchscreenInput' + tstCurrentPage).value;
					if(__$("person_hospital_of_death")){
						__$("person_hospital_of_death").setAttribute("ajaxURL","/facilities?district="+district+"&search_string=");
					}
					if(__$("person_place_of_death_ta")){
					    __$("person_place_of_death_ta").setAttribute("ajaxURL","/tas?district="+district+"&search_string=");
					}
					break;

				case 1:
					var ta = __$('touchscreenInput' + tstCurrentPage).value;
					var district = __$('person_place_of_death_district').value
					__$("person_place_of_death_village").setAttribute("ajaxURL","/villages?district="+district+"&ta="+ta + "&search_string=")
					break;

					    case 2:
					    	var district = __$('touchscreenInput' + tstCurrentPage).value;
					      	__$("person_home_ta").setAttribute("ajaxURL","/tas?district="+district + "&search_string=")
					    	break;

					    case 3:

					    	var ta = __$('touchscreenInput' + tstCurrentPage).value;

					    	var district = __$('person_home_district').value

					    	__$("person_home_village").setAttribute("ajaxURL","/villages?district="+district+"&ta="+ta + "&search_string=")

					        break;
					    case 4:

					    	var district = __$('touchscreenInput' + tstCurrentPage).value;

					      	__$("person_informant_current_ta").setAttribute("ajaxURL","/tas?district="+district + "&search_string=")

					    	break;

					    case 5:

					    	var ta = __$('touchscreenInput' + tstCurrentPage).value;

					    	var district = __$('person_informant_current_district').value

					    	__$("person_informant_current_village").setAttribute("ajaxURL","/villages?district="+district+"&ta="+ta + "&search_string=")

					        break;

					     case 6:

					    	var district = __$('touchscreenInput' + tstCurrentPage).value;

					      	__$("person_current_ta").setAttribute("ajaxURL","/tas?district="+district + "&search_string=")

					    	break;

					    case 7:

					    	var ta = __$('touchscreenInput' + tstCurrentPage).value;

					    	var district = __$('person_current_district').value

					    	__$("person_current_village").setAttribute("ajaxURL","/villages?district="+district+"&ta="+ta + "&search_string=")

					        break;
				} 

		}

		function monthDaysKeyPad() {

		    var keyboard = __$("keyboard");

		    __$("inputFrame" + tstCurrentPage).style.height = "50px";

		    keyboard.innerHTML = "";

		    var keyPadDiv = document.createElement("div");

		    keyPadDiv.style.width = "40%";

		    keyPadDiv.style.float = "left";

		    keyboard.appendChild(keyPadDiv);

		    var months = {
		        "January": 0,
		        "February": 1,
		        "March": 2,
		        "April": 3,
		        "May": 4,
		        "June": 5,
		        "Juy": 6,
		        "August": 7,
		        "September": 8,
		        "October": 9,
		        "November": 10,
		        "December": 11
		    }

		    var year = __$("person_birth_year").value;

		    var month = __$("person_birth_month").value;

		    var nextMonthNumber = parseInt(months[month]) + 2;

		    var date = new Date(year + "-" + padZeros(nextMonthNumber, 2) + "-" + "01");

		    date.setDate(date.getDate() - 1);

		    var lateDayOfSelectedMonth = date.getDate()

		    var table = document.createElement("table");

		    table.style.width = "100%";

		    keyPadDiv.appendChild(table);


		    var tr;

		    for (var i = 1; i <= 31; i++) {

		        if ((i - 1) % 7 == 0) {

		            tr = document.createElement("tr");

		            table.appendChild(tr);

		        }

		        var td = document.createElement("td");

		        tr.appendChild(td);

		        var button = document.createElement("button");



		        td.appendChild(button);


		        if (i <= 9) {

		            button.innerHTML = "<span>" + i+"</span>";

		            button.setAttribute("onclick", '__$("touchscreenInput"+tstCurrentPage).value ="0"+' + i);

		        } else {

		            button.innerHTML = "<span>"+i+"</span>";

		            button.setAttribute("onclick", '__$("touchscreenInput"+tstCurrentPage).value =' + i);

		        }

		        if (i > parseInt(lateDayOfSelectedMonth)) {

		            button.className = "gray";

		            button.removeAttribute("onclick");
		        }
		        else {

		        }

		    }

		    var unknownButton = document.createElement("button");

		    unknownButton.innerHTML = "Unknown";

		    unknownButton.style.float = "right";

		    unknownButton.style.marginTop = "10%";

		    unknownButton.setAttribute("onclick", '__$("touchscreenInput"+tstCurrentPage).value ="Unknown"');

		    //keyboard.appendChild(unknownButton);

		}

		function setAgeValues() {

		    var birthyear = __$("person_birth_year").value;

		    var birthmonth = __$('person_birth_month').value;

		    var birthday = __$("person_birth_day").value;

		    if (birthday.trim().toLowerCase() == "unknown") {

		        birthday = "05";

		        __$("person_birthdate_estimated").value = 1;

		    } else {

		        __$("person_birthdate_estimated").value = 0;

		    }

		    var months = {
		        "January": 0,
		        "February": 1,
		        "March": 2,
		        "April": 3,
		        "May": 4,
		        "June": 5,
		        "Juy": 6,
		        "August": 7,
		        "September": 8,
		        "October": 9,
		        "November": 10,
		        "December": 11
		    }

		    var birthdate = birthyear + "-" + padZeros(parseInt(months[birthmonth]) + 1, 2) + "-" + padZeros(parseInt(birthday), 2);

		    __$("person_birthdate").value = birthdate;

		    __$("person_date_of_death").setAttribute("minDate", birthdate);

		    __$("person_date_of_death").setAttribute("maxDate", (new Date().format("YYYY-mm-dd")));
		}

		function setEstimatedAgeValue() {

		    __$("person_birth_year").setAttribute("disabled", true);

		    __$("person_birth_month").setAttribute("disabled", true);

		    __$("person_birth_day").setAttribute("disabled", true);

		    if (__$("person_birthdate") && __$("person_age_estimate") && __$("person_birthdate_estimated")) {

		        if (__$("person_age_estimate").value.trim().length > 0) {

		            __$("person_birthdate_estimated").value = 1;

		            var year = (new Date()).getFullYear() - parseInt(__$("person_age_estimate").value.trim());

		            __$("person_birthdate").value = year + "-07-15";

		            console.log( __$("person_birthdate").value);

		        } else {

		            __$("person_birthdate_estimated").value = 0;

		        }

		    }

		}

		function validateAndProcessMonth() {

		    var year = __$("person_birth_year").value

		    var month = __$('person_birth_month').value;

		    if (month.trim().toLowerCase() == "unknown") {


		        var birthdate = __$("person_birthdate");

		        var estimate_field = (birthdate.getAttribute("estimate_field") != null ?
		            __$(birthdate.getAttribute("estimate_field")) : undefined);

		        if (estimate_field) {

		            estimate_field.value = 1

		        }

		        var estimateBirthDate = year + "-07-10";

		        birthdate.value = estimateBirthDate

		        __$("estimate").value = 1;

		    } else {

		        var months = {
		            "January": 0,
		            "February": 1,
		            "March": 2,
		            "April": 3,
		            "May": 4,
		            "June": 5,
		            "Juy": 6,
		            "August": 7,
		            "September": 8,
		            "October": 9,
		            "November": 10,
		            "December": 11
		        }

		        var today = new Date();

		        if (parseInt(year) == parseInt(today.getFullYear()) && parseInt(months[month]) > parseInt(today.getMonth())) {

		            var message = "Month selected is greater than Current Month";

		            setTimeout(function () {

		                gotoPage(tstCurrentPage - 1, false, true);

		                showPopupMessage(message, "Month of Birth Validation")

		            }, 10);

		        }

		    }

		}
		function checkForDuplicate(){

				var data = {
								first_name    : __$("person_first_name").value,
								last_name 	  : __$("person_last_name").value,
								gender 		  : __$("person_gender").value,
								birthdate 	  : __$("person_birthdate").value,
								date_of_death : __$("person_date_of_death").value,
								place_of_death: __$("person_place_of_death").value,
								informant_last_name: __$("person_informant_last_name").value,
								informant_first_name: __$("person_informant_first_name").value
				}
				console.log(data)
				postAjax("/search_similar_record", data, function(response){

					var people = JSON.parse(response).response;
					if(people){

						showConfirmMessage("","Potential duplicate to "+people.length +" other record(s)","","#e2a648");

						var ids = [];

						for(var i = 0 ; i < people.length ; i++){

							ids[i] = people[i]['_id'];

						}
						__$("potential_duplicate").setAttribute("condition",true);
						__$("potential_duplicate").value = ids.toString();

					}

				})


		}

		function removeUnknown(){

			__$("Unknown").style.display ="none";
		}

		var patnum = ""
		var setFocusTimeout = 5000;
		var checkForBarcodeTimeout = 1500;
		var barcodeFocusTimeoutId = null;
		var barcodeFocusOnce = false;
		var barcodeId = '';
		var focusOnce = false;
		var barcode_element;

		function loadBarcodePage() {

		  focusForBarcodeInput()

		  checkForBarcode()

		}

		function focusForBarcodeInput(){

			if (!barcodeId) {
				barcodeId = "person_barcode";
			}

		  	barcode_element = document.getElementById(barcodeId);

			if (barcode_element) {
				barcode_element.focus();
				if (!focusOnce) barcodeFocusTimeoutId = window.setTimeout("focusForBarcodeInput()", setFocusTimeout);
			}
		}

		function checkForBarcode(validAction){

			if (__$("person_barcode")){

				var input_element = __$('touchscreenInput' + tstCurrentPage);

				if (input_element && input_element.value.match(/.+\$$/i) != null){

					 barcode_element.value = input_element.value.substring(0,input_element.value.length-1);

					 setTimeout(function(){

					 		 gotoNextPage();
					 },500);

					
						
				}else{
					window.setTimeout("checkForBarcode()", checkForBarcodeTimeout)
				}
			}
		}

		function getAge(dateString){

		    var today = new Date();

		    var birthDate = new Date(dateString);

		    var age = today.getFullYear() - birthDate.getFullYear();

		    var m = today.getMonth() - birthDate.getMonth();

		    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) 
		    {
		        age--;
		    }
		    return age;
		}

		function validatePregnancy(){

			var valid = true;

			var age = parseInt(getAge(__$('person_birthdate').value));

			if(__$("person_gender") && __$("person_gender").value == "Male"){

				valid = false;
			}
			if (__$('person_birthdate') && parseInt(getAge(__$('person_birthdate').value)) < 9 ){
				valid =  false;
			}
			if (__$('person_birthdate') && parseInt(getAge(__$('person_birthdate').value)) > 55 ){
				valid =  false;
			}
			if(__$("person_gender") && __$("person_gender").value == "Female" && __$('person_birthdate') && ((age >= 9 && age <= 13) ||  (age >= 50 && age <= 55))){
				showPopupMessage("Person is out of the normal child bearing age range <br><b>(13 - 49)</b>","Death while pregnant validation");
				valid = true;
			}
			return valid;

		}

		function validateDeathDate(){
			var date  = __$('touchscreenInput' + tstCurrentPage).value;
			var site_type = "<%= site_type %>";
			var min = "<%= (Date.today - 6.weeks).strftime('%Y-%m-%d') %>".trim();
			if(site_type == "facility"){
					
					if (date < min){
						showPopupMessage("Registration of the record has been delayed by more than 6 weeks <br><b>please send the form to DRO</b>","Delayed Record Registration");
						setTimeout(function(){
							gotoPage(tstCurrentPage -1);
						},100)

						__$("ok_button").onclick = function(){
								 window.top.location.href ="/people/new_person_type";
						}
					}
			}else{

				if(date < min){
					showPopupMessage("Registration of the record has been delayed by more than 6 weeks","Delayed Record Registration");
					__$("person_delayed_registration").value ="Yes"
				}
			}
			if(date < __$("person_birthdate").value){
				showPopupMessage("Birth date ("+(new Date(__$("person_birthdate").value)).format()+") is greater than <br/> Date of death ("+(new Date(date)).format() +")" ,"Date validation");
				setTimeout(function(){
					gotoPage(tstCurrentPage -1);
				},100)
			}
		}

		function validateDateInformant(){
			var date  = __$('touchscreenInput' + tstCurrentPage).value;

			if(date < __$("person_date_of_death").value){

				showPopupMessage("Death date ("+(new Date(__$("person_birthdate").value)).format()+") is greater than <br/> Date informant signed ("+(new Date(date)).format() +")" ,"Date validation")
				setTimeout(function(){
					gotoPage(tstCurrentPage -1);
				},100)
			}
		}

		function validateName(){
			var name  = __$('touchscreenInput' + tstCurrentPage).value;
			var regex = /^[a-zA-Z]{2,42}$/;
			if(name.length > 0 ){
				 if (regex.test(name)) {
				        
				 }
				 else {
				        showPopupMessage("Input name should have atleast 2 characters and atmost 42 character as one word" ,"Name field validation");

						setTimeout(function(){
							gotoPage(tstCurrentPage -1);
						},100)
				  }
			}
		}
		function validateOtherName(){

			var name  = __$('touchscreenInput' + tstCurrentPage).value;
			var regex = /^[a-zA-Z ]{2,42}$/;
			if(name.length > 0 ){
				 if (regex.test(name)) {
				        
				 }
				 else {
				        showPopupMessage("Input name should have atleast 2 characters and atmost 42 character as one word" ,"Name field validation");

						setTimeout(function(){
							gotoPage(tstCurrentPage -1);
						},100)
				  }
			}
		}

		function setOtherTofield(id){
			__$(id).value = "Other"
		}

		function courtOrder(){
			var order = __$('touchscreenInput'+tstCurrentPage).value;
			if(order=="No"){
					showPopupMessage("Registering missing person requires a court order","Court order missing");
						setTimeout(function(){
							gotoPage(tstCurrentPage -1);
						},100)

						__$("ok_button").onclick = function(){
								 window.top.location.href ="/people/new_person_type";
						}
			}
		}

		function removeDollar(){
			var input_element = __$('touchscreenInput' + tstCurrentPage);
			if (input_element && input_element.value.match(/.+\$$/i) != null){
				 setTimeout(function(){
						barcode_element.value = input_element.value.substring(0,input_element.value.length-1);
				},1000);		
			}
			else{
				console.log("No dollar");
			}
		}

        results = {}
        old_value = "";
        function showPhoneSummary(){

            var input = __$("touchscreenInput" + tstCurrentPage);
            var label = __$("helpText" + tstCurrentPage).innerHTML;

            if (label.match(/Phone Number/i)){

                //Lock Next
                if (input.value == "Unknown" || results['valid'] == true) {
                    __$("nextButton").onmousedown = function () {
                        gotoNextPage();
                    }
                }else{
                    __$("nextButton").onmousedown = function () {
                        showMessage("Invalid Phone Number");
                    }
                }

                if (input.value != "Unknown" && (input.value.trim().length == 0 || !input.value.match(/^\+/))){
                    input.value = "+265";
                }

                if(old_value != input.value) {

                    var val = input.value.replace(/\+/, 'plus');

                    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                        xmlhttp = new XMLHttpRequest();
                    } else {// code for IE6, IE5
                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                    }

                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            results = xmlhttp.responseText;
                            results = JSON.parse(results);
                            var national_format = results['national_format'] || "<span style='color: red'>?</span>";
                            var international_format = results['international_format'] || "<span style='color: red'>?</span>";
                            var country = results['country'] || "<span style='color: red'>?</span>";

                            var div = document.createElement("div");
                            div.id = "status";
                            div.className = "statusLabel";
                            div.style.marginTop = "2%";
                            div.style.fontSize = "1.7em";
                            div.style.padding = "12px";
                            div.style.textAlign = "left";
                            div.innerHTML = "National format:&nbsp;&nbsp;&nbsp;<i style='color: green;'> " + national_format + "</i>" +
                                    "<br />International format: &nbsp;&nbsp;&nbsp;<i style='color: green;'>" + international_format + "</i>" +
                                     "<br />Country: &nbsp;&nbsp;&nbsp;<i style='color: green;'>" + country + "</i> "
                            __$("inputFrame" + tstCurrentPage).appendChild(div);
                        }
                    }

                    xmlhttp.open("GET", ("/global_phone_validation?value="+val), true);
                    xmlhttp.send();
                }

                old_value = input.value;

                setTimeout("showPhoneSummary()",500);
            }
        }

        window.addEventListener("load", loadBarcodePage, false)
</script>
<%= form_for @person, :url => '/people/create', :method => :post do |f| %>
	<input type="hidden" name="person[relationship]" value="<%params[:relationship]%>">
	<input type="hidden" name="person[delayed_registration]" value="No">
	<% if params[:relationship].include? "Missing" || true%>
		<section name="Court Order">
			<sub id="person_court_order_section" name="Court order attached">
				<%= select_tag("person[court_order]",options_for_select([" ", "Yes", "No"], nil),:helpText =>"Court order attached?",:tt_requireNextClick => false, :tt_onUnLoad=>"courtOrder()") %>
			</sub>
		</section>
	<%end%>
	<% if true %>
		<section name="Barcode">
			<sub id="person_barcode_section" name="Barcode">
				<%= text_field_tag "person[barcode]",nil , {:helpText=> "Scan Form Barcode",:tt_onUnLoad=>"removeDollar()"} %>
			</sub>
		</section>
	<%end%>
    <section name="Personal details of deceased">
            <sub id="person_details" name="Details of deceased">

                <%= (f.text_field :last_name, :helpText => "Surname",
                                  :allowFreeText =>true, :ajaxURL => "/get_last_names?search=",:tt_onUnLoad=>"validateName()",:tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :first_name,:helpText => "First name",:allowFreeText =>true,  :ajaxURL => "/get_first_names?search=",:tt_onUnLoad=>"validateName()",:tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :middle_name, :helpText => "Other names",:allowFreeText =>true, :optional => :true, :ajaxURL => "/get_first_names?search=",:tt_onUnLoad=>"validateOtherName()",:tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= text_field_tag "person[id_number]",nil , {:helpText => "ID No", :optional => true, :validationRule=>"^[a-zA-Z0-9]{8}$", :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters"} %>

                <%= text_field_tag "person[nationality]",nil , {:helpText => "Nationality",:ajaxURL => "/nationalities?search_string="} %>

                 <%= select_tag("person[gender]",options_for_select([" ", "Female", "Male"], @person[:gender]),:helpText =>"Sex",:tt_requireNextClick => false) %>

                <%= text_field_tag "person[birth_year]", nil, {:helpText => 'Year of Birth', :field_type => 'number', :absoluteMin => "1890", :min => "1940", :absoluteMax => Date.today.year, :tt_pageStyleClass => "Numeric NumbersWithUnknown"}  %>

                <%= select_tag "person[birth_month]", options_for_select(["January","February","March","April","May","June","July","August","September","October","November","December"], " "), {:helpText => 'Month of Birth', :condition => '$("person_birth_year").value.toLowerCase() != "unknown"',:validationJS => "validateDOB();",:validationMessage => 'Please enter a valid date', :tt_onLoad =>"__$('keyboard').style.display = 'none'",:tt_requireNextClick => false,:tt_pageStyleClass =>"NoKeyboard longSelectList",:tt_onUnLoad=>"validateAndProcessMonth()" }%>

                <%= text_field_tag "person[age_estimate]", nil, {:helpText => 'Age Estimate', :absoluteMin => 1, :absoluteMax => 120, :field_type => 'number', :condition => '$("person_birth_year").value == "Unknown"', :tt_onLoad => "$('nextButton').style.display = 'block';", :tt_pageStyleClass => "Numeric NumbersOnly",:tt_onUnLoad => "setEstimatedAgeValue()"} %>

                <%= text_field_tag "person[birth_day]",  nil, :field_type => 'number', :helpText => 'Birth Day', :condition => '($("person_birth_year").value != "Unknown") && ($("person_birth_month").value != "Unknown")', :tt_onLoad =>  "monthDaysKeyPad();$('nextButton').style.display = 'block'" ,:tt_onUnLoad => "setAgeValues()"%>

                <%= (f.hidden_field :birthdate) rescue "" %>

                <%= f.hidden_field :birthdate_estimated rescue "" %>

                <%= text_field_tag "person[birth_certificate_number]",nil , {:helpText => "Birth Certificate No.", :optional => true} %>
            </sub>

            <sub id="death_details" name="Details of death">
                <%= (f.text_field :date_of_death,:helpText => "Date of Death",:field_type => "date" ,:tt_onLoad =>"removeUnknown()",:tt_onUnLoad => "validateDeathDate()") rescue "" %>

                <% if site_type == "facility" %>
                    <%= (f.hidden_field :place_of_death, :value => "Health Facility")  %>
                    <%= (f.hidden_field :place_of_death_district, :value => @district.name) %>
                    <%= (f.hidden_field :hospital_of_death, :value => @facility.name) %>
                <% elsif site_type =="dc" %>
                    <%= select_tag("person[place_of_death]", options_for_select(["","Health Facility", "Home","Other"], @person[:place_of_death]),:id=> "person_place_of_death",:helpText =>"Place of Death", :tt_onUnLoad =>"setAjaxUrl(-1)",:tt_requireNextClick => false,:tt_pageStyleClass =>"NoKeyboard") %>

                    <%= text_field_tag "person[place_of_death_district]", nil, {:helpText => "Place of Death District" ,  :tt_onUnLoad => "setAjaxUrl(0)"} %>

                    <%= text_field_tag "person[hospital_of_death]", nil, {:helpText => "Health Facility of death",:condition => "__$('person_place_of_death').value.trim()=='Health Facility'"} %>

                    <%= text_field_tag "person[place_of_death_ta]", nil, {:helpText => "Traditional authority of death",:condition => "__$('person_place_of_death').value.match('Home')", :tt_onUnLoad => "setAjaxUrl(1)"} %>

                     <%= text_field_tag "person[other_place_of_death_ta]", nil, {:helpText => "Other place of death Traditional Authority specify",:condition => "__$('person_place_of_death_ta').value =='Other'"} %>

               		<%= text_field_tag "person[place_of_death_village]", nil, {:helpText => "Village of death",:condition => "__$('person_place_of_death_ta').value.length > 0 && __$('person_place_of_death_ta').value != 'Other'"} %>

               		<%= text_field_tag "person[other_place_of_death_village]", nil, {:helpText => "Other place of death Village specify",:condition => "__$('person_place_of_death_ta').value =='Other' || __$('person_place_of_death_village').value =='Other'"} %>

                	<%= (f.text_field :other_place_of_death,:helpText => "Other place of death specify",:condition => "__$('person_place_of_death').value.match('Other')") rescue "" %>
                <% end %>


             
            </sub>

            <sub id="physical_address" name="Physical address">

            	 <%= text_field_tag "person[current_country]", nil, {:helpText => "Nationality of Residence",:ajaxURL => "/nationalities?search_string=", :condition =>false} %>

   				<%= text_field_tag "person[current_district]", nil, {:helpText => "District of Residence",
                                :condition => "__$('person_nationality').value.toLowerCase().match('malawi')",
                                :ajaxURL =>"/districts?search_string=",:tt_onUnLoad => "setAjaxUrl(6)"} %>

                <%= text_field_tag "person[current_ta]", nil, {:helpText => "Traditional Authority of Residence",
                                :condition => "__$('person_nationality').value.toLowerCase().match('malawi')",
                                :tt_onUnLoad => "setAjaxUrl(7)"} %>

                <%= text_field_tag "person[other_current_ta]", nil, {:helpText => "Other Traditional Authority of Residence specify",:condition => "__$('person_current_ta').value =='Other'"} %>

               	<%= text_field_tag "person[current_village]", nil, {:helpText => "Village of Residence",
                                :condition => "__$('person_current_ta').value.length > 0 && __$('person_current_ta').value != 'Other'"} %>

                <%= text_field_tag "person[other_current_village]", nil, {:helpText => "Other Village of Residence specify",:condition => "__$('person_current_ta').value =='Other' || __$('person_current_village').value =='Other'", :tt_onLoad=>"setOtherTofield('person_current_village')"} %>
            </sub>

            <sub id="home_address" name="Home address">

            	 <%= text_field_tag "person[home_country]", nil, {:helpText => "Home nationality",:ajaxURL => "/nationalities?search_string=",:condition=>false} %>

   				<%= text_field_tag "person[home_district]", nil, {:helpText => "Home district",
                                :condition => "__$('person_nationality').value.toLowerCase().match('malawi')",
                                :ajaxURL =>"/districts?search_string=",:tt_onUnLoad => "setAjaxUrl(2)"} %>

                  <%= text_field_tag "person[home_ta]", nil, {:helpText => "Home Traditional Authority",
                                :condition => "__$('person_nationality').value.toLowerCase().match('malawi')",
                                :tt_onUnLoad => "setAjaxUrl(3)"} %>

                 <%= text_field_tag "person[other_home_ta]", nil, {:helpText => "Other Home Traditional Authority specify",:condition => "__$('person_home_ta').value =='Other'"} %>

               	<%= text_field_tag "person[home_village]", nil, {:helpText => "Home Village",
                                :condition => "__$('person_home_ta').value.length > 0 && __$('person_home_ta').value != 'Other'"} %>

                <%= text_field_tag "person[other_home_village]", nil, {:helpText => "Other Home Village specify",:condition => "__$('person_home_ta').value =='Other' || __$('person_home_village').value =='Other'",:tt_onLoad=>"setOtherTofield('person_home_village')"} %>
            </sub>

            <sub id='pregnancy_status' name="Pregnancy status">
               <%= select_tag("person[died_while_pregnant]", options_for_select(['No', 'Yes'], @person[:died_while_pregnant]),
                        :helpText =>"Did the death occur while pregnant?(<i style='font-size: 18px'> at the time of delivery or within 6 weeks after the end of pregnancy</i>)", :condition =>"validatePregnancy()") %>
            </sub>
  	</section>

    <section name="Details of parents">
            <sub id="details_mother" name="Details of mother">
            	<%= select_tag("mother_details_available",options_for_select([" ", "Yes", "No"], "Yes"),:helpText =>"Mother details available?",:tt_requireNextClick => false) %>

                <%= (f.text_field :mother_last_name, :helpText => "Mother Surname",:optional => :true,:allowFreeText =>true, :ajaxURL => "/get_last_names?search=",:tt_onLoad=> "removeUnknown()", :condition => "__$('mother_details_available').value =='Yes'") rescue "" %>

                <%= (f.text_field :mother_first_name,:helpText => "Mother First Name",:allowFreeText =>true,:optional => :true,:ajaxURL => "/get_first_names?search=",:tt_onLoad=> "removeUnknown()",:condition => "__$('mother_details_available').value =='Yes'") rescue "" %>

                <%= (f.text_field :mother_middle_name, :helpText => "Mother Other Names",:allowFreeText =>true, :optional => :true, :ajaxURL => "/get_first_names?search=",:tt_onLoad=> "removeUnknown()",:condition => "__$('mother_details_available').value =='Yes'") rescue "" %>

                <%= (f.text_field :mother_id_number, :helpText => "Mother ID No.",:optional => :true,:allowFreeText =>true,:condition => "__$('mother_details_available').value =='Yes'",:validationRule=>"^[a-zA-Z0-9]{8}$", :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters") rescue "" %>
            </sub>
            <sub id="details_father" name="Details of father">
            	<%= select_tag("father_details_available",options_for_select([" ", "Yes", "No"], "Yes"),:helpText =>"Father details available?",:tt_requireNextClick => false) %>

                <%= (f.text_field :father_last_name,:helpText => "Father Surname",:allowFreeText =>true,:optional => :true, :ajaxURL => "/get_last_names?search=", :condition => "__$('father_details_available').value =='Yes'",:tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :father_first_name,:helpText => "Father First Name",:allowFreeText =>true,:optional => :true,:ajaxURL => "/get_first_names?search=",:tt_onLoad=> "removeUnknown()", :condition => "__$('father_details_available').value =='Yes'") rescue "" %>

                <%= (f.text_field :father_middle_name, :helpText => "Father Other Names",:allowFreeText =>true, :optional => :true, :ajaxURL => "/get_first_names?search=",:tt_onLoad=> "removeUnknown()", :condition => "__$('father_details_available').value =='Yes'") rescue "" %>

                 <%= (f.text_field :father_id_number, :helpText => "Father ID No.",:optional => :true,:allowFreeText =>true, :condition => "__$('father_details_available').value =='Yes'",:validationRule=>"^[a-zA-Z0-9]{8}$", :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters") rescue "" %>
            </sub>
    </section>

    <section name="Informant's details">
            <sub id="info_details" name="Basic demographics">
                <%= (f.text_field :informant_last_name, :helpText => "Informant  Surname",:allowFreeText =>true,:ajaxURL => "/get_last_names?search=",:tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :informant_first_name,:helpText => "Informant First Name",:allowFreeText =>true,:ajaxURL => "/get_first_names?search=",:tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :informant_middle_name, :helpText => "Informant Other Names",:allowFreeText =>true,:ajaxURL => "/get_first_names?search=",:optional => :true,:tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :informant_id_number, :helpText => "Informant ID No.",:optional => :true,:allowFreeText =>true,:validationRule=>"^[a-zA-Z0-9]{8}$", :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters") rescue "" %>

                <%= select_tag("person[informant_relationship_to_deceased]", options_for_select(['', 'Husband', 'Wife',
                             'Father', 'Mother',
                             'Grandfather', 'Grandmother',
                             'Brother', 'Sister',
                             'Son', 'Daughter',
                             'Nephew', 'Niece',
                             'Uncle', 'Aunt',
                             'Other'], @person[:informant_relationship_to_deceased]),:helpText =>"Relationship to deceased",:tt_pageStyleClass =>"NoKeyboard longSelectList",:tt_requireNextClick => false) %>

                <%= (f.text_field :informant_relationship_to_deceased_other,:condition=> "__$('person_informant_relationship_to_deceased').value.match('Other')",:helpText => "Relationship to Deceased specify") rescue "" %>
            </sub>
            <sub id="info_home_address" name="Address">

   				<%= text_field_tag "person[informant_current_district]", nil, {:helpText => "Informant current district",:ajaxURL =>"/districts?search_string=",:tt_onUnLoad => "setAjaxUrl(4)"} %>

                <%= text_field_tag "person[informant_current_ta]", nil, {:helpText => "Informant current Traditional Authority",:tt_onUnLoad => "setAjaxUrl(5)"} %>

                <%= text_field_tag "person[other_informant_current_ta]", nil, {:helpText => "Other Informant Current Traditional Authority specify",:condition => "__$('person_informant_current_ta').value =='Other'"} %>
    			
    			<%= text_field_tag "person[informant_current_village]", nil, {:helpText => "Informant current village", :condition => "__$('person_informant_current_ta').value.length > 0 && __$('person_informant_current_ta').value != 'Other'"} %>

    			<%= text_field_tag "person[other_informant_current_village]", nil, {:helpText => "Other Informant Current Village specify",:condition => "__$('person_informant_current_ta').value =='Other' || __$('person_informant_current_village').value =='Other'",:tt_onLoad=>"setOtherTofield('person_informant_current_village')"} %>

                <%= (f.text_field :informant_addressline1,:helpText => "Informant address",:placeholder => "e.g P.O. Box 200 Lilongwe",:optional => :true) rescue "" %>

                <%= (f.text_field :informant_addressline2,condition=>false,:helpText => "Informant Address Line 2",:placeholder => "Street / Company /Building",:optional => :true) rescue "" %>

                <%= (f.text_field :informant_city,:helpText => "Informant city",:placeholder => "Location e.g Area 3",:optional => :true,:condition=>false) rescue "" %>

                <%= (f.text_field :informant_phone_number,
                                :helpText => "Informant Telephone Number",
                                :field_type =>"number",
                                :tt_pageStyleClass => "Numeric NumbersWithUnknown",
                                :tt_onLoad => "showPhoneSummary()",
                                :optional => :true) rescue "" %>

            </sub>
            <sub id="Informant verification" name="Verification">
                <%= select_tag("person[informant_signed]", options_for_select(['Yes','No'], @person[:informant_signed]),:helpText =>"Informant Signed") %>

                <%= (f.text_field :informant_signature_date,:helpText => "Date Informant Signed",:condition => "__$('person_informant_signed').value.trim().toLowerCase() == 'yes'",
                                      :field_type => "date",:tt_onLoad =>"removeUnknown()",:tt_onUnLoad => "validateDateInformant()") rescue "" %>
            </sub>
    </section>

    <% if site_type == "dc" %>

    <section name="Verification">
            <sub id="village_headman_verification" name="Village head verification">
                <%= select_tag("person[headman_verified]", options_for_select(['Yes','No'], @person[:headman_verified]),:helpText =>"Village leader Signed") %>

                <%= (f.text_field :headman_verification_date,:helpText => "Date Headman verified",
                                  :field_type => "date",:condition => "__$('person_headman_verified').value.trim().toLowerCase() =='yes'",
                                  :tt_onLoad =>"removeUnknown()") rescue "" %>
            </sub>
            <sub id="church_verification" name="Church verification">
                <%= select_tag("person[church_verified]", options_for_select(['Yes','No'], @person[:church_verified]),:helpText =>"Church leader Signed") %>

                <%= (f.text_field :church_verification_date,:helpText => "Date Church leader verified",
		                          :field_type => "date",:condition => "__$('person_church_verified').value.trim().toLowerCase() =='yes'",:tt_onLoad =>"removeUnknown()") rescue "" %>
            </sub>
    </section>
    <% end %>

    <% if false %>

    <section name="Acknowledgement of Receipt">
        	<sub id="acknowledgement_of_receipt" name="Acknowledgement of Receipt">
        		<%= (f.text_field :acknowledgement_of_receipt_date,:helpText => "Acknowledgement of receipt date",
                                  :field_type => "date",:tt_onLoad =>"removeUnknown()") rescue "" %>
        	</sub>
    </section>


    <% end %>
    <input type="hidden" name="potential_duplicate" id="potential_duplicate" condition="false">

    <section name="Summary">
        <sub id="summary" name="Summary">
		     <%= text_field_tag "summary", nil, {:helpText => 'Summary', :tt_onLoad=>"checkForDuplicate();loadPersonSummary()"} %>
        </sub>
    </section>  

<% end %>