<script type="text/javascript">
  function parentAsInformant(parent){
      __$("person_informant_first_name").value = (__$("person_"+parent+"_first_name") ? __$("person_"+parent+"_first_name").value : "");
      __$("person_informant_last_name").value = (__$("person_"+parent+"_last_name") ? __$("person_"+parent+"_last_name").value : "");
      __$("person_informant_middle_name").value = (__$("person_"+parent+"_middle_name") ? __$("person_"+parent+"_middle_name").value : "");
      __$("person_informant_id_number").value = (__$("person_"+parent+"_id_number") ? __$("person_"+parent+"_id_number").value : "");
      if(parent == "mother"){
         __$("person_informant_relationship_to_deceased").value = "Mother"
      }else{
         __$("person_informant_relationship_to_deceased").value = "Father"
      }
     

     
  } 
</script>
<section name="Informant's details">
            <sub id="info_details" name="Basic demographics">
                 <%= select_tag("person[mother_informant]",options_for_select([" ", "Yes", "No"], "Yes"),
                     :helpText =>"Is mother informant? <i style='color: red'>*</i>",
                     :tt_requireNextClick => false, :condition => "__$('person_mother_first_name').value.length > 0",:tt_onUnLoad=>"parentAsInformant('mother')") %>

                 <%= select_tag("person[father_informant]",options_for_select([" ", "Yes", "No"], "Yes"),
                     :helpText =>"Is father informant? <i style='color: red'>*</i>",
                     :tt_requireNextClick => false, :condition => "__$('person_mother_informant').value =='No' &&__$('person_father_first_name').value.length > 0", :tt_onUnLoad=>"parentAsInformant('father')") %>

                <%= text_field_tag "person[informant_last_name]", nil,
                          {:helpText => "Informant's  Surname <i style='color: red'>*</i>",
                                                     :allowFreeText =>true,
                                                     :ajaxURL => "/get_last_names?search=",
                                                     :tt_onUnLoad =>"validateName('person_informant',10)",
                                                     :tt_onLoad=> "removeUnknown();checkSpace()"} %>

                <%= text_field_tag "person[informant_first_name]",nil,
                          {:helpText => "Informant's First Name <i style='color: red'>*</i>",
                            :allowFreeText =>true,
                            :ajaxURL => "/get_first_names?search=",
                            :tt_onUnLoad =>"validateName('person_informant',11)",
                            :tt_onLoad=> "removeUnknown();checkSpace()"} %>

                 <%= text_field_tag "person[informant_middle_name]",nil, 
                          {:helpText => "Informant's Other Names",
                          :allowFreeText =>true,
                          :ajaxURL => "/get_first_names?search=",
                          :tt_onUnLoad =>"validateOtherName('person_informant',12)",
                          :optional => :true,
                          :tt_onLoad=> "removeUnknown();checkSpace()"}%>

                 <%= text_field_tag "person[informant_id_number]",nil, 
                          {:helpText => "Informant's ID No.",
                                                    :optional => :true,
                                                    :allowFreeText =>true,
                                                    :validationRule=>"^[a-zA-Z0-9]{8}$", 
                                                    :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters"}%>

                <%= select_tag("person[informant_relationship_to_deceased]", options_for_select(['', 'Husband', 'Wife',
                             'Father', 'Mother',
                             'Grandfather', 'Grandmother',
                             'Brother', 'Sister',
                             'Son', 'Daughter',
                             'Nephew', 'Niece',
                             'Uncle', 'Aunt',
                             'Other'], @person[:informant_relationship_to_deceased]),
                             :helpText =>"Informant's relationship to deceased <i style='color: red'>*</i>",
                             :tt_requireNextClick => false) %>

                <%= text_field_tag "person[informant_relationship_to_deceased_other]",nil,
                        {:condition=> "__$('person_informant_relationship_to_deceased').value.match('Other')",
                          :helpText => "Informant's relationship to deceased specify <i style='color: red'>*</i>"} %>
            </sub>
            <sub id="info_home_address" name="Address">
              <%= text_field_tag "person[informant_current_country]", nil, {
                        :helpText => "Country (<i>Informant's address</i>)<i style='color: red'>*</i>",
                        :ajaxURL => "/countries?search_string="} %>

              <%= text_field_tag "person[informant_current_district]", nil, {
                    :helpText => "District (<i>Informant's address</i>)<i style='color: red'>*</i>",
                    :ajaxURL =>"/districts?search_string=",
                    :tt_onUnLoad => "setAjaxUrl(4)",
                    :condition => "__$('person_informant_current_country').value.trim() == 'Malawi'"} %>

                <%= text_field_tag "person[informant_current_ta]", nil, {
                          :helpText => "Traditional Authority (<i>Informant's address</i>)<i style='color: red'>*</i>",
                          :tt_onUnLoad => "setAjaxUrl(5)",
                          :condition => "__$('person_informant_current_country').value.trim() == 'Malawi'"} %>

                <%= text_field_tag "person[other_informant_current_ta]", nil, {
                          :helpText => "Other Traditional Authority specify (<i>Informant's address</i>)<i style='color: red'>*</i>",
                          :condition => "__$('person_informant_current_ta').value =='Other' && __$('person_informant_current_country').value.trim() == 'Malawi'"} %>
          
                <%= text_field_tag "person[informant_current_village]", nil, {
                    :helpText => "Village (<i>Informant's address</i>)<i style='color: red'>*</i>", 
                    :condition => "__$('person_informant_current_ta').value.length > 0 && __$('person_informant_current_ta').value != 'Other' && __$('person_informant_current_country').value.trim() == 'Malawi'"} %>

                <%= text_field_tag "person[other_informant_current_village]", nil, {
                  :helpText => "Other village specify (<i>Informant's address</i>)<i style='color: red'>*</i>",
                  :condition => "(__$('person_informant_current_ta').value =='Other' || __$('person_informant_current_village').value =='Other') && __$('person_informant_current_country').value.trim() == 'Malawi'",
                  :tt_onLoad=>"setOtherTofield('person_informant_current_village')"} %>

                <%= text_field_tag "person[informant_addressline1]",@person.informant_addressline1,
                        {:helpText => "Informant's Postal address",
                                                 :placeholder => "e.g P.O. Box 200 Lilongwe",
                                                 :optional => :true,
                                                 :condition => "__$('person_informant_current_country').value.trim() == 'Malawi'"} %>

              <%= text_field_tag "person[informant_foreign_state]", nil, {
                  :helpText => "State (<i>Informant foreign address</i>)",
                  :optional => true,
                  :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'"} %>

               <%= text_field_tag "person[informant_foreign_district]", nil, {
                  :helpText => "District (<i>Informant foreign address</i>)",
                  :optional => true,
                  :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'"} %>

                <%= text_field_tag "person[informant_foreign_village]", nil, {
                        :helpText => "Village/Town (<i>Informant foreign address</i>)",
                        :optional => true,
                        :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'"} %>

                <%= text_field_tag "person[informant_foreign_address]", nil, {
                        :helpText => "Adrress (<i>Informant foreign postal address</i>)",
                        :optional => true,
                        :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'",
                        :placeholder => "e.g P.O. Box 200 Lilongwe 3 , Malawi"} %>


                <%= text_field_tag "person[informant_phone_number]",nil,
                                {:helpText => "Informant Telephone Number",
                                  :field_type =>"number",
                                  :tt_pageStyleClass => "Numeric NumbersWithUnknown",
                                  :tt_onLoad => "showPhoneSummary()",
                                  :optional => :true }%>

            </sub>
            <sub id="Informant verification" name="Verification">
                <%= select_tag("person[informant_signed]", options_for_select(['Yes','No'], @person[:informant_signed]),
                        :helpText =>"Informant Signed?",:tt_requireNextClick => false) %>

                <%= text_field_tag "person[informant_signature_date]",nil,
                          {:helpText => "Date Informant signed",
                          :condition => "__$('person_informant_signed').value.trim().toLowerCase() == 'yes'",
                          :field_type => "date",
                          :tt_onLoad =>"removeUnknown()",
                          :tt_onUnLoad => "validateDateInformant()"}%>
            </sub>
    </section>