<section name="Details of parents">
            <sub id="details_mother" name="Details of mother">
              <% if true %>
                <%= select_tag("mother_details_available",options_for_select([" ", "Yes", "No"], "Yes"),
                     :helpText =>"Mother's details available? <i style='color: red'>*</i>",
                     :tt_requireNextClick => false,
                     :tt_onLoad=>"if(!flag){hideConfirmation()};flag=true") %>
                 <%= text_field_tag "person[mother_last_name]",nil, 
                          {:helpText => "Mother's Surname <i style='color: red'>*</i>",
                            :allowFreeText =>true, 
                            :ajaxURL => "/get_last_names?search=",
                            :tt_onLoad=> "removeUnknown();checkSpace()", 
                            :tt_onUnLoad=>"validateName('person_mother',4)",
                            :condition => "__$('mother_details_available').value =='Yes'"} %>
              <%else%>
                  <input type="hidden" id="mother_details_available" value="Yes">
                   <%= text_field_tag "person[mother_last_name]",nil, 
                          {:helpText => "Mother's Surname",
                            :optional => true,
                            :allowFreeText =>true, 
                            :ajaxURL => "/get_last_names?search=",
                            :tt_onLoad=> "removeUnknown();checkSpace(); if(!flag){hideConfirmation()};flag=true", 
                            :tt_onUnLoad=>"validateName('person_mother',4)",
                            :condition => "__$('mother_details_available').value =='Yes'"} %>
              <%end%>

               

                <%= text_field_tag "person[mother_first_name]",nil,
                          {:helpText => "Mother's First Name <i style='color: red'>*</i>",
                            :allowFreeText =>true,
                            :ajaxURL => "/get_first_names?search=",
                            :tt_onLoad=> "removeUnknown();checkSpace()",
                            :tt_onUnLoad=>"validateName('person_mother',5)",
                            :condition => "__$('mother_details_available').value =='Yes'"} %>

                <%= text_field_tag "person[mother_middle_name]",nil, 
                          {:helpText => "Mother's Other Names",
                          :allowFreeText =>true,
                          :optional => :true,  
                          :ajaxURL => "/get_first_names?search=",
                          :tt_onLoad=> "removeUnknown();checkSpace()",
                          :tt_onUnLoad =>"validateOtherName('person_mother',6)",
                          :condition => "__$('mother_details_available').value =='Yes'"}%>

                <%= text_field_tag "person[mother_id_number]",nil, 
                          {:helpText => "Mother's ID No.",
                            :optional => :true,
                            :allowFreeText =>true,
                            :condition => "__$('mother_details_available').value =='Yes'",
                            :validationRule=>"^[a-zA-Z0-9]{8}$",
                             :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters"} %>
            </sub>
            <sub id="details_father" name="Details of father">
              <%if true %>
              <%= select_tag("father_details_available",options_for_select([" ", "Yes", "No"], "Yes"),
                      :helpText =>"Father's details available?",
                      :tt_requireNextClick => false) %>
              <%else%>
                  <input type="hidden" id="father_details_available" value="Yes">
              <%end%>

                <%= text_field_tag "person[father_last_name]",nil,
                          {:helpText => "Father's Surname <i style='color: red'>*</i>",
                            :allowFreeText =>true, 
                            :ajaxURL => "/get_last_names?search=", 
                            :condition => "__$('father_details_available').value =='Yes'",
                            :tt_onUnLoad =>"validateName('person_father',7)",
                            :tt_onLoad=> "removeUnknown();checkSpace()" }%>

               <%= text_field_tag "person[father_first_name]",nil,
                          {:helpText => "Father's First Name <i style='color: red'>*</i>",
                            :allowFreeText =>true,
                            :ajaxURL => "/get_first_names?search=",
                            :tt_onLoad=> "removeUnknown();checkSpace()", 
                            :tt_onUnLoad =>"validateName('person_father',8)",
                            :condition => "__$('father_details_available').value =='Yes'"} %>

                <%= text_field_tag "person[father_middle_name]",nil, 
                          {:helpText => "Father's Other Names",
                            :allowFreeText =>true, 
                            :optional => true, 
                            :ajaxURL => "/get_first_names?search=",
                            :tt_onLoad=> "removeUnknown();checkSpace()", 
                            :tt_onUnLoad =>"validateOtherName('person_father',9)",
                            :condition => "__$('father_details_available').value =='Yes'"}%>

                <%= text_field_tag "person[father_id_number]",nil, 
                           {:helpText => "Father's ID No.",
                            :optional => true,
                            :allowFreeText =>true, 
                            :condition => "__$('father_details_available').value =='Yes'",
                            :validationRule=>"^[a-zA-Z0-9]{8}$", 
                            :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters"} %>
            </sub>
    </section>