<div id="table_container">

		<table>
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Name
						</th>
						<th>
							Gender
						</th>
						<th>
							Date of Death
						</th>
						<th>
							Place of Death
						</th>
						<th>
							Home address
						</th>
						<th>
							Informant
						</th>

						<th>
							Operations
						</th>
					</tr>
				</thead>
				<tbody id="table_body">
					
				</tbody>
		</table>
	
</div>
<style type="text/css">
	#pagination{
		width: 20% !important;
		left : 40%;
	}
</style>
<div id="pagination">
	<button id="prev" class="gray prev" onmousedown="navPrevPage()"><span>|<<</span></button>
	<button id="next" class="gray next" onmousedown="navNextPage()"><span>>>|</span></button>
		
</div>
<div style="position : absolute; width : 80%; bottom:58px;; right :1%; margin-right : 1%">
  <% if params[:next_url] %>
        <button  style="float: right; margin-right:1%" onmousedown="window.location= '<%= params[:next_url] %>'"><span>Back</span></button>

  <% elsif @targeturl.present? %>

        <button   style="float: right; margin-right:1% ; width:100px" onmousedown="window.location= '<%=@targeturl%>'"><span>Back</span></button>

  <%else %>
         <button  style="float: right; margin-right:1%;width:100px" onmousedown="window.location= '/'"><span>Back</span></button>
   <%end %>
  <% if User.current_user.activities_by_level("#{@facility_type}").include?("Register a record") && User.current_user.role != "Logistics Officer"%>

		<button class="green" style="float: right; margin-right:1%;" onmousedown="window.location = '/people/new_split'" ><span>Register New</span></button>

  <%end%>
</div>
<script type="text/javascript">

		var url =""

		<% if params[:search_criteria].present? %>

			<%if params[:death_entry_number].present? %>
				url = "/search_by_fields?death_entry_number=<%=params[:death_entry_number]%>"
			<%end%>
		<%else%>
				url ="/search_by_status?status=<%=@status%>"
		<%end%>

		if (Object.getOwnPropertyNames(Date.prototype).indexOf("format") < 0) {

		    Object.defineProperty(Date.prototype, "format", {
		        value: function (format) {
		            var date = this;

		            var result = "";

		            if (!format) {

		                format = ""

		            }

		            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

		            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
		                "October", "November", "December"];

		            if (format.match(/YYYY\-mm\-dd\sHH\:\MM\:SS/)) {

		                result = date.getFullYear() + "-" + stock;
		                padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
		                stock.padZeros(date.getDate(), 2) + " " + stock.padZeros(date.getHours(), 2) + ":" +
		                stock.padZeros(date.getMinutes(), 2) + ":" + stock.padZeros(date.getSeconds(), 2);

		            } else if (format.match(/YYYY\-mm\-dd/)) {

		                result = date.getFullYear() + "-" + stock.padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
		                    stock.padZeros(date.getDate(), 2);

		            } else if (format.match(/mmm\/d\/YYYY/)) {

		                result = months[parseInt(date.getMonth())] + "/" + date.getDate() + "/" + date.getFullYear();

		            } else if (format.match(/d\smmmm,\sYYYY/)) {

		                result = date.getDate() + " " + monthNames[parseInt(date.getMonth())] + ", " + date.getFullYear();

		            } else {

		                result = date.getDate() + "/" + months[parseInt(date.getMonth())] + "/" + date.getFullYear();

		            }

		            return result;
		        }
		    });

		}

	    var page = 1 ;

	    var estimatesize = 0;

	    function navNextPage(){

	    	alert("Hello");

	    	if(estimatesize >= 7){

	    			page ++;

			    	loadTable(page);

	    	}

	    }

	    function navPrevPage(){

	    	if(page > 1){

	    		page--
	    		loadTable(page);

	    	}

	    }

		function __$(id){

			return document.getElementById(id)

		}

		function loadTable(page){

					var content = __$("table_container")
	
					var table = __$("table_body");

					table.innerHTML ="";


					ajaxGETRequest(url+"&page="+page+"&size=7",function(data){

								var data = JSON.parse(data);

							for(var i = 0 ; i < data.length ; i++){

								estimatesize = i + 1;

								var tr = document.createElement("tr");

								table.appendChild(tr);


								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								td.innerHTML = (page - 1)* 7 + (i + 1);

								tr.appendChild(td);


								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								td.innerHTML = data[i]["first_name"] +" "+ (data[i]["middle_name"] ? data[i]["middle_name"] : "") + " "+ data[i]["last_name"]

								tr.appendChild(td);


								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								td.innerHTML = data[i].gender

								tr.appendChild(td);


								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								td.innerHTML = new Date(data[i].date_of_death).format()

								tr.appendChild(td);


								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								if(data[i].place_of_death.trim().toLowerCase().match("facility")){

									td.innerHTML = data[i].hospital_of_death;

								}else if(data[i].place_of_death =="Other"){

									td.innerHTML = data[i].other_place_of_death;


								}else if(data[i].place_of_death =="Home"){

									td.innerHTML = data[i].place_of_death_district +"," + data[i].place_of_death_ta + ","+  data[i].place_of_death_village;

								}

								tr.appendChild(td);

								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								if(data[i].nationality.trim().toLowerCase().match("malawi")){

									td.innerHTML =  data[i].home_district +"," + data[i].home_ta + ","+  data[i].home_village;

								}else{
									td.innerHTML = data[i].home_country;

								}

								tr.appendChild(td);


								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								td.innerHTML = td.innerHTML = data[i].informant_first_name +" " + data[i].informant_last_name

								tr.appendChild(td);


								var td = document.createElement("td");

								td.style.borderBottom= "1px solid black";


								td.style.borderRight= "1px solid black";

								var button = document.createElement("button");

								button.innerHTML = "<span>View</span>";

								button.style.width = "90%";

								button.setAttribute("onclick","window.location = '/people/view/" +data[i]["id"]+"?next_url=<%= @next_url%>?page="+page+"'");

								td.appendChild(button);

								tr.appendChild(td);



							}

							if(estimatesize >= 7){

								__$("next").className = __$("next").className.replace("gray","");

								__$("next").setAttribute("onmousedown","navNextPage()");

							}else{

								__$("next").className = "next gray";

								__$("next").removeAttribute("onmousedown");

							}

							if(page == 1 ){

								__$("prev").className = "prev gray";

								__$("prev").removeAttribute("onmousedown");

							}else{

								__$("prev").className = __$("prev").className.replace("gray","");

								__$("prev").setAttribute("onmousedown","navPrevPage()");

							}

					});

		}

		<% if params[:page] %>

				page = parseInt("<%= params[:page] %>")

		<%else %>

				page = 1;

		<% end %>

		
		loadTable(page);


</script>
