<link rel="stylesheet" href="/datatable/media/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="/datatable/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/datatable/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	<% if @statuses.present? %>
		var statuses = "<%= @statuses.join(",") %>".split(",");
	<%end%>
	<% if @prev_statuses.present? %>
		var prev_statuses = "<%= @prev_statuses.join(",") %>".split(",");
	<%end%>
</script>
<div id="table_container">

		<table id="records_table">
				<thead>
					<tr>
					<% if false%>
						<th>
							#
						</th>
					<%end%>
					<% if @den.present? && @den %>
						<th>
							DEN
						</th>
					<%end%>
						<th>
							Name
						</th>

						<th>
							Gender
						</th>
						<th>
							Date of Death
						</th>
						<th>
							Place of Death
						</th>
						<th>
							Physical address
						</th>
						<th>
							Informant
						</th>

						<th>
							View Record
						</th>
					</tr>
				</thead>
				<tbody id="table_body">
					
				</tbody>
		</table>
	
</div>
<style type="text/css">
	#pagination{
		width: 20% !important;
		left : 40%;
		z-index: 100000;
	}
	#records_table_filter{
			margin-top: 0.3%;
			margin-right: 0;
			margin-bottom: 0.3%;

	}
	#records_table_paginate{
		float: left;
		margin-left: 1%;
	}
</style>

<div style="position : absolute; min-width : 30%; bottom:4%; right :1%; margin-right : 1%">
  <% if params[:next_url] %>
        <button class="green"  style="float: right; margin-right:1%" onmousedown="window.location= '<%= params[:next_url] %>'"><span>Back</span></button>

  <% elsif @targeturl.present? %>

        <button class="green"  style="float: right; margin-right:1% ; width:100px" onmousedown="window.location= '<%=@targeturl%>'"><span>Back</span></button>

  <%else %>
         <button class="green" style="float: right; margin-right:1%;width:100px" onmousedown="window.location= '/'"><span>Back</span></button>
   <%end %>
  <% if User.current_user.activities_by_level("#{@facility_type}").include?("Register a record") && User.current_user.role != "Logistics Officer"%>

		<button style="float: right; margin-right:1%;" onmousedown="window.location = '/people/new_person_type'" ><span>Register New</span></button>

  <%end%>
</div>
<%= render :partial => "/dc/landing_resize" %>
<script type="text/javascript">
	String.prototype.replaceAll = function(str1, str2, ignore) 
	{
		    return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2);
	} 

	var url =""

	    <% if params[:search_criteria].present? %>
			
			<%if params[:death_entry_number].present? %>
				url = "/search_by_fields?death_entry_number=<%=params[:death_entry_number]%>"
			<%end%>

			<%if params[:barcode].present? %>

				var param = "<%=params[:barcode]%>";
				param = param.substr(0,param.length-1);
				console.log(param);
				url = "/search_by_fields?barcode="+param;
			<%end%>
			<% if params[:search_criteria] == "General Search" %>
				url = "/general_search?<%= @params_string%>".replaceAll("amp;","");

			<%end%>
		<%elsif params[:registration_type].present?%>
				url = "/query_registration_type/<%=params[:registration_type]%>?"
		<%elsif @special_case_print.present?%>
				url = "/query_registration_type_and_printed?"
		<%else%>

			<% if @prev_statuses.present? %>
				  url = "/search_by_status_with_prev_status?";
				  for (var i = 0 ; i < statuses.length ; i++){
					url = url+"&statuses[]="+statuses[i];
				  }
				  for (var i = 0 ; i < prev_statuses.length ; i++){
					url = url+"&prev_statuses[]="+prev_statuses[i];
				  }
			<%else%>
				url ="/search_by_status?";
				for (var i = 0 ; i < statuses.length ; i++){
					url = url+"&statuses[]="+statuses[i];
				}
			<%end%>
		<%end%>

		if (Object.getOwnPropertyNames(Date.prototype).indexOf("format") < 0) {

		    Object.defineProperty(Date.prototype, "format", {
		        value: function (format) {
		            var date = this;

		            var result = "";

		            if (!format) {

		                format = ""

		            }

		            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

		            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
		                "October", "November", "December"];

		            if (format.match(/YYYY\-mm\-dd\sHH\:\MM\:SS/)) {

		                result = date.getFullYear() + "-" + stock;
		                padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
		                stock.padZeros(date.getDate(), 2) + " " + stock.padZeros(date.getHours(), 2) + ":" +
		                stock.padZeros(date.getMinutes(), 2) + ":" + stock.padZeros(date.getSeconds(), 2);

		            } else if (format.match(/YYYY\-mm\-dd/)) {

		                result = date.getFullYear() + "-" + stock.padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
		                    stock.padZeros(date.getDate(), 2);

		            } else if (format.match(/mmm\/d\/YYYY/)) {

		                result = months[parseInt(date.getMonth())] + "/" + date.getDate() + "/" + date.getFullYear();

		            } else if (format.match(/d\smmmm,\sYYYY/)) {

		                result = date.getDate() + " " + monthNames[parseInt(date.getMonth())] + ", " + date.getFullYear();

		            } else {

		                result = date.getDate() + "/" + months[parseInt(date.getMonth())] + "/" + date.getFullYear();

		            }

		            return result;
		        }
		    });

	}

	function changeFocusToMe(element){

	}
	var page = 1 ;

	var estimatesize = 0;
	var table = __$("table_body");

	table.innerHTML ="";

	var datatable;
	function loadTable(page){

		var content = __$("table_container")
	
		var table = __$("table_body");


		ajaxGETRequest(url+"&page="+page+"&size=40",function(data){
				var data = JSON.parse(data);
						for(var i = 0 ; i < data.length ; i++){

								estimatesize = i + 1;

								var tr = document.createElement("tr");

								table.appendChild(tr);


							/*	var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								td.innerHTML = (page - 1)* 7 + (i + 1);

								tr.appendChild(td);

							*/
							<% if @den.present? && @den %>
								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								td.innerHTML = data[i].den

								tr.appendChild(td);
							<%end%>


								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								td.innerHTML = data[i]["first_name"] +" "+ (data[i]["middle_name"] ? data[i]["middle_name"] : "") + " "+ data[i]["last_name"]

								tr.appendChild(td);


								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								td.innerHTML = data[i].gender

								tr.appendChild(td);


								var td = document.createElement("td");
								td.style.borderRight= "1px solid black";
								td.style.borderBottom= "1px solid black";
								td.innerHTML = new Date(data[i].date_of_death).format()
								tr.appendChild(td);


								var td = document.createElement("td");
								td.style.borderRight= "1px solid black";
								td.style.borderBottom= "1px solid black";

								if(data[i].place_of_death && data[i].place_of_death.trim().toLowerCase().match("facility")){
									td.innerHTML = data[i].hospital_of_death + ","+ data[i].place_of_death_district;

								}else if(data[i].place_of_death_foreign && data[i].place_of_death_foreign.trim().toLowerCase().match("facility")){
									td.innerHTML = data[i].place_of_death_foreign_hospital 

								}else if(data[i].place_of_death_foreign && data[i].place_of_death_foreign.trim() !="facility"){
									td.innerHTML = (data[i].place_of_death_country ? data[i].place_of_death_country : "") + (data[i].place_of_death_foreign_state ? data[i].place_of_death_foreign_state : "") +" " 
									+ (data[i].place_of_death_foreign_district ? data[i].place_of_death_foreign_district : "" ) + " "+ 
									 (data[i].place_of_death_foreign_village ? data[i].place_of_death_foreign_village : "");

								}else if(data[i].place_of_death  && data[i].place_of_death =="Other"){

									td.innerHTML = (data[i].other_place_of_death !=null && data[i].other_place_of_death.length > 0 ? data[i].other_place_of_death + "," : "")+ data[i].place_of_death_district;


								}else if(data[i].place_of_death  && ["Home(Place of residence)","Home"].indexOf(data[i].place_of_death) >= 0){
									var home_village_ta = "";
									if (data[i].place_of_death_village == "Unknown"){
										 
									}else if (data[i].place_of_death_village == "Other"){
										home_village_ta = data[i].other_place_of_death_village

									}else if (data[i].place_of_death_village != null && data[i].place_of_death_village.length > 0){
										home_village_ta = data[i].place_of_death_village
									}

									if (data[i].place_of_death_ta == "Unknown"){
										 
									}else if (data[i].place_of_death_ta == "Other"){
										home_village_ta = home_village_ta +","+ data[i].other_place_of_death_ta

									}else if (data[i].place_of_death_ta != null && data[i].place_of_death_ta.length > 0){
										home_village_ta = home_village_ta +","+ data[i].place_of_death_ta
									}


									td.innerHTML = (home_village_ta.length > 0 ? home_village_ta +"," : "") +data[i].place_of_death_district;

								}

								tr.appendChild(td);

								var td = document.createElement("td");
								td.style.borderRight= "1px solid black";
								td.style.borderBottom= "1px solid black";

								if(data[i].current_country){
									if( data[i].current_country.trim().toLowerCase().match("malawi") && data[i].current_district && data[i].current_district.length > 0){

										var physical_village_ta = "";
										if (data[i].current_village == "Unknown"){
											 
										}else if (data[i].current_village == "Other"){
											physical_village_ta = data[i].other_current_village

										}else if (data[i].current_village != null && data[i].current_village.length > 0){
											physical_village_ta = data[i].current_village
										}

										if (data[i].current_ta == "Unknown"){
											 
										}else if (data[i].current_ta == "Other"){
											physical_village_ta = (physical_village_ta.length > 0 ?physical_village_ta +"," : "")+ data[i].other_current_ta

										}else if (data[i].current_ta != null && data[i].current_ta.length > 0){
											physical_village_ta = (physical_village_ta.length > 0 ? physical_village_ta +"," : "")+ data[i].current_ta
										}

											td.innerHTML =  (physical_village_ta.length > 0 ? physical_village_ta +"," : "") +data[i].current_district;
										}
									else{
										var address = data[i].current_foreign_district ;

										if( data[i].current_foreign_village){
											address = address + " "+ data[i].current_foreign_village
										}
										td.innerHTML =  (data[i].current_country? data[i].current_country : (data[i].other_current_country? data[i].other_current_country : "") ) +(address && address != null ? address :"")
									}
								}else{

								}

								tr.appendChild(td);


								var td = document.createElement("td");

								td.style.borderRight= "1px solid black";

								td.style.borderBottom= "1px solid black";

								td.innerHTML = td.innerHTML = data[i].informant_first_name +" " + data[i].informant_last_name

								tr.appendChild(td);


								var td = document.createElement("td");

								td.style.borderBottom= "1px solid black";


								td.style.borderRight= "1px solid black";

								var button = document.createElement("button");

								button.innerHTML = "<span>View</span>";

								button.style.width = "90%";

								button.setAttribute("onclick","window.location = '/people/view/" +(data[i]["_id"]? data[i]["_id"] : data[i]["id"])+"?next_url=<%= @next_url%>?page="+page+"'");

								td.appendChild(button);

								tr.appendChild(td);



							}

							datatable = $("#records_table").dataTable({
									"lengthChange": false,
									"pageLength": 6,
									"order": [[ 0, "asc" ]],
									"bInfo": false,
									"autoWidth": true
							});

							var search =__$('records_table_filter').getElementsByTagName("input")[0];
    						search.setAttribute("onfocus","changeFocusToMe(this)")
    						search.setAttribute("onblur","__$('keyboardcontainer').style.visibility='hidden'")
    						setTimeout(function(){
    							page = page + 1
    							addRows(page);
    						},1000);
    					

					});

	}

	function addRows(page){
		ajaxGETRequest(url+"&page="+page+"&size=40",function(data){
				var data = JSON.parse(data);
				for(var i  = 0 ; i <data.length ; i++){
					var name = data[i]["first_name"] +" "+ (data[i]["middle_name"] ? data[i]["middle_name"] : "") + " "+ data[i]["last_name"]

					var place_of_death = ""

					if(data[i].place_of_death && data[i].place_of_death.trim().toLowerCase().match("facility")){

									place_of_death = data[i].hospital_of_death +","+ data[i].place_of_death_district;

					}else if(data[i].place_of_death_foreign && data[i].place_of_death_foreign.trim().toLowerCase().match("facility")){
									place_of_death = data[i].place_of_death_foreign_hospital

					}else if(data[i].place_of_death_foreign && data[i].place_of_death_foreign.trim() !="facility"){
									place_of_death = (data[i].place_of_death_country ? data[i].place_of_death_country : "") + (data[i].place_of_death_foreign_state ? data[i].place_of_death_foreign_state : "") +" " 
									+ (data[i].place_of_death_foreign_district ? data[i].place_of_death_foreign_district : "" ) + " "+ 
									 (data[i].place_of_death_foreign_village ? data[i].place_of_death_foreign_village : "");

					}else if(data[i].place_of_death  && data[i].place_of_death =="Other"){

									place_of_death = (data[i].other_place_of_death !=null && data[i].other_place_of_death.length > 0 ? data[i].other_place_of_death + "," : "")+ data[i].place_of_death_district


					}else if(data[i].place_of_death  && ["Home(Place of residence)","Home"].indexOf(data[i].place_of_death) >= 0){

									var home_village_ta = "";
									if (data[i].place_of_death_village == "Unknown"){
										 
									}else if (data[i].place_of_death_village == "Other"){
										home_village_ta = data[i].other_place_of_death_village

									}else if (data[i].place_of_death_village != null && data[i].place_of_death_village.length > 0){
										home_village_ta = data[i].place_of_death_village
									}

									if (data[i].place_of_death_ta == "Unknown"){
										 
									}else if (data[i].place_of_death_ta == "Other"){
										home_village_ta = home_village_ta +","+ data[i].other_place_of_death_ta

									}else if (data[i].place_of_death_ta != null && data[i].place_of_death_village.length > 0){
										home_village_ta = home_village_ta +","+ data[i].place_of_death_ta
									}

									place_of_death = (home_village_ta.length > 0 ? home_village_ta + ",": "")+  data[i].place_of_death_district;

					}

					var physical_address = ""

					if(data[i].current_country){
						if( data[i].current_country.trim().toLowerCase().match("malawi") && data[i].current_district && data[i].current_district.length > 0){
										var physical_village_ta = "";
										if (data[i].current_village == "Unknown"){
											 
										}else if (data[i].current_village == "Other"){
											physical_village_ta = data[i].other_current_village

										}else if (data[i].current_village != null && data[i].current_village.length > 0){
											physical_village_ta = data[i].current_village
										}

										if (data[i].current_ta == "Unknown"){
											 
										}else if (data[i].current_ta == "Other"){
											physical_village_ta = (physical_village_ta.length > 0 ?physical_village_ta +"," : "")+ data[i].other_current_ta

										}else if (data[i].current_ta != null && data[i].current_ta.length > 0){
											physical_village_ta = (physical_village_ta.length > 0 ? physical_village_ta +"," : "")+ data[i].current_ta
										}
										physical_address =  (physical_village_ta.length > 0 ? physical_village_ta + "," : "") + data[i].current_district;
									}
									else{
										var address = data[i].current_foreign_district ;

										if( data[i].current_foreign_village){
											address = address + " "+ data[i].current_foreign_village
										}
										physical_address =  (data[i].current_country? data[i].current_country : "" ) +address
									}
					}else{

					}

					var informant = data[i].informant_first_name +" " + data[i].informant_last_name

					var link = "window.location = \"/people/view/" +(data[i]["_id"]? data[i]["_id"] : data[i]["id"])+"?next_url=<%= @next_url%>\"";

					var button = "<button class='blue' onclick='"+link+"'><span>View</span></button>"

				<% if @den.present? && @den %>
					datatable.api().row.add([data[i].den,name,data[i].gender,new Date(data[i].date_of_death).format(),place_of_death,physical_address,informant,button]).draw()
				<%else%>
					datatable.api().row.add([name,data[i].gender,new Date(data[i].date_of_death).format(),place_of_death,physical_address,informant,button]).draw()
				<%end%>
				}
				if(data.length == 0){
					return;
				}
				setTimeout(function(){
    				page = page + 1
    				addRows(page);
    			},2000);
		});
	}
	var qwerty = ["1234567890", "qwertyuiop","asdfghjkl:","zxcvbnm,.?","_-@()+;=\\\/"]
	var abc    = ["1234567890", "abcdefghij","klmnopqrs:","tuvwxyz,.?","_-@()+;=\\\/"]
	var capcase = false;
	var type = "abc"

	function cap(a){
			return a.toUpperCase();
	}
	function appendValue(value){
			if(control === undefined){
				focusFirstInput()
			}
			control.value = control.value + value
			datatable.fnFilter(control.value);
			setTimeout(function(){
				control.focus();
			},1);

			
	}

	function deleteFromValue(){
			control.value = control.value.slice(0, control.value.length - 1)
			datatable.fnFilter(control.value);
			setTimeout(function(){
				control.focus();
			},1);
	}

	function clear(){
			control.value = ""
			datatable.fnFilter(control.value);
			setTimeout(function(){
				control.focus();
			},1);
	}

	function changeKeboardType(keyboard){
			type  = keyboard;
			changeFocusToMe(control);
			datatable.fnFilter(control.value);
			setTimeout(function(){
				control.focus();
			},1);
	}

	function changeFocusToMe(element){
			control = element
			var container = __$("table_container")
            var width = 700;
            var height = 380;
            if(__$("keyboardcontainer")){
            	__$("keyboardcontainer").style.visibility ="visible"
            	__$("keyboardcontainer").innerHTML = "";
            }else{
            	var div = document.createElement("div");
            	div.id = "keyboardcontainer";
            	div.style.textAlign ="center"
            	div.style.position = "absolute";
            	div.style.width = width + "px";
            	div.style.height = height + "px";
            	div.style.backgroundColor = "#eee";
            	div.style.border = "1px solid #26262b";
            	div.style.display ="block"
            	div.style.padding ="0.5%";
            	div.style.borderRadius = "1px";
            	div.style.left = "calc(50% - " + (width / 2) + "px)";
            	div.style.top = "calc(50% - " + (height * 0.3) + "px)";
            	div.style.border = "1px outset #fff";
            	div.style.boxShadow = "3px 1.5px 3px 0px rgba(0,0,0,0.75)";
            	div.style.fontFamily = "arial, helvetica, sans-serif";
            	div.style.MozUserSelect = "none";
            	container.appendChild(div);
            }

			var groups = eval(type)
			
			for(var i = 0 ; i < groups.length;i++){
					var row = document.createElement("div");
					row.className = "row"
					__$("keyboardcontainer").appendChild(row);
					var keys = groups[i].split("");
					for(var j = 0 ; j < keys.length ; j++){
						var button = document.createElement("button");
						var key = capcase ? cap(keys[j]) : keys[j]
						button.innerHTML = key ;
						button.className = "blue"
						button.setAttribute("onmousedown", "appendValue('"+key+"')");
						button.setAttribute("onmouseup", "control.focus()")
						row.appendChild(button);
					}

			}

			var row = document.createElement("div");
			row.className = "row"
			__$("keyboardcontainer").appendChild(row);

			var button = document.createElement("button");
			button.innerHTML = type == "abc" ? "qwerty" : "abc";
			button.className = "orange";
			button.setAttribute("onmousedown", "changeKeboardType('"+button.innerHTML+"')")
			button.onmouseup = function(){
				control.focus()
			}
			row.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = capcase ? "cap" : cap("CAP");
			button.style.marginLeft = "1%";
			button.onmousedown = function(){
				if(capcase){
					capcase = false
					buildkeyBoard(type)
				}else{
					capcase = true
					buildkeyBoard(type)
				}
			}
			button.onmouseup = function(){
				control.focus()
			}
			button.className = "blue"
			row.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = "space";
			button.className = "blue";
			button.style.marginLeft = "5%";
			button.style.marginRight = "5%";
			button.style.width = "200px"
			button.setAttribute("onmousedown", "appendValue(' ')")
			button.setAttribute("onmouseup", "control.focus()")
			row.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = "Clear";
			button.className = "orange";
			button.style.marginRight = "1%";

			button.onmousedown = function(){
				clear();
			}
			button.onmouseup = function(){
				control.focus()
			}
			row.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = "delete";
			button.className = "blue"
			button.onmousedown = function(){
				deleteFromValue();
			}
			button.onmouseup = function(){
				control.focus()
			}

			row.appendChild(button);

	}
	loadTable(page);

</script>
