<link rel="stylesheet" href="/datatable/media/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="/datatable/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/datatable/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	<% if @statuses.present? %>
		var statuses = "<%= @statuses.join(",") %>".split(",");
	<%end%>
	<% if @prev_statuses.present? %>
		var prev_statuses = "<%= @prev_statuses.join(",") %>".split(",");
	<%end%>
</script>
<div id="table_container">

		<table id="records_table">
				<thead>
					<tr>
					<% if false%>
						<th>
							#
						</th>
					<%end%>
					<% if @den.present? && @den %>
						<th>
							DEN
						</th>
					<%end%>
						<th>
							Name
						</th>

						<th>
							DOB
						</th>
						<th>
							DOD
						</th>
						<th>
							Place of Death
						</th>
						<th>
							Informant
						</th>

						<th>
							View Record
						</th>
					</tr>
				</thead>
				<tbody id="table_body">
					
				</tbody>
		</table>
	
</div>
<style type="text/css">
	#pagination{
		width: 20% !important;
		left : 40%;
		z-index: 100000;
	}
	#records_table_filter{
			margin-top: 0.3%;
			margin-right: 0;
			margin-bottom: 0.3%;

	}
	#records_table_paginate{
		float: left;
		margin-left: 1%;
	}
</style>

<div style="position : absolute; min-width : 30%; bottom:4%; right :1%; margin-right : 1%">
  <% if params[:next_url] %>
        <button class="green"  style="float: right; margin-right:1%" onmousedown="window.location= '<%= params[:next_url] %>'"><span>Back</span></button>

  <% elsif @targeturl.present? %>

        <button class="green"  style="float: right; margin-right:1% ; width:100px" onmousedown="window.location= '<%=@targeturl%>'"><span>Back</span></button>

  <%else %>
         <button class="green" style="float: right; margin-right:1%;width:100px" onmousedown="window.location= '/'"><span>Back</span></button>
   <%end %>
  <% if User.current_user.activities_by_level("#{@facility_type}").include?("Register a record") && User.current_user.role != "Logistics Officer"%>

		<button style="float: right; margin-right:1%;" onmousedown="window.location = '<%= (SETTINGS["site_type"] == "dc" ? "/people/form_type" : "/people/new_person_type?form_type=NR-10") %>'" ><span>Register New</span></button>

  <%end%>
</div>
<%= render :partial => "/dc/landing_resize" %>
<script type="text/javascript">
		var datatable;
		var status = "";
		var district = "";
		var den = false;
		var details = {}

		<% if @den.present?  && @den == true %>
			den = true
		<%end%>
		<% @statuses.each {|s|%>
		if (status == ""){
			status = status + "statuses[]=<%= s.split(/\s+/).join('_')%>"
		}else{
			status = status + "&statuses[]=<%= s.split(/\s+/).join('_')%>"
		}     
		<% } %>
		var url = "/add_more_open_cases/1?"+ status+"&district=<%=params[:district]%>"
		function initTable(){
		details = {}
		datatable =  $('#records_table').DataTable(
					{
						"processing": true,
						"serverSide": true,
						"ordering": false,
						"bLengthChange" : false,
						"pageLength": 6,
						"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
							jQuery('td .action-btn', nRow).parent().parent().css('background', 'white');
						},
						"ajax": {
							"url": url,
							"data": function(d){
								for (var i = 0, len = d.columns.length; i < len; i++) {
								if (! d.columns[i].search.value) delete d.columns[i].search;
								if (d.columns[i].searchable === true) delete d.columns[i].searchable;
								if (d.columns[i].orderable === true) delete d.columns[i].orderable;
								if (d.columns[i].data === d.columns[i].name) delete d.columns[i].name;
								}
								delete d.search.regex;
								d.district = district
								d.den = den
							},
							dataFilter: function(data){
								var json = jQuery.parseJSON( data );
								for(var i = 0; i < json['data'].length; i ++){

									var last_index = json['data'][i].length - 1;
									var person_id = json['data'][i][last_index];

									var clas = "nonid";

									json['data'][i][last_index] = '<button onclick="javascript:location=\'/people/view/' + person_id + '?next_url=<%= request.fullpath %> \'"     ' +' class="action-btn btn btn-success btn-xs ' + clas + '"><i class="fa fa-eye"></i></button>';
									
									<% if @enable_action.present? && @enable_action %>
									json['data'][i][last_index] += '&nbsp; <button id="check'+person_id+'" onclick="approveRecord(\''+person_id+'\')"' +' class="action-btn btn btn-primary btn-xs ' + clas + '"><i class="fa fa-check"></i></button>';
									<%end%>
									<% if @batch.present? && @batch %>
									json['data'][i][last_index] += "&nbsp;<input type = 'checkbox' id='"+person_id+"' onclick='checkRecord(this)'/>";
									<%end%>
									
					
									details[person_id] = json["records"][person_id]

								}
								return JSON.stringify( json );
							}
						}}
			);
		}
		initTable();

		var search =__$('records_table_filter').getElementsByTagName("input")[0];
		search.setAttribute("onfocus","changeFocusToMe(this)")
		search.setAttribute("onblur","__$('keyboardcontainer').style.visibility='hidden'")

		var qwerty = ["1234567890", "qwertyuiop","asdfghjkl:","zxcvbnm,.?","_-@()+;=\\\/"]
		var abc    = ["1234567890", "abcdefghij","klmnopqrs:","tuvwxyz,.?","_-@()+;=\\\/"]
		var capcase = false;
		var type = "abc"
	
		function cap(a){
				return a.toUpperCase();
		}
		function appendValue(value){
				if(control === undefined){
					focusFirstInput()
				}
				control.value = control.value + value
				datatable.search(control.value).draw();
				setTimeout(function(){
					control.focus();
				},1);
	
				
		}
	
		function deleteFromValue(){
				control.value = control.value.slice(0, control.value.length - 1)
				datatable.search(control.value).draw();
				setTimeout(function(){
					control.focus();
				},1);
		}
	
		function clear(){
				control.value = ""
				datatable.search(control.value).draw();
				setTimeout(function(){
					control.focus();
				},1);
		}
	
		function changeKeboardType(keyboard){
				type  = keyboard;
				changeFocusToMe(control);
				datatable.search(control.value).draw();
				setTimeout(function(){
					control.focus();
				},1);
		}
	
		function changeFocusToMe(element){
				control = element
				var container = __$("table_container")
				var width = 700;
				var height = 380;
				if(__$("keyboardcontainer")){
					__$("keyboardcontainer").style.visibility ="visible"
					__$("keyboardcontainer").innerHTML = "";
				}else{
					var div = document.createElement("div");
					div.id = "keyboardcontainer";
					div.style.textAlign ="center"
					div.style.position = "absolute";
					div.style.width = width + "px";
					div.style.height = height + "px";
					div.style.backgroundColor = "#eee";
					div.style.border = "1px solid #26262b";
					div.style.display ="block"
					div.style.padding ="0.5%";
					div.style.borderRadius = "1px";
					div.style.left = "calc(50% - " + (width / 2) + "px)";
					div.style.top = "calc(50% - " + (height * 0.3) + "px)";
					div.style.border = "1px outset #fff";
					div.style.boxShadow = "3px 1.5px 3px 0px rgba(0,0,0,0.75)";
					div.style.fontFamily = "arial, helvetica, sans-serif";
					div.style.MozUserSelect = "none";
					container.appendChild(div);
				}
	
				var groups = eval(type)
				
				for(var i = 0 ; i < groups.length;i++){
						var row = document.createElement("div");
						row.className = "row"
						__$("keyboardcontainer").appendChild(row);
						var keys = groups[i].split("");
						for(var j = 0 ; j < keys.length ; j++){
							var button = document.createElement("button");
							var key = capcase ? cap(keys[j]) : keys[j]
							button.innerHTML = key ;
							button.className = "blue"
							button.setAttribute("onmousedown", "appendValue('"+key+"')");
							button.setAttribute("onmouseup", "control.focus()")
							row.appendChild(button);
						}
	
				}
	
				var row = document.createElement("div");
				row.className = "row"
				__$("keyboardcontainer").appendChild(row);
	
				var button = document.createElement("button");
				button.innerHTML = type == "abc" ? "qwerty" : "abc";
				button.className = "orange";
				button.setAttribute("onmousedown", "changeKeboardType('"+button.innerHTML+"')")
				button.onmouseup = function(){
					control.focus()
				}
				row.appendChild(button);
	
				var button = document.createElement("button");
				button.innerHTML = capcase ? "cap" : cap("CAP");
				button.style.marginLeft = "1%";
				button.onmousedown = function(){
					if(capcase){
						capcase = false
						buildkeyBoard(type)
					}else{
						capcase = true
						buildkeyBoard(type)
					}
				}
				button.onmouseup = function(){
					control.focus()
				}
				button.className = "blue"
				row.appendChild(button);
	
				var button = document.createElement("button");
				button.innerHTML = "space";
				button.className = "blue";
				button.style.marginLeft = "5%";
				button.style.marginRight = "5%";
				button.style.width = "200px"
				button.setAttribute("onmousedown", "appendValue(' ')")
				button.setAttribute("onmouseup", "control.focus()")
				row.appendChild(button);
	
				var button = document.createElement("button");
				button.innerHTML = "Clear";
				button.className = "orange";
				button.style.marginRight = "1%";
	
				button.onmousedown = function(){
					clear();
				}
				button.onmouseup = function(){
					control.focus()
				}
				row.appendChild(button);
	
				var button = document.createElement("button");
				button.innerHTML = "delete";
				button.className = "blue"
				button.onmousedown = function(){
					deleteFromValue();
				}
				button.onmouseup = function(){
					control.focus()
				}
	
				row.appendChild(button);
	
		}
</script>
