<script type="text/javascript">
	var site_type = "<%= site_type %>";
    String.prototype.capitalize = function(lower) {
        return (lower ? this.toLowerCase() : this).replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
    };
</script>
<script src="/assets/edrs.js"></script>
<script src="/assets/form.js"></script>
<%= form_for @person, :url => '/people/create', :method => :post do |f| %>
	<input type="hidden" name="person[registration_type]" id="person_registration_type" value="<%=params[:registration_type]%>">
	<input type="hidden" name="person[delayed_registration]" value="No">
	<% if true %>
		<section name="Barcode">
			<sub id="person_barcode_section" name="Barcode">
				<%= text_field_tag "person[barcode]",nil , {:helpText=> "Scan Form Barcode",:tt_pageStyleClass =>"NoKeyboard",:tt_onUnLoad=>"removeDollar()"} %>
			</sub>
		</section>
	<%end%>
    <section name="Personal details of deceased">
            <sub id="person_details" name="Details of deceased">
                <%= (f.text_field :last_name, :helpText => "Surname",
                                  :allowFreeText =>true, :ajaxURL => "/get_last_names?search=",:tt_onUnLoad=>"validateName('person',1)",:optional=> true) rescue "" %>

                <%= (f.text_field :first_name,
                				  :helpText => "First name",
                				  :allowFreeText =>true,  
                				  :ajaxURL => "/get_first_names?search=",
                				  :tt_onUnLoad=>"validateName('person',2)",
                				  :optional=> true) rescue "" %>

                <%= (f.text_field :middle_name, 
                				  :helpText => "Other names",
                				  :allowFreeText =>true, 
                				  :optional => :true, :ajaxURL => "/get_first_names?search=",
                				  :tt_onUnLoad=>"validateName('person',3)",
                				  :optional=> true) rescue "" %>

                <%= text_field_tag "person[id_number]",nil , {
                				 :helpText => "ID No", 
                				 :optional => true, 
                				 :validationRule=>"^[a-zA-Z0-9]{8}$", 
                				 :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters"} %>

                <%= text_field_tag "person[nationality]",nil , {
                				:helpText => "Nationality",
                				:ajaxURL => "/nationalities?special=Special&search_string=",
                				:allowFreeText => true} %>

                 <%= select_tag("person[gender]",options_for_select([" ", "Female", "Male"], @person[:gender]),
                 				:helpText =>"Sex",
                 				:tt_requireNextClick => false) %>

                <%= text_field_tag "person[birth_year]", nil, {
                			:helpText => 'Year of Birth', 
                			:field_type => 'number',
                			:absoluteMin => "1890", 
                			:min => "1940", 
                			:absoluteMax => Date.today.year, 
                			:tt_pageStyleClass => "Numeric NumbersWithUnknown"}  %>

                <%= select_tag "person[birth_month]", options_for_select(["January","February","March","April","May","June","July","August","September","October","November","December"], " "), {
                				:helpText => 'Month of Birth', 
                				:condition => '$("person_birth_year").value.toLowerCase() != "unknown"',
                				:validationJS => "validateDOB();",
                				:validationMessage => 'Please enter a valid date', 
                				:tt_onLoad =>"__$('keyboard').style.display = 'none'",
                				:tt_requireNextClick => false,
                				:tt_pageStyleClass =>"NoKeyboard longSelectList",
                				:tt_onUnLoad=>"validateAndProcessMonth()" }%>

                <%= text_field_tag "person[age_estimate]", nil, {
                				:helpText => 'Age Estimate', 
                				:absoluteMin => 1, 
                				:absoluteMax => 120,
                				:field_type => 'number', 
                				:condition => '$("person_birth_year").value == "Unknown"', 
                				:tt_onLoad => "$('nextButton').style.display = 'block';", 
                				:tt_pageStyleClass => "Numeric NumbersOnly",
                				:tt_onUnLoad => "setEstimatedAgeValue()"} %>

                <%= text_field_tag "person[birth_day]",  nil, 
                				:field_type => 'number',
                				:helpText => 'Birth Day', 
                				:condition => '($("person_birth_year").value != "Unknown") && ($("person_birth_month").value != "Unknown")',
                				:tt_onLoad =>  "monthDaysKeyPad();$('nextButton').style.display = 'block'" ,
                				:tt_onUnLoad => "setAgeValues()"%>

                <%= (f.hidden_field :birthdate) rescue "" %>

                <%= f.hidden_field :birthdate_estimated rescue "" %>

                <%= text_field_tag "person[birth_certificate_number]",nil , {
                					:helpText => "Birth Certificate No.",
                					:optional => true} %>
            </sub>

            <sub id="death_details" name="Details of death">
                <%= (f.text_field :date_of_death,:helpText => "Date of Death",:field_type => "date" ,:tt_onLoad =>"removeUnknown()",:tt_onUnLoad => "validateDeathDate()") rescue "" %>
                <input type="hidden" id="person_place_of_death_country" name="person[place_of_death_country]" value="Malawi">
                <% if site_type == "facility" %>
                    <%= (f.hidden_field :place_of_death, :value => "Health Facility")  %>
                    <%= (f.hidden_field :place_of_death_district, :value => @district.name) %>
                    <%= (f.hidden_field :hospital_of_death, :value => @facility.name) %>
                <% elsif site_type =="dc" %>
                    <%= select_tag("person[place_of_death]", options_for_select(["","Health Facility", "Home","Other"], @person[:place_of_death]),:id=> "person_place_of_death",:helpText =>"Place of Death", :tt_onUnLoad =>"setAjaxUrl(-1)",:tt_requireNextClick => false,:tt_pageStyleClass =>"NoKeyboard") %>

                    <%= text_field_tag "person[place_of_death_district]", nil, {:helpText => "Place of Death District" ,  :tt_onUnLoad => "setAjaxUrl(0)"} %>

                    <%= text_field_tag "person[hospital_of_death]", nil, {:helpText => "Health Facility of death",:condition => "__$('person_place_of_death').value.trim()=='Health Facility'"} %>

                    <%= text_field_tag "person[place_of_death_ta]", nil, {:helpText => "Traditional authority of death",:condition => "__$('person_place_of_death').value.match('Home')", :tt_onUnLoad => "setAjaxUrl(1)"} %>

                     <%= text_field_tag "person[other_place_of_death_ta]", nil, {:helpText => "Other place of death Traditional Authority specify",:condition => "__$('person_place_of_death_ta').value =='Other'"} %>

               		<%= text_field_tag "person[place_of_death_village]", nil, {:helpText => "Village of death",:condition => "__$('person_place_of_death_ta').value.length > 0 && __$('person_place_of_death_ta').value != 'Other'"} %>

               		<%= text_field_tag "person[other_place_of_death_village]", nil, {:helpText => "Other place of death Village specify",:condition => "__$('person_place_of_death_ta').value =='Other' || __$('person_place_of_death_village').value =='Other'"} %>

                	<%= (f.text_field :other_place_of_death,:helpText => "Other place of death specify",:condition => "__$('person_place_of_death').value.match('Other')") rescue "" %>
                <% end %>


             
            </sub>

  			<% render :partial => "physical_address" %>

            <%= render :partial => "home_address" %>


           	<sub id='pregnancy_status' name="Pregnancy status">
               <%= select_tag("person[died_while_pregnant]", options_for_select(['No', 'Yes'], @person[:died_while_pregnant]),
                        :helpText =>"Did the death occur while pregnant?(<i style='font-size: 18px'> at the time of delivery or within 6 weeks after the end of pregnancy</i>)", 
                        :condition =>"validatePregnancy()",
                        :tt_requireNextClick => false,
                        :tt_onUnLoad=>"flagIfOut()") %>
            </sub>
  	</section>

	<%= render :partial => "parents_details" %>

    <section name="Informant's details">
            <sub id="info_details" name="Details and designation">

                 <%= (f.text_field :informant_last_name, 
                				  :helpText => "Informant's  Surname",
                				  :allowFreeText =>true,
                				  :ajaxURL => "/get_last_names?search=",
                				  :tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :informant_first_name,
                				  :helpText => "Informant's First Name",
                				  :allowFreeText =>true,
                				  :ajaxURL => "/get_first_names?search=",
                				  :tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :informant_middle_name, 
                				  :helpText => "Informant's Other Names",
                				  :allowFreeText =>true,
                				  :ajaxURL => "/get_first_names?search=",
                				  :optional => :true,
                				  :tt_onLoad=> "removeUnknown()") rescue "" %>

                <%= (f.text_field :informant_id_number, 
                				  :helpText => "Informant's ID No.",
                				  :optional => :true,
                				  :allowFreeText =>true,
                				  :validationRule=>"^[a-zA-Z0-9]{8}$", 
                				  :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters") rescue "" %>

                <input id="person_informant_designation"
	               name="person[informant_designation]"
	              helpText = "Informant's Designation"
	               value="<%= @person[:informant_designation] rescue nil %>" />

	             <%= text_field_tag "person[informant_office_name]",nil , {
	             		:name => "barcode",
	             		:helpText=> "Informant's office name"} %>

	             <%= text_field_tag "person[informant_office_address]",nil , {
	             		:name => "barcode",
	             		:placeholder => "e.g P.O. Box 200 Lilongwe",
	             		:helpText=> "Informant's office address"} %>

	             <%= (f.text_field :informant_phone_number,
                                :helpText => "Informant Telephone Number",
                                :field_type =>"number",
                                :tt_pageStyleClass => "Numeric NumbersWithUnknown",
                                :tt_onLoad => "showPhoneSummary()",
                                :optional => :true) rescue "" %>
                <input type="hidden" name="person[informant_current_country]" id="person_informant_current_country" value="Malawi">

                <% if false %>
                <%= select_tag("person[informant_relationship_to_deceased]", options_for_select(['', 'Husband', 'Wife',
                             'Father', 'Mother',
                             'Grandfather', 'Grandmother',
                             'Brother', 'Sister',
                             'Son', 'Daughter',
                             'Nephew', 'Niece',
                             'Uncle', 'Aunt',
                             'Other'], @person[:informant_relationship_to_deceased]),
                             :helpText =>"Informant's relationship to deceased",
                             :tt_pageStyleClass =>"NoKeyboard longSelectList",:tt_requireNextClick => false) %>

                <%= (f.text_field :informant_relationship_to_deceased_other,
                				:condition=> "__$('person_informant_relationship_to_deceased').value.match('Other')",
                				:helpText => "Informant's relationship to deceased specify") rescue "" %>
                <%end%>
            </sub>
            <% if false %>
            <sub id="info_home_address" name="Address">

   				<%= text_field_tag "person[informant_current_district]", nil, {
   									:helpText => "District (<i>Informant's address</i>)",
   									:ajaxURL =>"/districts?search_string=",
   									:tt_onUnLoad => "setAjaxUrl(4)"} %>

                <%= text_field_tag "person[informant_current_ta]", nil, {
                					:helpText => "Traditional Authority (<i>Informant's address</i>)",
                					:tt_onUnLoad => "setAjaxUrl(5)"} %>

                <%= text_field_tag "person[other_informant_current_ta]", nil, {
                					:helpText => "Other Traditional Authority specify (<i>Informant's address</i>)",
                					:condition => "__$('person_informant_current_ta').value =='Other'"} %>
    			
    			<%= text_field_tag "person[informant_current_village]", nil, {
    								:helpText => "Village (<i>Informant's address</i>)", 
    								:condition => "__$('person_informant_current_ta').value.length > 0 && __$('person_informant_current_ta').value != 'Other'"} %>

    			<%= text_field_tag "person[other_informant_current_village]", nil, {
    							:helpText => "Other village specify (<i>Informant's address</i>)",
    							:condition => "__$('person_informant_current_ta').value =='Other' || __$('person_informant_current_village').value =='Other'",
    							:tt_onLoad=>"setOtherTofield('person_informant_current_village')"} %>

                <%= (f.text_field :informant_addressline1,
                				:helpText => "Informant's Postal address",
                				:placeholder => "e.g P.O. Box 200 Lilongwe",
                				:optional => :true) rescue "" %>

                <%= (f.text_field :informant_addressline2,
                				:condition=>false,
                				:helpText => "Informant Address Line 2",
                				:placeholder => "Street / Company /Building",
                				:optional => :true) rescue "" %>

                <%= (f.text_field :informant_city,
                				:helpText => "Informant city",
                				:placeholder => "Location e.g Area 3",
                				:optional => :true,:condition=>false) rescue "" %>

                <%= (f.text_field :informant_phone_number,
                                :helpText => "Informant Telephone Number",
                                :field_type =>"number",
                                :tt_pageStyleClass => "Numeric NumbersWithUnknown",
                                :tt_onLoad => "showPhoneSummary()",
                                :optional => :true) rescue "" %>

            </sub>
            <%end%>
            <sub id="Informant verification" name="Verification">
                <%= select_tag("person[informant_signed]", options_for_select(['Yes','No'], @person[:informant_signed]),
                				:helpText =>"Informant Signed?") %>

                <%= (f.text_field :informant_signature_date,
                					:helpText => "Date Informant signed",
                					:condition => "__$('person_informant_signed').value.trim().toLowerCase() == 'yes'",
                                    :field_type => "date",
                                    :tt_onLoad =>"removeUnknown()",
                                    :tt_onUnLoad => "validateDateInformant()") rescue "" %>
            </sub>
    </section>

 	<% if site_type == "dc" %>

    <section name="Verification">
            <sub id="village_headman_verification" name="Village head verification">
                <%= select_tag("person[headman_verified]", options_for_select(['Yes','No'], @person[:headman_verified]),
                					:helpText =>"Village headman/Block leader signed?",:tt_requireNextClick => false) %>

                <%= (f.text_field :headman_verification_date,
                				  :helpText => "Date Village headman/Block leader signed",
                                  :field_type => "date",
                                  :condition => "__$('person_headman_verified').value.trim().toLowerCase() =='yes'",
                                  :tt_onLoad =>"removeUnknown()") rescue "" %>
            </sub>
            <sub id="church_verification" name="Church verification">
                <%= select_tag("person[church_verified]", options_for_select(['Yes','No'], @person[:church_verified]),
                		:helpText =>"Senior Member of Village/Religious institution signed?",:tt_requireNextClick => false) %>

                <%= (f.text_field :church_verification_date,
                				:helpText => "Date Senior member of village/Religious institution signed",
		                        :field_type => "date",
		                        :condition => "__$('person_church_verified').value.trim().toLowerCase() =='yes'",
		                        :tt_onLoad =>"removeUnknown()") rescue "" %>
            </sub>
    </section>
    <% end %>

    <% if false %>

    <section name="Acknowledgement of Receipt">
        	<sub id="acknowledgement_of_receipt" name="Acknowledgement of Receipt">
        		<%= (f.text_field :acknowledgement_of_receipt_date,:helpText => "Acknowledgement of receipt date",
                                  :field_type => "date",:tt_onLoad =>"removeUnknown()") rescue "" %>
        	</sub>
    </section>


    <% end %>
    <input type="hidden" name="potential_duplicate" id="potential_duplicate" condition="false">

    <section name="Captured data">
        <sub id="capture_data" name="Captured data">
		     <%= text_field_tag "summary", nil, {:helpText => 'Summary', :tt_onLoad=>"checkForDuplicate();loadPersonSummary()"} %>
        </sub>
    </section>  

<% end %>