  <% if site_type == "dc" %>
    <section name="Verification">
            <sub id="village_headman_verification" name="Village head verification">
                <%= select_tag("person[headman_verified]", options_for_select(['Yes','No'], @person[:headman_verified]),
                          :helpText =>"Village headman/Block leader signed?",:tt_requireNextClick => false) %>

                <%= text_field_tag "person[headman_verification_date]",nil,
                          {:helpText => "Date Village headman/Block leader signed",
                            :field_type => "date",
                            :condition => "__$('person_headman_verified').value.trim().toLowerCase() =='yes'",
                            :tt_onLoad =>"removeUnknown()",
                            :tt_onUnLoad=> "validateWithDeathDate()"}%>
            </sub>
            <sub id="church_verification" name="Church verification">
                <%= select_tag("person[church_verified]", options_for_select(['Yes','No'], @person[:church_verified]),
                    :helpText =>"Senior Member of Village/Religious institution signed?",:tt_requireNextClick => false) %>

                <%= text_field_tag "person[church_verification_date]",nil,
                        {:helpText => "Date Senior member of village/Religious institution signed",
                          :field_type => "date",
                          :condition => "__$('person_church_verified').value.trim().toLowerCase() =='yes'",
                          :tt_onLoad =>"removeUnknown()",
                          :tt_onUnLoad=>"validateWithDeathDate()"}%>
            </sub>
    </section>
    <% end %>

    <% if false %>

    <section name="Acknowledgement of Receipt">
          <sub id="acknowledgement_of_receipt" name="Acknowledgement of Receipt">
            <%= (f.text_field :acknowledgement_of_receipt_date,
                      :helpText => "Acknowledgement of receipt date",
                                  :field_type => "date",
                                  :tt_onLoad =>"removeUnknown()") rescue "" %>
          </sub>
    </section>


    <% end %>

    <section name="Captured data">
        <sub id="captured_data" name="Captured Data">
         <%= text_field_tag "summary", nil, {:helpText => 'Summary', :tt_onLoad=>"checkForDuplicate(); loadMinPersonSummary()"} %>
        </sub>
    </section>  