<script type="text/javascript">
	var site_type = "<%= site_type %>";
    String.prototype.capitalize = function(lower) {
        return (lower ? this.toLowerCase() : this).replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
    };
</script>
<script src="/assets/edrs.js"></script>
<script src="/assets/form.js"></script>
<script type="text/javascript">
	tt_cancel_destination = "/people/view/<%= params[:id]%>?next_url=<%=params[:next_url]%>";
  var registration_type = "<%=@person.registration_type%>";
	function removeUnknown(){

			__$("Unknown").style.display ="none";
	}

  function validateBirthDate() {
    var date_of_death = new Date(__$("person_date_of_death").value).format("YYYY-mm-dd");
    var date_of_birth = new Date(__$("person_birthdate").value).format("YYYY-mm-dd");
      if (date_of_death < date_of_birth) {
          showMessage("<center><b>Birth date Invalid</b></center><br/><center>Birth date entered is greater than date of death</center>", null, 5000);
          gotoPage(tstCurrentPage - 1, false, true);
      }
  }

  function validateDeathDate() {
    var date_of_death = new Date(__$("person_date_of_death").value).format("YYYY-mm-dd");
    var date_of_birth = new Date(__$("person_birthdate").value).format("YYYY-mm-dd");
      if (date_of_death < date_of_birth) {
          showMessage("<center><b>Date of death Invalid</b></center><br/><center> Date of death entered is less than date of birth</center>", null, 5000);
          gotoPage(tstCurrentPage - 1, false, true);
      }
  }

  function displayEditedBirthDate(){

    if (__$("keyboard")) {
      __$("keyboard").style.display = "none";
    }
    //__$("clearButton").style.display ="none";
    
    var tstControl = __$("inputFrame"+tstCurrentPage);
    if (tstControl) {
       tstControl.innerHTML = "";
       tstControl.style.textAlign = "center";
       var table = document.createElement("table");
       table.style.width ="70%"
       tstControl.appendChild(table);

       var tr = document.createElement("tr");
       table.appendChild(tr);

       var td = document.createElement("td");
       td.textAlign = "center"
       td.innerHTML = "Year";
       td.style.fontSize = "2em"
       tr.appendChild(td);

       var td = document.createElement("td");
       td.textAlign = "center"
       td.innerHTML = "Month";
       td.style.fontSize = "2em"
       tr.appendChild(td);

       var td = document.createElement("td");
       td.textAlign = "center"
       td.innerHTML = "Day";
       td.style.fontSize = "2em"
       tr.appendChild(td);

       var tr = document.createElement("tr");
       table.appendChild(tr);

       var td = document.createElement("td");
       td.textAlign = "center"
       td.style.backgroundColor = "#a09898";
       td.style.padding = "0.8em";
       if (__$("person_birth_year").value == "Unknown") {
        td.innerHTML = __$("person_birthdate").value.split("-")[0]
       }else{
        td.innerHTML = __$("person_birth_year").value
       }
       td.style.fontSize = "2em"
       tr.appendChild(td);

       var td = document.createElement("td");
       td.textAlign = "center"
       td.style.backgroundColor = "#a09898";
       td.style.padding = "0.8em";
       td.innerHTML = __$("person_birth_month").value
       if(__$("person_birth_month").value == "Unknown") {
        td.innerHTML = "?"
       }else if(__$("person_birthdate_estimated").value == 1){
        td.innerHTML = "?"
       }else{
        td.innerHTML = __$("person_birth_month").value ;
       }
       td.style.fontSize = "2em"
       tr.appendChild(td);

       var td = document.createElement("td");
       td.textAlign = "center"
       td.style.backgroundColor = "#a09898";
       td.style.padding = "0.8em";
       if(__$("person_birth_month").value == "Unknown") {
        td.innerHTML = "?"
       }else if(__$("person_birthdate_estimated").value == 1){
        td.innerHTML = "?"
       }else{
        td.innerHTML = __$("person_birth_day").value ;
       }
       td.style.fontSize = "2em"
       tr.appendChild(td);

       var tr = document.createElement("tr");
       table.appendChild(tr);

       var td = document.createElement("td");
       td.textAlign = "center"
       td.style.padding = "0.4em";
       var button = document.createElement("button");
       button.className = "blue";
       button.innerHTML ="<span>Change</span>";
       button.onmousedown = function(){
         gotoPage(year_positon, false, true);
       }
       td.appendChild(button);
       tr.appendChild(td);

       var td = document.createElement("td");
       td.textAlign = "center";
       td.style.padding = "0.4em";
       var button = document.createElement("button");
       button.className = "blue";
       button.innerHTML ="<span>Change</span>";
       button.onmousedown = function(){
        __$("person_birth_year").value = __$("person_birthdate").value.split("-")[0]
         gotoPage(tstCurrentPage - 2, false, true);
       }
       td.appendChild(button);
       tr.appendChild(td);

       var td = document.createElement("td");
       td.textAlign = "center";
       td.style.padding = "0.4em";
       var button = document.createElement("button");
       if(__$("person_birth_month").value == "Unknown") {
         button.className = "gray";
         button.innerHTML ="<span>Change</span>"
         
       }else{
         button.className = "blue";
         button.innerHTML ="<span>Change</span>"
         button.onmousedown = function(){
           gotoPage(tstCurrentPage - 1, false, true);
         }
       }
       td.appendChild(button);
       tr.appendChild(td);
    }
 }
</script>
<style type="text/css">
	.capitalize{
		 text-transform: capitalize;
	}
</style>
<%= form_for @person, :url => '/update_field', :method => :post do |f| %>

		<input type="hidden" name="id" value="<%= params[:id] %>">
    <input type="hidden" name="next_url" value="<%= params[:next_url]%>">
		<% if @field  == "person[birthdate]" %>

					 <%= text_field_tag "person[birth_year]", nil, {:helpText => 'Year of Birth', :field_type => 'number', :absoluteMin => "1890", :min => "1940", :absoluteMax => Date.today.year, :tt_pageStyleClass => "Numeric NumbersWithUnknown"}  %>

		  			<%= select_tag "person[birth_month]", options_for_select(["January","February","March","April","May","June","July","August","September","October","November","December"], " "), {:helpText => 'Month of Birth', :condition => '$("person_birth_year").value.toLowerCase() != "unknown"',:validationJS => "validateDOB();",:validationMessage => 'Please enter a valid date', :tt_onLoad =>"__$('keyboard').style.display = 'none'"}%>

		  			<%= text_field_tag "person[age_estimate]", nil, {:helpText => 'Age Estimate', :absoluteMin => 1, :absoluteMax => 120, :field_type => 'number', :condition => '$("person_birth_year").value == "Unknown"', :tt_onLoad => "$('nextButton').style.display = 'block';", :tt_pageStyleClass => "Numeric NumbersOnly",:tt_onUnLoad => "setEstimatedAgeValue()"} %> 

		  			<%= text_field_tag "person[birth_day]",  nil, :field_type => 'number', :helpText => 'Birth Day', :condition => '($("person_birth_year").value != "Unknown") && ($("person_birth_month").value != "Unknown")', :tt_onLoad =>  "monthDaysKeyPad();$('nextButton').style.display = 'block';" ,:tt_onUnLoad => "setAgeValues();"%>


            <input type="hidden" id="person_birthdate" name="person[birthdate]">
            <input type="hidden" id="person_date_of_death" name="person[date_of_death]" value="<%= @person.date_of_death.to_time.strftime('%Y-%m-%d')%>">
            <input type="hidden" id="person_birthdate_estimated" name="person[birthdate_estimated]" value=0>
            <%= text_field_tag "person[birth_date]",  nil,
                          :helpText => "Captured Birth Date",
                          :tt_onLoad=>"displayEditedBirthDate()",
                          :tt_onUnLoad => "validateBirthDate()" %>

		<% elsif @field  == "person[gender]" %>

					<%= select_tag("person[gender]",options_for_select([" ", "Female", "Male"], @person[:gender]),:helpText =>"Gender") %>

		<% elsif @field  == "person[first_name]" %>
					<%= text_field_tag "person[first_name]",@person.first_name,
                          {:helpText => "First name",
                                                    :allowFreeText =>true,  
                                                    :ajaxURL => "/get_first_names?search=",
                                                    :tt_onUnLoad=>"validateName('person',2)",
                                                    :tt_onLoad=> "removeUnknown();checkSpace()"}%>

		<% elsif @field  == "person[last_name]" %>			
                <%= text_field_tag "person[last_name]",@person.last_name, 
                         {:helpText => "Surname",
                          :allowFreeText =>true, 
                          :ajaxURL => "/get_last_names?search=",
                          :tt_onUnLoad=>"validateName('person',1)",
                          :tt_onLoad=> "removeUnknown();checkSpace()"} %>

		<% elsif @field  == "person[middle_name]" %>

					<%= text_field_tag "person[middle_name]",@person.middle_name,
                          {:helpText => "Other names",
                                                     :allowFreeText =>true, 
                                                     :optional => :true, 
                                                     :ajaxURL => "/get_first_names?search=",
                                                     :tt_onUnLoad=>"validateOtherName('person',3)",
                                                     :tt_onLoad=> "removeUnknown();checkSpace()"} %>

		<% elsif @field  == "person[father_first_name]" %>

					 <%= text_field_tag "person[father_first_name]",nil,
                          {:helpText => "Father's First Name",
                            :allowFreeText =>true,
                            :optional => true,
                            :ajaxURL => "/get_first_names?search=",
                            :tt_onLoad=> "removeUnknown();checkSpace()", 
                            :tt_onUnLoad =>"validateName('person_father',8)"} %>

		<% elsif @field  == "person[father_last_name]" %>
					 <%= text_field_tag "person[father_last_name]",nil,
                          {:helpText => "Father's Surname",
                            :allowFreeText =>true,
                            :optional => true, 
                            :ajaxURL => "/get_last_names?search=",
                            :tt_onUnLoad =>"validateName('person_father',7)",
                            :tt_onLoad=> "removeUnknown();checkSpace()" }%>

		<% elsif @field  == "person[father_middle_name]" %>

					<%= text_field_tag "person[father_middle_name]",nil, 
                          {:helpText => "Father's Other Names",
                            :allowFreeText =>true, 
                            :optional => true, 
                            :ajaxURL => "/get_first_names?search=",
                            :tt_onLoad=> "removeUnknown();checkSpace()", 
                            :tt_onUnLoad =>"validateOtherName('person_father',9)"}%>

		<% elsif @field  == "person[mother_first_name]" %>
					<%= text_field_tag "person[mother_first_name]",nil,
                          {:helpText => "Mother's First Name",
                            :allowFreeText =>true,:optional => true,
                            :ajaxURL => "/get_first_names?search=",
                            :tt_onLoad=> "removeUnknown();checkSpace()",
                            :tt_onUnLoad=>"validateName('person_mother',5)"} %>

		<% elsif @field  == "person[mother_last_name]" %>
					<%= text_field_tag "person[mother_last_name]",nil, 
                          {:helpText => "Mother's Surname",
                            :optional => true,
                            :allowFreeText =>true, 
                            :ajaxURL => "/get_last_names?search=",
                            :tt_onLoad=> "removeUnknown();checkSpace()", 
                            :tt_onUnLoad=>"validateName('person_mother',4)"} %>

		<% elsif @field  == "person[mother_middle_name]" %>
                <%= text_field_tag "person[mother_middle_name]",nil, 
                          {:helpText => "Mother's Other Names",
                          :allowFreeText =>true, 
                          :optional => true, 
                          :ajaxURL => "/get_first_names?search=",
                          :tt_onLoad=> "removeUnknown();checkSpace()",
                          :tt_onUnLoad =>"validateOtherName('person_mother',6)"}%>

		<% elsif @field  == "person[informant_first_name]" %>

					<%= text_field_tag "person[informant_first_name]",nil,
                          {:helpText => "Informant's First Name",
                            :allowFreeText =>true,
                            :ajaxURL => "/get_first_names?search=",
                            :tt_onUnLoad =>"validateName('person_informant',11)",
                            :tt_onLoad=> "removeUnknown()"} %>

		<% elsif @field  == "person[informant_last_name]" %>

					<%= text_field_tag "person[informant_last_name]", nil,
                          {:helpText => "Informant's  Surname",
                                                     :allowFreeText =>true,
                                                     :ajaxURL => "/get_last_names?search=",
                                                     :tt_onUnLoad =>"validateName('person_informant',10)",
                                                     :tt_onLoad=> "removeUnknown()"} %>

		<% elsif @field  == "person[informant_middle_name]" %>

					<%= text_field_tag "person[informant_middle_name]",nil, 
                          {:helpText => "Informant's Other Names",
                          :allowFreeText =>true,
                          :ajaxURL => "/get_first_names?search=",
                          :tt_onUnLoad =>"validateOtherName('person_informant',12)",
                          :optional => :true,
                          :tt_onLoad=> "removeUnknown();checkSpace()"}%>

		<% elsif @field == "person[date_of_death]" %>
				<input type="hidden" id="person_birthdate" name="person[birthdate]" value="<%= @person.birthdate.to_s%>">
				<input type="hidden" name="person[delayed_registration]" id="person_delayed_registration" value="No">
				<%= text_field_tag "person[date_of_death]",@person.date_of_death.to_s,
                				  {:helpText => "Date of Death ",
                                    :field_type => "date" ,
                                    :tt_onLoad =>"removeUnknown()",
                                    :tt_onUnLoad => "validateDeathDate()"}%>

		<% elsif @field  == "person[birth_certificate_number]" %>

				 <%= text_field_tag "person[birth_certificate_number]",@person.birth_certificate_number, {:helpText => "Birth Certificate ID Number", :optional => true} %>

		<% elsif (@field.include? "place_of_death" || @field == "person[hospital_of_death]")  %>
				 <% if site_type == "facility" %>
                    <%= (f.hidden_field :place_of_death, :value => "Health Facility")  %>
                    <%= (f.hidden_field :place_of_death_district, :value => @district.name) %>
                    <%= (f.hidden_field :hospital_of_death, :value => @facility.name) %>
                <% elsif site_type =="dc" %>
                    <%= select_tag("person[place_of_death]", options_for_select(["","Health Facility", "Home","Other"], @person[:place_of_death]),
                    					:id=> "person_place_of_death",
                    					:helpText =>"Place of Death", 
                    					:tt_onUnLoad =>"setAjaxUrl(-1)",
                    					:tt_requireNextClick => false,
                    					:tt_pageStyleClass =>"NoKeyboard") %>

                    <%= text_field_tag "person[place_of_death_district]", @person[:place_of_death_district], {
                    					:helpText => "Place of Death District (<i>Place of death</i>)" , 
                    					:tt_onUnLoad => "setAjaxUrl(0)"} %>

                    <%= text_field_tag "person[hospital_of_death]", @person[:hospital_of_death],{
                    					:helpText => "Health Facility (<i>Place of death</i>)",
                    					:condition => "__$('person_place_of_death').value.trim()=='Health Facility'"} %>

                    <%= text_field_tag "person[place_of_death_ta]", @person[:place_of_death_ta], {
                    					:helpText => "Traditional authority (<i>Place of death</i>)",
                    					:condition => "__$('person_place_of_death').value.match('Home')", 
                    					:tt_onUnLoad => "setAjaxUrl(1)"} %>

                     <%= text_field_tag "person[other_place_of_death_ta]", @person[:other_place_of_death_ta], {
                     					:helpText => "Other Traditional Authority specify (<i>Place of death</i>)",
                     					:condition => "__$('person_place_of_death_ta').value =='Other'"} %>

               		<%= text_field_tag "person[place_of_death_village]", @person[:other_place_of_death_village], {
               							:helpText => "Village (<i>Place of death</i>)",
               							:condition => "__$('person_place_of_death_ta').value.length > 0 && __$('person_place_of_death_ta').value != 'Other'"} %>

               		<%= text_field_tag "person[other_place_of_death_village]", @person[:other_place_of_death_village], {
               							:helpText => "Other Village specify (<i>Place of death</i>)",
               							:condition => "__$('person_place_of_death_ta').value =='Other' || __$('person_place_of_death_village').value =='Other'"} %>

                	<%= text_field_tag "person[other_place_of_death]",@person[:other_place_of_death],
                						{:helpText => "Other specify (<i>Place of death</i>)",
                						 :condition => "__$('person_place_of_death').value.match('Other')"} 
                						 %>
                <% end %>

		<% elsif @field == "person[manner_of_death]" %>

				<%= select_tag("person[manner_of_death]", options_for_select(['Natural', 'Accident',
                             'Sucide', 'Pending Investigation',
                             'Could not be determined',
                             'Other'], @person[:manner_of_death]),:helpText =>"Manner of death") %>

            	<%= (f.text_field :other_manner_of_death,:helpText => "Other manners of death", :optional=>true, :condition => "__$('person_manner_of_death').value.match('Other')") rescue "" %>

        <% elsif @field == "person[death_by_accident]" %>

        		<%= select_tag("person[death_by_accident]", options_for_select(['Motor vehicle(driver)', ' Motor vehicle(passenger)',
                             ' Motor', 'Drowning',
                             'Other'], @person[:death_by_accident]),:helpText =>"How did injury/accident occur?") %>

            	<%= (f.text_field :other_death_by_accident,:helpText => "Other accident specify", :optional=>true, :condition => "__$('person_death_by_accident').value.match('Other')") rescue "" %>

       <% elsif @field == "person[date_of_death]" %>
       			<%= text_field_tag @field ,@person[params[:field]] , {:helpText => "Date of death", :field_type => "date",:tt_onLoad=>"removeUnknown()"} %>


       <% elsif @field =="person[nationality]" %>
       			<%= text_field_tag "person[nationality]",@person[:nationality] , {:helpText => "Nationality",:ajaxURL => "/nationalities?search_string="} %>

       <% elsif @field == "person[home_country]" || @field == "person[home_district]" || @field == "person[home_ta]" || @field == "person[home_village]"%>
       			<%= render :partial => 'home_address' %>
       			
		 <% elsif @field == "person[current_country]" || @field == "person[current_district]" || @field == "person[current_ta]" || @field == "person[current_village]"%>

       			<%= render :partial => 'physical_address' %>

		<% elsif @field.include? "date" %>



				<%= text_field_tag @field ,@person[params[:field]] , {:helpText => params[:field].humanize, :optional => true, :field_type => "date",tt_onLoad=>"removeUnknown()"} %>
		<% elsif @field == "person[informant_relationship_to_deceased]" %>
				<%= select_tag("person[informant_relationship_to_deceased]", options_for_select(['', 'Husband', 'Wife',
                             'Father', 'Mother',
                             'Grandfather', 'Grandmother',
                             'Brother', 'Sister',
                             'Son', 'Daughter',
                             'Nephew', 'Niece',
                             'Uncle', 'Aunt',
                             'Other'], @person[:informant_relationship_to_deceased]),
                             :helpText =>"Informant's relationship to deceased",
                             :tt_pageStyleClass =>"NoKeyboard longSelectList",:tt_requireNextClick => false) %>

                <%= text_field_tag "person[informant_relationship_to_deceased_other]",@person[:informant_relationship_to_deceased_other],
                        {:condition=> "__$('person_informant_relationship_to_deceased').value.match('Other')",
                          :helpText => "Informant's relationship to deceased specify"} %>
        <% elsif @field.include? "informant_current"%>
        		<%= text_field_tag "person[informant_current_country]",@person[:informant_current_country], {
                        :helpText => "Country (<i>Informant's address</i>)<i style='color: red'>*</i>",
                        :ajaxURL => "/countries?search_string="} %>

              <%= text_field_tag "person[informant_current_district]", @person[:informant_current_district], {
                    :helpText => "District (<i>Informant's address</i>)<i style='color: red'>*</i>",
                    :ajaxURL =>"/districts?search_string=",
                    :tt_onUnLoad => "setAjaxUrl(4)",
                    :condition => "__$('person_informant_current_country').value.trim() == 'Malawi'"} %>

                <%= text_field_tag "person[informant_current_ta]", @person[:informant_current_ta], {
                          :helpText => "Traditional Authority (<i>Informant's address</i>)<i style='color: red'>*</i>",
                          :tt_onUnLoad => "setAjaxUrl(5)",
                          :condition => "__$('person_informant_current_country').value.trim() == 'Malawi'"} %>

                <%= text_field_tag "person[other_informant_current_ta]", @person[:other_informant_current_ta], {
                          :helpText => "Other Traditional Authority specify (<i>Informant's address</i>)<i style='color: red'>*</i>",
                          :condition => "__$('person_informant_current_ta').value =='Other' && __$('person_informant_current_country').value.trim() == 'Malawi'"} %>
          
                <%= text_field_tag "person[informant_current_village]", @person[:informant_current_village], {
                    :helpText => "Village (<i>Informant's address</i>)<i style='color: red'>*</i>", 
                    :condition => "__$('person_informant_current_ta').value.length > 0 && __$('person_informant_current_ta').value != 'Other' && __$('person_informant_current_country').value.trim() == 'Malawi'"} %>

                <%= text_field_tag "person[other_informant_current_village]", @person[:other_informant_current_village], {
                  :helpText => "Other village specify (<i>Informant's address</i>)<i style='color: red'>*</i>",
                  :condition => "(__$('person_informant_current_ta').value =='Other' || __$('person_informant_current_village').value =='Other') && __$('person_informant_current_country').value.trim() == 'Malawi'",
                  :tt_onLoad=>"setOtherTofield('person_informant_current_village')"} %>

                  <%= text_field_tag "person[informant_foreign_state]", @person[:informant_foreign_state], {
                  :helpText => "State (<i>Informant foreign address</i>)",
                  :optional => true,
                  :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'"} %>

               <%= text_field_tag "person[informant_foreign_district]", @person[:informant_foreign_district] , {
                  :helpText => "District (<i>Informant foreign address</i>)",
                  :optional => true,
                  :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'"} %>

                <%= text_field_tag "person[informant_foreign_village]", @person[:informant_foreign_village], {
                        :helpText => "Village/Town (<i>Informant foreign address</i>)",
                        :optional => true,
                        :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'"} %>
        <%elsif @field =="person[informant_address]"%>
     			<input type="hidden" name="person[informat_current_country]" 
     					id="person_informant_current_country" 
     					value="<%= @person.informant_current_country%>" >
        		<%= text_field_tag "person[informant_addressline1]",@person.informant_addressline1,
                        {:helpText => "Informant's Postal address",
                          :placeholder => "e.g P.O. Box 200 Lilongwe",
                          :optional => :true,
                          :condition => "__$('person_informant_current_country').value.trim() == 'Malawi'"} %>
                <%= text_field_tag "person[informant_foreign_address]", nil, {
                        :helpText => "Adrress (<i>Informant foreign postal address</i>)",
                        :optional => true,
                        :condition => "__$('person_informant_current_country').value.toLowerCase() !='malawi'",
                        :placeholder => "e.g P.O. Box 200 Lilongwe 3 , Malawi"} %>
        <% elsif @field == "person[informant_phone_number]" %>
        		<%= text_field_tag "person[informant_phone_number]",nil,
                                {:helpText => "Informant Telephone Number",
                                  :field_type =>"number",
                                  :tt_pageStyleClass => "Numeric NumbersWithUnknown",
                                  :tt_onLoad => "showPhoneSummary()",
                                  :optional => :true }%>
        <%elsif @field =="person[informant_signed]" || @field =="person[informant_signature_date]" %>
        	<input type="hidden" id="person_date_of_death" value="<%= @person.date_of_death%>">
        	<%= select_tag("person[informant_signed]", options_for_select(['Yes','No'], @person[:informant_signed]),
                        :helpText =>"Informant Signed?",:tt_requireNextClick => false) %>

                <%= text_field_tag "person[informant_signature_date]",nil,
                          {:helpText => "Date Informant signed",
                          :condition => "__$('person_informant_signed').value.trim().toLowerCase() == 'yes'",
                          :field_type => "date",
                          :tt_onLoad =>"removeUnknown()",
                          :tt_onUnLoad => "validateDateInformant()"}%>
        <%elsif @field == "person[headman_verified]"%>
        	<input type="hidden" id="person_date_of_death" value="<%= @person.date_of_death%>">
        	<%= select_tag("person[headman_verified]", options_for_select(['Yes','No'], @person[:headman_verified]),
                          :helpText =>"Village headman/Block leader signed?",:tt_requireNextClick => false) %>

            <%= text_field_tag "person[headman_verification_date]",@person[:headman_verification_date],
                          {:helpText => "Date Village headman/Block leader signed",
                            :field_type => "date",
                            :condition => "__$('person_headman_verified').value.trim().toLowerCase() =='yes'",
                            :tt_onLoad =>"removeUnknown()",
                            :tt_onUnLoad=> "validateWithDeathDate()"}%>
        <%elsif @field == "person[headman_verified]"%>
        	<input type="hidden" id="person_date_of_death" value="<%= @person.date_of_death%>">
        	<%= select_tag("person[church_verified]", options_for_select(['Yes','No'], @person[:church_verified]),
                    :helpText =>"Senior Member of Village/Religious institution signed?",:tt_requireNextClick => false) %>

                <%= text_field_tag "person[church_verification_date]",@person[:church_verification_date],
                        {:helpText => "Date Senior member of village/Religious institution signed",
                          :field_type => "date",
                          :condition => "__$('person_church_verified').value.trim().toLowerCase() =='yes'",
                          :tt_onLoad =>"removeUnknown()",
                          :tt_onUnLoad=>"validateWithDeathDate()"}%>
    <% elsif @field == "person[id_number]" %>
            <%= text_field_tag "person[id_number]", nil, {
                :helpText => 'National ID',
                :tt_onLoad=>"toCapitalCases()", 
                :validationRule=>"^[a-zA-Z0-9]{8}$", 
                :validationMessage=> "Nation ID No. is alpha numeric with exaclty 8 characters"}  %>
		<% else %>
 				<%= text_field_tag @field ,@person[params[:field]], {:helpText => params[:field].humanize, :optional => true} %>
 		<%end%>
 		<%= text_field_tag "summary" ,nil, {:helpText => "Summary", :tt_onLoad=>"showModified('Details Summary')"} %>
<%end %>