<div id="default" style="width: 100%; height: 400px; text-align: center; vertical-align: top;">
  <% if User.current_user.activities_by_level("Facility").include?("Register a record") %>
      <div class="button" onmousedown="window.location = '/people/new'" tag=0>

        <!--div>
          <form id="barcodescan" method="get" action="/search_results">
            <input id="targetbarcode" type="hidden" value="" name="barcode">
          </form>
          <input type="text" id="barcodei"/>
        </div-->

        <table style="text-align: left;">
          <tr>
            <td rowspan="2">
              <img src="<%= @icoFolder %>" height="60"/>
            </td>
            <td style="height: 30px;">
              Register Person
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; font-style: italic;">
              Register person at facility.
            </td>
          </tr>
        </table>
      </div>
  <% end %>

  <% if User.current_user.activities_by_level("Facility").include?("View a record") %>
      <div class="button" onmousedown="window.location = '/people/view'" tag=1>
        <table style="text-align: left;">
          <tr>
            <td rowspan="2">
              <img src="<%= @icoFolder %>" height="60"/>
            </td>
            <td style="height: 30px;">
              View Records
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; font-style: italic;">
              View records that are still accessible at facility.
            </td>
          </tr>
        </table>
      </div>
  <% end %>
<!--
  <div class="button" onmousedown="window.location = '/search'" tag=2>
    <table style="text-align: left;">
      <tr>
        <td rowspan="2">
          <img src="<%#= @icoFolder %>" height="60"/>
        </td>
        <td style="height: 30px;">
          Edit Record
        </td>
      </tr>
      <tr>
        <td style="font-size: 11px; font-style: italic;">
          Edit child record still accessible at facility.
        </td>
      </tr>
    </table>
  </div>
//-->
  <div class="button" onmousedown="window.location = 'reports/index';" tag=5>
    <table style="text-align: left;">
      <tr>
        <td rowspan="2">
          <img src="<%= @icoFolder %>" height="60"/>
        </td>
        <td style="height: 30px;">
          Reports
        </td>
      </tr>
      <tr>
        <td style="font-size: 11px; font-style: italic;">
          View reports at facility.
        </td>
      </tr>
    </table>
  </div>

  <% if User.current_user.activities_by_level("Facility").include?("Activate User") or
          User.current_user.activities_by_level("Facility").include?("Deactivate User") or
          User.current_user.activities_by_level("Facility").include?("Create User") or
          User.current_user.activities_by_level("Facility").include?("Update User") %>

  <div class="button" onclick="window.location = '/users'" tag=7>
    <table style="text-align: left;">
      <tr>
        <td rowspan="2">
          <img src="<%= @icoFolder %>" height="60"/>
        </td>
        <td style="height: 30px;">
          Manage Users
        </td>
      </tr>
      <tr>
        <td style="font-size: 11px; font-style: italic;">
          Manage system users at facility.
        </td>
      </tr>
    </table>
  </div>
      
  <% end %>

  <% if User.current_user.activities_by_level("Facility").include?("Change own password") %>
      <div class="button" onmousedown="window.location = '/users/my_account';" tag=8>
        <table style="text-align: left;">
          <tr>
            <td rowspan="2">
              <img src="<%= @icoFolder %>" height="60"/>
            </td>
            <td style="height: 30px;">
              My Account
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; font-style: italic;">
              Manage current local user account.
            </td>
          </tr>
        </table>
      </div>
  <% end %>

</div>

<script>

    // var bcode = addTextbox("barcode", __$("targetbarcode"), triggerPost("barcodescan", "targetbarcode"));

    // bcode.style.border = "none";

    // bcode.focus();


    function hasChanged() {

        barcodei = document.getElementById("barcodei");
        if (barcodei.getAttribute("target")) {

            barcodei.getAttribute("target").value = barcodei.value;

        }
    }

    function triggerPost(id, vid) {

        identifier = document.getElementById(id)
        videntifier = document.getElementById(vid)


        if (identifier && videntifier && videntifier.value.trim().match(/\$/)) {

            videntifier.value = videntifier.value.trim().replace(/\$/, "");

            identifier.submit();

        }

        setTimeout("triggerPost('" + id + "', '" + vid + "')", 500);

    }

    function addTextbox(boxType, target, callback) {

        if (boxType == undefined) {

            if (__$(target)) {

                if (__$(target).type != undefined && __$(target).type.toLowerCase() == "password") {

                    ackoxType = "password";

                } else if (__$(target).type != undefined && __$(target).type.toLowerCase() == "barcode") {

                    boxType = "barcode";

                } else if (__$(target).type != undefined && __$(target).type.toLowerCase() == "number") {

                    boxType = "number";

                } else {

                    boxType = "text";

                }

            } else {

                boxType = "text";

            }

        }

        var txt = document.getElementById("barcodei");

        txt.style.fontSize = "1.2em";
        txt.style.padding = "10px";
        txt.style.border = "1px solid #3465a4";
        txt.style.borderRadius = "10px";
        txt.style.width = "98.5%";
        txt.style.margin = "auto";
        txt.setAttribute("target", target.id);
        txt.setAttribute("fieldtype", boxType.toLowerCase());

        txt.onchange = function () {
            if (__$(this.getAttribute("target"))) {
                __$(this.getAttribute("target")).value = this.value;
            }
        }

        txt.onkeyup = function () {
            if (__$(this.getAttribute("target"))) {
                __$(this.getAttribute("target")).value = this.value;
            }
        }

        switch (boxType.toLowerCase()) {
            case "password":
                txt.setAttribute("type", "password");

                break;
            case "number":
                txt.setAttribute("type", "number");

                break;
            case "barcode":

                if (callback != undefined) {
                    // eval(callback);

                    txt.setAttribute("callback", callback);

                }

            default:
                txt.setAttribute("type", "text");

                break;
        }

        return txt;

    }

</script>

