<style type="text/css">
		
		#table_container{

				height: calc(88% - 20px);

				overflow-y: scroll;

				margin-bottom : 0.3em

		}

</style>

<% if User.current_user.activities_by_level("#{@facility_type}").include?("Check for duplicates") %>

	<% if @status.status=="NEW" %>

		<button class="green" style="position:absolute; right : 170px;  bottom:58px;" onmousedown="checkCompleteness()">Completeness Check</button>

	<%else%>

		<button class="gray" style="position:absolute; right : 170px;  bottom:58px;">Completeness Check</button>

	<%end%>

		<button class="green" style="position:absolute; right : 415px;  bottom:58px;" onmousedown="markAsPending()">Mark Pending</button>


		<button class="blue" style="position:absolute; right : 590px;  bottom:58px;" onmousedown="viewPersonComment()">View Comment</button>
<% end %>

<% if User.current_user.activities_by_level("#{@facility_type}").include?("Approve a record") %>
	
	<%if  @status.present? && @status.status == "DC APPROVED" %>

			<button class="gray" style="position:absolute; right : 170px;  bottom:58px;">Approve</button>
	<%else %>

			<button class="green" style="position:absolute; right : 170px;  bottom:58px;" onmousedown="approveRecord()">Approve</button>

	<%end%>

<%end%>

<% if User.current_user.activities_by_level("#{@facility_type}").include?("Approve a record") %>

	<%if  @status.present? && @status.status == "DC REJECTED" %>

		<button class="gray" style="position:absolute; right : 295px;  bottom:58px;">Reject</button>
	<%else%>

		<button class="red" style="position:absolute; right : 295px;  bottom:58px;" onmousedown="rejectRecord()">Reject</button>

	<%end%>

<%end%>

<div id="table_container">

		<table>
			<% @keys.each do |key| %>

					<tr>
						
						<td style= "border : none; font-weight: bold " ><%= key.humanize %> &nbsp :</td>

						<% if key.include? "date" %>

								<td style= "border : none;"><%= DateTime.parse("#{@person[key]}").strftime("%d/%b/%Y")  rescue @person[key] %></td>

						<%else %>

							<% if (key.match(/first_name/i) || key.match(/last_name/i) || key.match(/middle_name/i)) && !@person[key].blank? %>

									<td style= "border : none;"><%= @person[key].decrypt %></td>

							<%else %>

								<td style= "border : none;"><%= @person[key] %></td>

							<%end%>

						<%end%>
						

						<% if User.current_user.activities_by_level("#{@facility_type}").include?("Edit a record") %>

								<td style= "border : none; text-align :right; padding-left : 5%" ><button class="blue" onclick="window.location = '/people/edit/<%= @person.id %>/<%= key %>'">Edit</button></td>

						<% else %>

								<td style= "border : none; text-align :right; padding-left : 5%" ><button class="gray">Edit</button></td>

						<%end %>

					</tr>

			<%end %>

		</table>

</div>
<script type="text/javascript">
			<% if params[:error] %>

					showPopupMessage("<%=params[:error]%>","<%= params[:topic]%>")

			<% end %>
	
			function checkCompleteness(){

					var url ="/check_completeness/<%= @person.id %>?next_url=<%=params[:next_url]%>";

							
					showConfirmMessage("","Data Completeness check",url,"#79a3c1")

					popUpRecordDetails();
			

			}

			function approveRecord(){

					var url = "/dc/approve_record/<%= @person.id%>?next_url=<%=params[:next_url]%>";

					showConfirmMessage("","Approve record",url,"#79a3c1")

					popUpRecordDetails();

			}

			function rejectRecord(){

					var url = "/dc/add_rejection_comment/<%= @person.id%>?next_url=<%=params[:next_url]%>";

					showConfirmMessage("","Proceed to reject a record?",url,"red")

					popUpRecordDetails();

			}

			function popUpRecordDetails(){

					var control = __$("msg.content")

					var table = document.createElement("table");

					table.style.width = "80%";

					table.style.margin ="auto";

					control.appendChild(table);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Surnaame";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = "<%= @person.last_name %>";

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "First Name";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = "<%= @person.first_name %>";

					tr.appendChild(td);

			}




</script>