<script type="text/javascript">
	if (window.top[0] ===undefined) {

	}else{
				
		window.top.location = window.top[0].location.href
	}
			//Sync status 
	var sync_online = false;
</script>
<style type="text/css">
		input[type=radio].css-checkbox {
			position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
		}

		input[type=radio].css-checkbox + label.css-label {
							padding-left:24px;
							height:19px; 
							display:inline-block;
							line-height:19px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:1.0em;
							vertical-align:middle;
							cursor:pointer;

		}

		input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -19px;
		}
		label.css-label {
				background-image:url(/assets/checkbox/checkbox1.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
		}
		#table_container{

				overflow-y: hidden;

				margin-bottom : 0.3em;

				box-shadow: 3.5px 3.5px 1.5px #888888;

				width: 86%;
				margin-left: 5%;

				border: 1px solid #bcb5b5;
				margin-top: 1%;


		}
		#summary{
			width:96% !important;
			margin: auto;
			margin-bottom: 1%;

		}
		#summary td {

				background: #ffffff;
				text-align: left !important;
				padding: 10px;
				padding-left: 10px;

		}
		.clickable{

			font-weight: bold;
			font-size:0.9em !important;
		}
		.clickable:hover{

				color: #00bce0;

				cursor: pointer;

		}
		.scroll{
			background: #bed5de;

            border : 0.005em solid #b3b1b1;

            font-size: 3.8em;

            min-width: 20px;

            margin: 0.3%;

            box-shadow: 2.5px 2.5px 1px #888888;

           	padding: 0.1%;

           	text-align: center
		}
		#up {
			position: absolute;

			right: 3%;

			top :13%;
		}

		#down {
			position: absolute;

			right: 3%;

			bottom :20%;
		}
		#popup_details{
			width: 90%;
			margin: auto;
		}
		#popup_details th ,#popup_details td {

			text-align: left;
			font-size: 0.8em;
			padding: 0.5em;
		}
		#popup_details tr:nth-child(odd){
				background: #ffffff;
		}
		.orange{
			background: #ce731b;
			border:1px solid #ba6614;
		}

		.orange:hover{

			background: #d16b07;
		}

		.verification{
			width:96% !important;
			margin: auto;
			margin-bottom: 1%;
		}
		.verification td {

				background: #ffffff;
				text-align: left !important;
				padding: 10px;
				padding-left: 10px;
				width: 40%;
		}

</style>

<div style="position : absolute; width : 80%; bottom:4%;right :1%; margin-right : 1%">
  	<% if params[:next_url] %>
        <button class="green" style="float: right; margin-right:1%" onmousedown="unLock()"><span>Back</span></button>

  <% elsif @targeturl.present? %>

        <button class="green"  style="float: right; margin-right:1% ; width:100px" onmousedown="unLock()"><span>Back</span></button>

  <%else %>
         <button  style="float: right; margin-right:1%;width:100px" onmousedown="unLock()"><span>Back</span></button>
   <%end %>

  <% if User.current_user.district_code == @person.district_code %>

	<% if User.current_user.activities_by_level("#{@facility_type}").include?("Check for duplicates") %>

		<% if @status.status == "DC ACTIVE" || @status.status == "DC INCOMPLETE"  || @status.status =="DC REJECTED" %>

			<button style="float: right; margin-right:1%" onmousedown="checkCompleteness()"><span>Completeness Check</span></button>

		<%else%>

			<!--button class="gray" style="float: right; margin-right:1%"><span>Completeness Check</span></button-->

		<%end%>
		<%if ["DC ACTIVE"].include? @status.status && false%>
		
			<button style="float: right; margin-right:3%" onmousedown="markAsPending()"><span>Mark Pending</span></button>
		<%end%>

			
	<% end %>

	<% if User.current_user.activities_by_level("#{@facility_type}").include?("Approve a record") %>
		<%if SETTINGS['site_type'] == 'remote' && !SETTINGS['include_lo_role'] %>
			<%if  (@status.present? && @status.status == "DC ACTIVE") %>

					<button style="float: right; margin-right:3%" onmousedown="approveRecord()"><span>Approve</span></button>

			<%end%>
			<% if (@status.present? && @status.status == "HQ REJECTED") %>
				<button style="float: right; margin-right:3%" onmousedown="window.location='/people/form_container?url=/dc/add_reaprove_comment/<%= @person.id %>&next_url=<%=params[:next_url]%>?'"><span>Reapprove</span></button>
			<%end%>
		<%else%>
			<%if  (@status.present? && @status.status == "DC COMPLETE") %>
					<button style="float: right; margin-right:3%" onmousedown="approveRecord()"><span>Approve</span></button>

			<%end%>

			<% if (@status.present? && @status.status == "HQ REJECTED") %>
				<button style="float: right; margin-right:3%" onmousedown="window.location='/people/form_container?url=/dc/add_reaprove_comment/<%= @person.id %>&next_url=<%=params[:next_url]%>'"><span>Reapprove</span></button>
			<%end%>
		<%end%>
	<%end%>

	<% if User.current_user.activities_by_level("#{@facility_type}").include?("Approve a record") %>
		<%if SETTINGS['site_type'] == 'remote' && !SETTINGS['include_lo_role']%>
			<%if  (@status.present? && @status.status == "DC ACTIVE")%>

					<button class="red" style="float: right; margin-right:3%" onmousedown="rejectRecord()"><span>Reject</span></button>

			<%end%>
		<%else%>
			<%if  @status.present? && @status.status == "DC COMPLETE" %>

				<button class="red" style="float: right; margin-right:3%" onmousedown="rejectRecord()"><span>Reject</span></button>

			<%end%>
		<%end%>
		<% if @person.status  == "DC LOST" || @person.status  == "DC DAMAGED"%>
			<button style="float: right; margin-right:1%" onmousedown="window.location='/dc/sent_to_hq_for_reprint/<%= @person.id%>'"><span>Send Record to HQ</span></button>
		<%end%>
	<%end%>

	<%if (@status.present? && @status.status == "HQ PRINTED") ||  (@status.present? && @status.status == "HQ CLOSED") || (@status.present? && @status.status == "HQ DISPATCHED") %>
			
			<button  style="float: right; margin-right:3%" onmousedown="mark_for_reprint();"><span>Mark for Reprint</span></button>
	<%end%>
	<%if  (@status.present? && @status.status == "HQ PRINTED") || (@status.present? && @status.status == "HQ CLOSED") || (@status.present? && @status.status == "HQ DISPATCHED") %>
			<button class="orange" style="float: right; margin-right:3%" onmousedown="mark_for_amendment()"><span>Amend Record</span></button>

	<%end%>
	<%if (@status.present? && @status.status == "DC REPRINT") && false%>
			<button style="float: right; margin-right:3%" onmousedown="window.location = '/dc/approve_reprint/<%= @person.id %>?next_url=<%=params[:next_url]%>'"><span>Proceed to Re-Print</span></button>

	<%end%>

	<%if  @status.present? && @status.status == "HQ CAN PRINT" %>
			<button  id="print_btn" class="gray" style="float: right; margin-right:3%" ><span>Print Preview</span></button>

	<%end%>
 <%end%>
	<% if @comments.count > 0 %>
		<button style="float: right; margin-right:3%" onmousedown="viewPersonComment()"><span>View Record's Trail</span></button>
	<%end%>
	<% if SETTINGS['site_type'] == "dc"%>

		<% if @burial_report.blank? && User.current_user.role != "ADR"%>

			<button style="float: right; margin-right:3%" onmousedown="window.location = '/people/form_container?url=/dc/new_burial_report/<%= @person.id %>?next_url=<%=request.env['REQUEST_URI']%>'"><span>Add Burial Report</span></button>
		<%else  @burial_report.present? %>
		
			<button style="float: right; margin-right:3%" onmousedown="viewBurialReport()"><span>View Burial Report</span></button>

		<% end %>
	<%end%>

</div>

<div id="table_container">

		<table id="summary" style="">
		<% if @locked && false %>
		  <tr>
		  		<td colspan="6" style="color:red;text-align:center"> <center><b>Record is locked since it is been reviewed by another user please check later</b></center></td>
		  </tr>
		<%end%>
          <tr>
              <% if @person.court_order.present? && @person.registration_type == "Missing Persons"%>
              <td ><b >Court order attached ? :</b> </td>
              <td colspan="2" style="text-align:left"><%= @person.court_order%></td>
              <%end%>
              <% if @person.police_report.present? && (@person.registration_type == "Abnormal Deaths" || @person.registration_type == "Unclaimed bodies")%>
              <td><b>Police report attached ? :</b></td>
              <td colspan="2" style="text-align:left"><%= @person.police_report%></td>
              <%end%>
              <% if @person.proof_of_death_abroad.present? && @person.registration_type == "Deaths Abroad" %>
              <td colspan="3"><b>Proof of death abroad attached? :</b></td>
              <td colspan="2" style="text-align:left"><%=  @person.proof_of_death_abroad %> </td>
              <%end%>

              <td colspan="3" style="border-right:none"><b>Place of Registration : </b></td>
              <% if @person.facility_code.to_s.present? %>
                <td colspan="3" style="color:#4775a1;border-left:none"><%= HealthFacility.by_facility_code.key(@person.facility_code).first.name %> , <%= District.find(@person.district_code).name %></td>
              <%else%>
              	 <% if@person.registration_type == "Dead on Arrival" %>
              	 	    <td colspan="3" style="color:#4775a1;border-left:none"><%= @person.place_of_registration %>,<%= District.find(@person.district_code).name %></td>
              	 <%else%>
                	<td colspan="3" style="color:#4775a1;border-left:none"><%= District.find(@person.district_code).name %> DRO</td>
                <%end%>
              <%end%>
          </tr>
          <tr>
            <td style="border-right:none"><b>Registration Category : </b></td>
            <td colspan="2" style="color:#4775a1; border-left:none"><%= @person.registration_type%></td>
            <td colspan="2" style="border-right:none"><b>Record Status : </b></td>
            <td colspan="2" style="color:#4775a1;border-left:none"><%= @person.status == "HQ CAN PRINT" ? "CAN PRINT" : @person.status%></td>
            <td style="border-right:none"><b>DEN: </b></td>
            <td style="color:#4775a1;border-left:none"><%= @person.den rescue 'XXXXXXXXX'%></td>
            <td style="border-right:none"><b>DRN: </b></td>
            <td style="color:#4775a1;border-left:none"><%= @person.drn rescue 'XXXXXXXXX'%></td>
          </tr>
			<tr>
				<th colspan="11">Section 1 : Particulars of the deceased 
					<% if ["DC ACTIVE", "HQ REJECTED"].include?(@person.status) %>
						( <i style='font-size:0.8em'>Click respective field to edit </i> )
					<%end%>
				</th>
			</tr>

			<tr>
				<td rowspan="10" style="background-color:#dbdada;">PART 1 <br/>PERSONAL DETAILS OF DECEASED</td>
				<td>1</td>
				<td  class="clickable" onclick="editField('last_name')">Surname</td>
				<td colspan="2" ><%= @person.last_name %></td>
				<td class="clickable" onclick="editField('first_name')" >First name</td>
				<td  colspan="1"><%= @person.first_name %></td>
				<td class="clickable" onclick="editField('middle_name')" >Other</td>
				<td colspan="1"><%= @person.middle_name rescue "" %></td>
				<td class="clickable" >Barcode No.</td>
				<td colspan="1"><%= @person.barcode rescue "" %></td>
			</tr>
			<tr>
				<td>2</td>
				<td class="clickable" onclick="editField('id_number')" >ID No.</td>
				<td style="border-bottom :1.5px solid black"><%= @person.national_id rescue ""%></td>
				<td>3</td>
				<td class="clickable" onclick="editField('nationality')">Nationality</td>
				<td colspan="2" style="border-bottom :1.5px solid black"><%= @person.nationality rescue ""%></td>
				<td>4</td>
				<td class="clickable" onclick="editField('gender')">Sex</td>
				<td style="border-bottom:1.5px solid black"> <%= @person.gender %></td>
			</tr>
			<tr>
				<td>5</td>
				<td class="clickable" onclick="editField('birthdate')" >Birth Date</td>
				<td style="border-bottom: 1.5px solid black" colspan="3"><%= Date.parse(@person.birthdate.to_s).strftime("%d/%b/%Y") %></td>
				<td>6</td>
				<td class="clickable" onclick="editField('date_of_death')" colspan="2" >Date of Death</td>
				<td style="border-bottom: 1.5px solid black" colspan="2"><%= Date.parse(@person.date_of_death.to_s).strftime("%d/%b/%Y") %></td>
			</tr>
			<tr>
				<td rowspan="4">7</td>
				<td class="clickable" onclick="editField('place_of_death')" >Place of Death</td>
			
			<%if (@person.place_of_death.present? || @person.other_place_of_death.present?) %>
				<td colspan="8"><%= @person.place_of_death %></td>
			<%else%>

				<td colspan="8"><%= @person.place_of_death_foreign %>
			<%end%>
			</tr>
			<% if (@person.place_of_death_country == 'Malawi' || @person.place_of_death_village) %>
			<tr>
				<td class="clickable" onclick="editField('place_of_death')" ><input type="radio" name="radiog_dark" id="facility" class="css-checkbox" /><label for="radio4" class="css-label radGroup2">Health Facility</label></td>
				<td colspan="8" style="border-bottom: 1.5px solid black"> <%= @person.hospital_of_death %></td>
			</tr>
			<%else%>
			<tr>
				<td class="clickable" onclick="editField('place_of_death')" ><input type="radio" name="radiog_dark" id="facility" class="css-checkbox" /><label for="radio4" class="css-label radGroup2">Health Facility</label></td>
				<td colspan="8" style="border-bottom: 1.5px solid black"> 
				<% if @person.place_of_death_foreign =="Health Facility" %>
					<% if @person.place_of_death_foreign_hospital.present? %>
						<%= @person.place_of_death_foreign_hospital.present? ? "#{@person.place_of_death_foreign_hospital}," :"" %>
					<%end%>
						<%= @person.place_of_death_country.to_s != 'Other'? @person.place_of_death_country : @person.other_place_of_death_country %>
				<%end%>	
				</td>
			</tr>
			<%end%>
			<tr>
				<td class="clickable" onclick="editField('place_of_death')" ><input type="radio" name="radiog_dark" id="home" class="css-checkbox" /><label for="radio4" class="css-label radGroup2">Home</label></td>
			<% if (@person.place_of_death_country == 'Malawi' || @person.place_of_death_village) %>
				<td class="clickable">Address</td>
				<td class="clickable" onclick="editField('place_of_death')" >District</td>
				<% if @person.place_of_death != "Other" %>
					<td style="border-bottom:1.5px solid black"><%= @person.place_of_death_district %></td>
				<%else%>
					<td style="border-bottom:1.5px solid black"></td>
				<%end%>
				<td class="clickable" onclick="editField('place_of_death')">TA</td>
				<td style="border-bottom:1.5px solid black"><%= @person.place_of_death_ta %></td>
				<td class="clickable" onclick="editField('place_of_death')" >Village</td>
				<td style="border-bottom:1.5px solid black" colspan="2"><%= @person.place_of_death_village %></td>
			<%else%>
				<td class="clickable" onclick="editField('place_of_death_country')" >Country</td>
				<% if @person.place_of_death_foreign =="Home" %>
					<td style="border-bottom:1.5px solid black"><%= @person.place_of_death_country.to_s != 'Other'? @person.place_of_death_country : @person.other_place_of_death_country %></td>
				<%else%>
					<td style="border-bottom:1.5px solid black"></td>
				<%end%>
				<td class="clickable" onclick="editField('place_of_death_foreign_state')">State</td>
				<% if @person.place_of_death_foreign =="Home" %>
				<td style="border-bottom:1.5px solid black"><%= @person.place_of_death_foreign_state %></td>
				<%else%>
					<td style="border-bottom:1.5px solid black"></td>
				<%end%>
				<td class="clickable" onclick="editField('place_of_death_foreign_district')" >District</td>
				<% if @person.place_of_death_foreign =="Home" %>
				<td style="border-bottom:1.5px solid black" ><%= @person.place_of_death_foreign_district  %></td>
				<%else%>
					<td style="border-bottom:1.5px solid black"></td>
				<%end%>
				<td class="clickable" onclick="editField('place_of_death_foreign_village')" >Town</td>
				<% if @person.place_of_death_foreign =="Home" %>
				<td style="border-bottom:1.5px solid black" ><%= @person.place_of_death_foreign_village  %></td>
				<%else%>
					<td style="border-bottom:1.5px solid black"></td>
				<%end%>
			<% end %>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('place_of_death')" ><input type="radio" name="radiog_dark" id="other" class="css-checkbox" /><label for="radio4" class="css-label radGroup2">Other</label></td>
				<% if @person.place_of_death=="Other" && @person.place_of_death_district != "Not indicated" %>
					<td colspan="8"><%= @person.other_place_of_death rescue '' %>, <%= @person.place_of_death_district rescue '' %></td>
				<%else%>
					<td colspan="8"><%= @person.other_place_of_death rescue '' %></td>
				<%end%>
			</tr>
			<tr>
				<td>8</td>
				
			<% if (@person.current_country == "Malawi" || @person.current_district) %>
				<td colspan="3" class="clickable" onclick="editField('current_district')">Physical residential address</td>
				<td class="clickable" onclick="editField('current_district')" >District </td>
				<td><%= @person.current_district%></td>
				<td class="clickable" onclick="editField('current_ta')">TA</td>
				<td><%= @person.current_ta %></td>
				<td class="clickable" onclick="editField('current_village')" >Village</td>
				<td><%= @person.current_village %></td>
			<%else%>
				<td class="clickable" onclick="editField('current_district')">Physical address</td>
				<td class="clickable" onclick="editField('current_country')" >Country</td>
				<td style="border-bottom:1.5px solid black"><%= @person.current_country.to_s !='Other'? @person.current_country : (@person.other_current_country rescue '') %></td>
				<td class="clickable" onclick="editField('current_foreign_state')">State</td>
				<td style="border-bottom:1.5px solid black"><%= @person.current_foreign_state %></td>
				<td class="clickable" onclick="editField('current_foreign_district')" >District</td>
				<td style="border-bottom:1.5px solid black" ><%= @person.current_foreign_district  %></td>
				<td class="clickable" onclick="editField('current_foreign_village')" >Town</td>
				<td style="border-bottom:1.5px solid black" ><%= @person.current_foreign_village  %></td>
			<%end%>
			</tr>
			<tr>
				<td>9</td>
				<td colspan="3" class="clickable" onclick="editField('home_district')">Home address</td>
				<td class="clickable" onclick="editField('home_district')" >District </td>
				<td><%= @person.home_district %></td>
				<td class="clickable" onclick="editField('home_ta')">TA</td>
				<td><%= @person.home_ta %></td>
				<td class="clickable" onclick="editField('home_village')" >Village</td>
				<td><%= @person.home_village %></td>
			</tr>
			<tr>
				<td>10</td>
				<% if @person.died_while_pregnant == "Yes" ||  @person.died_while_pregnant == "NO" %>
					<td colspan="8" class="clickable" onclick="editField('died_while_pregnant')" >In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?</td>
					<td><%= @person.died_while_pregnant rescue "" %></td>
				<%else%>
					<td colspan="8" class="clickable" >In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?</td>
					<td>N/A</td>
				<%end%>
			</tr>
			<tr>
				<td rowspan="6">PART 2 <br/><br/>DETAILS OF PARENT</td>
				<td colspan="10" class="clickable" onclick="" ><center>Mother's details</center></td>
			</tr>
			<tr>
				<td rowspan="2">1</td>
				<td class="clickable" onclick="editField('mother_last_name')" >Surname</td>
				<td colspan="2"><%= @person.mother_last_name %></td>
				<td class="clickable" onclick="editField('mother_first_name')" >First name</td>
				<td colspan="2"><%= @person.mother_first_name %></td>
				<td rowspan="">2</td>
				<td rowspan="" class="clickable" onclick="editField('mother_id_number')">ID No.</td>
				<td rowspan ="" style="border-bottom:1.5px solid black"><%= @person.mother_id_number %></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('mother_middle_name')">Other names</td>
				<td colspan="5"><%= @person.mother_middle_name %></td>
				<td rowspan="">3</td>
				<td rowspan="" class="clickable" onclick="editField('mother_nationality')">Nationality </td>
				<td rowspan ="" style="border-bottom:1.5px solid black"><%= @person.mother_nationality %></td>
			</tr>
			<tr>
				<td colspan="10" class="clickable" onclick=""><center>Father's details</center></td>
			</tr>
			<tr>
				<td rowspan="2">4</td>
				<td class="clickable" onclick="editField('father_last_name')">Surname</td>
				<td colspan="2"><%= @person.father_last_name %></td>
				<td class="clickable" onclick="editField('father_first_name')">First name</td>
				<td colspan="2"><%= @person.father_first_name %></td>
				<td rowspan="">5</td>
				<td rowspan="" class="clickable" onclick="editField('father_id_number')">ID No.</td>
				<td rowspan ="" style="border-bottom:1.5px solid black"><%= @person.father_id_number %></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('father_middle_name')">Other names</td>
				<td colspan="5"><%= @person.father_middle_name %></td>
				<td rowspan="">6</td>
				<td rowspan="" class="clickable" onclick="editField('father_nationality')">Nationality </td>
				<td rowspan ="" style="border-bottom:1.5px solid black"><%= @person.father_nationality %></td>
			</tr>

			<tr>
				<td rowspan="7" style="background-color:#dbdada;">PART 3 <br/>INFORMANTS DETAILS</td>
				<td rowspan="2">1</td>
				<td class="clickable" onclick="editField('informant_last_name')" >Surname</td>
				<td colspan="2"><%= @person.informant_last_name %></td>
				<td class="clickable" onclick="editField('informant_first_name')">First name</td>
				<td colspan="2"><%= @person.informant_first_name %></td>
				<td rowspan="2">2</td>
				<td rowspan="2" class="clickable" onclick="editField('informant_id_number')">ID No.</td>
				<td rowspan="2"><%= @person.informant_id_number %></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('informant_middle_name')">Other name</td>
				<td colspan="5"><%= @person.informant_middle_name %></td>
			</tr>
			<tr>
				<td>3</td>
				<td class="clickable" onclick="editField('informant_relationship_to_deceased')">Relation to the deceased</td>
				<td colspan="8">
					<%= (@person.informant_relationship_to_deceased != "Other" ? @person.informant_relationship_to_deceased : @person.informant_relationship_to_deceased_other) %>
				</td>
			</tr>
			<tr>
				<td rowspan="2">4</td>
				<td><b>Address</b></td>
				<td class="clickable" onclick="editField('informant_current_district')">District</td>
				<td colspan="2"><%= @person.informant_current_district %></td>
				<td class="clickable" onclick="editField('informant_current_ta')">TA</td>
				<td colspan="2"><%= @person.informant_current_ta %></td>
				<td class="clickable" onclick="editField('informant_current_village')">Village</td>
				<td><%= @person.informant_current_village %></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('informant_address')">Postal address :</td>
				<td colspan="6">
					<%= @person.informant_addressline1 rescue "" %>
					<%= " #{@person.informant_city}" rescue "" %>	
				</td>
				<td class="clickable" onclick="editField('informant_phone_number')">Telephone Number</td>
				<td><%= @person.informant_phone_number %></td>
			</tr>
			<tr>
				<td rowspan="2">5</td>
				<th colspan="9" style="background: #ffffff; color:black">I certify that the above information is correct and I am aware that I could face criminal prosecution if this information is incorrect in material respect.</th>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('informant_signed')">Informant signed ?</td>
				<td><%= @person[:informant_signed] rescue "No" %></td>
				<td class="clickable" onclick="editField('informant_signature_date')">Date:</td>
				<td colspan="6"><%= Date.parse(@person.informant_signature_date.to_s).strftime("%d/%b/%Y") rescue "" %></td>
			</tr>
			<tr>	
			</tr>
		</table>
		<% if site_type == "dc" %>
		<table class="verification">
			<tr>
				<th colspan="2">Verification by Village Headman</th>
			</tr>
			<tr class="clickable" onclick="editField('headman_verified')">
				<td class="clickable" onclick="editField('headman_verified')">Signed?</td>
				<td><%= @person.headman_verified rescue "No" %></td>
			</tr>
			<% if @person.headman_verified == "Yes" %>
				<tr class="clickable" onclick="editField('headman_verified')">
					<td>Date Signed</td>
					<td><%= Date.parse(@person.headman_verification_date.to_s).strftime("%d/%b/%Y") %></td>
				</tr>
			<%end%>
		</table>
		<table class="verification" style="margin-bottom:1.5%">
			<tr>
				<th colspan="2">Verification by Senior member of village/ Religous Institution</th>
			</tr>
			<tr  class="clickable" onclick="editField('church_verified')">
				<td>Signed?</td>
				<td><%= @person.church_verified rescue "No" %></td>
			</tr>
			<% if @person.church_verified == "Yes" %>
				<tr  class="clickable" onclick="editField('church_verified')">
					<td>Date Signed</td>
					<td><%= Date.parse(@person.church_verification_date.to_s).strftime("%d/%b/%Y")  %></td>
				</tr>
			<%end%>
		</table>
		<%end%>

</div>
  <div id="up" class="scroll" onmousedown="up()">
     <i class=" fa fa-arrow-up"></i>
 </div>
 <div id="down" class="scroll" onmousedown="down()">
     <i class=" fa fa-arrow-down"></i>
 </div>
<script type="text/javascript">
			var next_url = "<%=params[:next_url]%>"
			if (next_url.length == 0) {
				next_url = "<%=@targeturl%>"
			}

			if (next_url.trim().length == 0) {
				next_url = "/"
			}

			function unLock(){
				window.location.href ="/people/unlock_record?lock_id=<%=@lock.id%>&next_url="+next_url
			}

			function __$(id){
	        	return document.getElementById(id);
		    }

		    function resizeDiv(){
		      var wH = window.innerHeight; 
		      __$("containt").style.height = (wH *0.81 )+"px";
		      __$("table_container").style.height = (wH * 0.72) +"px";
		    }
	  
		    resizeDiv();
			<% if params[:error] %>
				showPopupMessage("<%=params[:error]%>","<%= params[:topic]%>")
			<% end %>
	
			function checkCompleteness(){
				var url ="/check_completeness/<%= @person.id %>?next_url=<%=params[:next_url]%>";		
				showConfirmMessage("","Data Completeness check",url)
				popUpRecordDetails();
				var panel = __$("pop_button_panel")
				panel.innerHTML = "";
				var btnCancel = document.createElement("button");
                btnCancel.className = "red";
                btnCancel.innerHTML = "<span>Cancel</span>";
                btnCancel.style.minWidth = "100px";

                  btnCancel.onclick = function () {

                      if (__$("msg.shield")) {

                          document.body.removeChild(__$("msg.shield"));

                      }

                  }

                  panel.appendChild(btnCancel);

                  var btnIncomplete = document.createElement("button");
                  btnIncomplete.id = "incomplete"
                  btnIncomplete.style.marginLeft = "5%"
                  btnIncomplete.style.marginRight = "5%"
                  btnIncomplete.innerHTML = "<span>Incomplete</span>";
                  btnIncomplete.style.minWidth = "100px";


                  btnIncomplete.onclick = function () {

                          if (__$("msg.shield")) {

                              document.body.removeChild(__$("msg.shield"));
                              window.location = "/dc/add_pending_comment/<%=@person.id%>?next_url=<%=params[:next_url]%>";

                      }

                  }

                  panel.appendChild(btnIncomplete);

                  var btnOK = document.createElement("button");
                  btnOK.id = "ok_button"
                  btnOK.className = "green";
                  btnOK.innerHTML = "<span>Complete</span>";
                  btnOK.style.minWidth = "100px";


                  btnOK.onclick = function () {

                          if (__$("msg.shield")) {

                              document.body.removeChild(__$("msg.shield"));
                              window.location = url;

                      }

                  }

                  panel.appendChild(btnOK);
			}

			function approveRecord(){
					showConfirmMessage("","Approve record",null)
					popUpRecordDetails();
					var ok = __$("ok_button");
					ok.removeAttribute('onclick');
					ok.setAttribute("onclick", "markForApproval()");

			}
			var check_status_interval;
			function markForApproval(){
					var url = "/dc/approve_record/<%= @person.id%>?next_url=<%=params[:next_url]%>";
				  	if (__$("msg.shield")) {
                              document.body.removeChild(__$("msg.shield"));
                     }

                     window.location = url;

			}
			function checkApprovalStatus(url){
				 ajaxGETRequest(url,function(data){
				 	var data = JSON.parse(data);
				 	if(data.assigned && eval(data.assigned)){
				 		window.location.href ="<%=params[:next_url]%>"	
				 	}
				 	else{
				 		setTimeout(function(){
                     			checkApprovalStatus('/dc/check_approval_status/<%= @person.id%>')
                     	},100);
				 	}
				 });
			}
			function markAsPending(){

					var url = "/dc/add_pending_comment/<%= @person.id%>?next_url=<%=params[:next_url]%>";

					showConfirmMessage("","Click \"OK\" to mark the record as pending",url)

					popUpRecordDetails();
			}

			function rejectRecord(){

					var url = "/dc/add_rejection_comment/<%= @person.id%>?next_url=<%=params[:next_url]%>";

					showConfirmMessage("","Proceed to reject a record?",url)

					popUpRecordDetails();

			}

			function mark_for_reprint() {
				var url = "/dc/add_reprint_comment/<%= @person.id%>?next_url=<%=params[:next_url]%>";
				showConfirmMessage("","Proceed to mark record reprint?",url);
				popUpRecordDetails();
			}

			function mark_for_amendment(){
				var url = "/dc/do_amend/<%= @person.id%>?next_url=<%=params[:next_url]%>";
				showConfirmMessage("","Proceed to amend the record?",url);
				popUpRecordDetails();
			}

			function popUpRecordDetails(operation){

					var popup_container = __$("msg.popup")
					popup_container.style.width = "40%";
					popup_container.style.left =  "calc(43% - 210px)";
					popup_container.style.top =  "10%";
					popup_container.style.height= "500px";

					var control = __$("msg.content");
					control.style.height = "350px"

					var table = document.createElement("table");
					table.id = "popup_details"
					table.style.width = "94%";
					table.style.margin ="auto";
					table.style.marginBottom = "2%";
					control.appendChild(table);

					var tr = document.createElement("tr");
					table.appendChild(tr);

					var td = document.createElement("th");
					td.innerHTML = "Barcode Number";
					tr.appendChild(td);

					var td = document.createElement("td");
					td.innerHTML = "<%= @person.barcode %>";
					tr.appendChild(td);

					var tr = document.createElement("tr");
					table.appendChild(tr);

					var td = document.createElement("th");
					td.innerHTML = "Name";
					tr.appendChild(td);

					var td = document.createElement("td");
					td.innerHTML = "<%= @person.first_name %> <%= @person.middle_name rescue '' %> <%= @person.last_name %>";
					tr.appendChild(td);

					var tr = document.createElement("tr");
					table.appendChild(tr);

					var tr = document.createElement("tr");
					table.appendChild(tr);

					var td = document.createElement("th");
					td.innerHTML = "Nationality";
					tr.appendChild(td);

					var td = document.createElement("td");
					td.innerHTML = "<%= @person.nationality %>";
					tr.appendChild(td);

					var tr = document.createElement("tr");
					table.appendChild(tr);

					var td = document.createElement("th");
					td.innerHTML = "Sex";
					tr.appendChild(td);

					var td = document.createElement("td");
					td.innerHTML = "<%= @person.gender %>";
					tr.appendChild(td);

					var tr = document.createElement("tr");
					table.appendChild(tr);

					var td = document.createElement("th");
					td.innerHTML = "Date of Birth";
					tr.appendChild(td);

					var td = document.createElement("td");
					td.innerHTML = "<%= @person.birthdate.to_date.strftime('%d/%b/%Y') %>";
					tr.appendChild(td);


					var tr = document.createElement("tr");
					table.appendChild(tr);

					var td = document.createElement("th");
					td.innerHTML = "Date of Death";
					tr.appendChild(td);

					var td = document.createElement("td");
					td.innerHTML = "<%= @person.date_of_death.to_date.strftime('%d/%b/%Y') %>";
					tr.appendChild(td);

					var tr = document.createElement("tr");
					table.appendChild(tr);

					var td = document.createElement("th");
					td.innerHTML = "Place of Death";
					tr.appendChild(td);

					var td = document.createElement("td");
					<% if @person.place_of_death == 'Health Facility'%>
					 	td.innerHTML = ("<%= @person.hospital_of_death.to_s %>".length > 0 ? "<%= @person.hospital_of_death.to_s %>"+"," : "") + "<%= @person.place_of_death_district rescue '' %>";
					<%elsif @person.place_of_death == 'Home'%>
						var place_of_death = "";
						<%if @person.place_of_death_village == "Unknown" %>
						<%elsif @person.place_of_death_village == "Other"%>
							 place_of_death = place_of_death + "<%= @person.other_place_of_death_village %>,"
						<%elsif @person.place_of_death_village.present?%>
							 place_of_death = place_of_death + "<%= @person.place_of_death_village %>,"
						<%end%>
						<%if @person.place_of_death_ta == "Unknown" %>
						<%elsif @person.place_of_death_ta == "Other"%>
							 place_of_death = place_of_death + "<%= @person.other_place_of_death_ta %>,"
						<%elsif @person.place_of_death_ta.present?%>
							 place_of_death = place_of_death + "<%= @person.place_of_death_ta %>,"
						<%end%>
						td.innerHTML = place_of_death + "<%= @person.place_of_death_district rescue '' %>";
					<%elsif @person.place_of_death == 'Other' %>
						 td.innerHTML = ("<%= @person.other_place_of_death rescue '' %>".length > 0 ? "<%= @person.other_place_of_death rescue '' %>" + "," : "")+ "<%= @person.place_of_death_district rescue '' %>"
					<% elsif @person.place_of_death_foreign =="Health Facility" %>
						var place = ""
						<% if @person.place_of_death_foreign_hospital.present? %>
							place ="<%= @person.place_of_death_foreign_hospital.present? ? '#{@person.place_of_death_foreign_hospital},' :'' %>";
						<%end%>
								place ="<%= @person.place_of_death_country.to_s != 'Other'? @person.place_of_death_country : @person.other_place_of_death_country %>"
						td.innerHTML = place;
					<% elsif @person.place_of_death_foreign =="Home" %>
					<% elsif @person.place_of_death_foreign =="Other" %>
					<% end %>
					tr.appendChild(td);

					var tr = document.createElement("tr");
					table.appendChild(tr);

					var td = document.createElement("th");
					tr.appendChild(td);
					td.innerHTML ="Mother's name";

					var td = document.createElement("td");
					tr.appendChild(td);
					var mother = "N/A"
					<% if @person.mother_first_name.present? %>
						mother = "<%= @person.mother_first_name%> <%= @person.mother_middle_name rescue ''%>  <%=  @person.mother_last_name %> ";
					<%end%>
					td.innerHTML = mother;

					tr.appendChild(td);

					var tr = document.createElement("tr");
					table.appendChild(tr);

					var td = document.createElement("th");
					tr.appendChild(td);
					td.innerHTML ="Father's name";

					var td = document.createElement("td");
					tr.appendChild(td);
					var father = "N/A"
					<% if @person.mother_first_name.present? %>
						father = "<%= @person.father_first_name%> <%= @person.father_middle_name rescue ''%> <%=  @person.father_last_name %> ";
					<%end%>
					td.innerHTML = father;


			}

			function viewBurialReport(){

				var shield = document.createElement("div");
                shield.style.position = "absolute";
                shield.style.top = "0px";
                shield.style.left = "0px";
                shield.style.width = "100%";
                shield.style.height = "100%";
                shield.id = "msg.shield";
                shield.style.backgroundColor = "rgba(128,128,128,0.75)";
                shield.style.zIndex = 1050;

                shield.onmousedown = function(){

                	 document.body.removeChild(__$("msg.shield"));
                }

                document.body.appendChild(shield);

                var width = 700;
                var height = 500;

                var div = document.createElement("div");
                div.id = "msg.popup";
                div.style.position = "absolute";
                div.style.width = width + "px";
                div.style.height = height + "px";
                div.style.backgroundColor = "#ffffff";
                div.style.border = "1px solid #26262b"
                div.style.borderRadius = "1px";
                div.style.left = "calc(50% - " + (width / 2) + "px)";
                div.style.top = "calc(50% - " + (height * 0.6) + "px)";
                div.style.border = "1px outset #fff";
                div.style.boxShadow = "5px 2px 5px 0px rgba(0,0,0,0.75)";
                div.style.fontFamily = "arial, helvetica, sans-serif";
                div.style.MozUserSelect = "none";

                shield.appendChild(div);

                var name = document.createElement("div");
                name.style.padding = "0.5em";
                name.style.width = "90%";
                name.style.margin= "auto";
                name.style.marginTop= "3%";
                name.style.fontSize ="12px";
                name.style.fontWeight="bold";
                name.style.textAlign = "right"
                name.innerHTML = "NR-11";

                div.appendChild(name);

                var sec_head_1 = document.createElement("div");
                sec_head_1.style.border = "1px solid black";
                sec_head_1.style.padding = "0.5em";
                sec_head_1.style.width = "20%";
                sec_head_1.style.margin= "auto";
                sec_head_1.style.marginTop= "1%";
                sec_head_1.style.fontSize ="13px";
                sec_head_1.style.fontWeight="bold";
                sec_head_1.style.textAlign = "center"
                sec_head_1.innerHTML = "Section-1";

                div.appendChild(sec_head_1);

                var sec_body_1 = document.createElement("div");
                sec_body_1.style.border = "1px solid black";
                sec_body_1.style.padding = "0.5em";
                sec_body_1.style.width = "90%";
               	sec_body_1.style.margin= "auto";
                sec_body_1.style.marginTop= "1%";
                sec_body_1.style.fontSize ="14px";
                sec_body_1.style.textAlign = "justify";
                sec_body_1.style.textJustify = "inter-word";
                var string = " Name of the deceased <u><%= @person.first_name %>  <%= @person.last_name%> </u> "+
                			 " with ID <u><%= @person.national_id rescue '______________' %></u> "+
                			 " date of birth <u><%= Date.parse(@person.birthdate.to_s).strftime('%d/%b/%Y') %></u>"+
                			 " Sex <u><%=@person.gender%></u> "+
                			 " has died on <u><%= Date.parse(@person.date_of_death.to_s).strftime('%d/%b/%Y') %></u>"+
                			 " and the Burial Report has been issued with entry No "+
                			 " <u><%= @person.den rescue '_______________' %></u><br/>"+
                			 " Report given to <u><%= @person.informant_first_name %> <%= @person.informant_last_name %></u> "+
                			 " with ID No <u><%= @person.informant_id_number rescue '_______________' %></u> residence of "+
                			 " <u><%= @person.informant_current_village %> <%= @person.informant_current_ta %>"+
                			 " <%= @person.informant_current_district %></u> "+
                			 " Tel No. <u><%= @person.informant_phone_number rescue '_______________'%></u> "+
                			 " Date <u><%= Date.parse(@burial_report.date_report_given.to_s).strftime('%d/%b/%Y') rescue '_______________' %></u>";

                sec_body_1.innerHTML = string;

                div.appendChild(sec_body_1);

                var sec_head_2 = document.createElement("div");
                sec_head_2.style.border = "1px solid black";
                sec_head_2.style.padding = "0.5em";
                sec_head_2.style.width = "20%";
                sec_head_2.style.margin= "auto";
                sec_head_2.style.marginTop= "2%";
                sec_head_2.style.fontSize ="13px";
                sec_head_2.style.fontWeight="bold";
                sec_head_2.style.textAlign = "center"
                sec_head_2.innerHTML = "Section-2";

                div.appendChild(sec_head_2);

                var sec_head = document.createElement("div");
                sec_head.style.padding = "0.6em";
                sec_head.style.width = "50%";
                sec_head.style.margin= "auto";
                sec_head.style.marginTop= "0.5%";
                sec_head.style.fontSize ="15px";
                sec_head.style.fontWeight="bold";
                sec_head.style.textAlign = "center"
                sec_head.innerHTML = "NATIONAL REGISTRATION ACT 2010";

                div.appendChild(sec_head);

                var sec_head = document.createElement("div");
                sec_head.style.padding = "0.6em";
                sec_head.style.width = "30%";
                sec_head.style.margin= "auto";
                sec_head.style.fontSize ="13px";
                sec_head.style.fontWeight="bold";
                sec_head.style.textAlign = "center"
                sec_head.innerHTML = "BURIAL/CREMATION REPORT";

                div.appendChild(sec_head);

                var sec_body = document.createElement("div");
                sec_body.style.padding = "1em";
                sec_body.style.width = "90%";
                sec_body.style.margin= "auto";
                sec_body.style.fontSize ="14px";
                sec_body.style.fontWeight="bold";
                sec_body.style.textAlign = "center"
                sec_body.style.textAlign = "justify";
                sec_body.style.textJustify = "inter-word";
                var string = "<p> I, the undersigned VHM/Caretaker of Village/Cemetery "+
                			 " <u><%=  @burial_report.cemetery_authority_first_name rescue ''%> "+
                			 "  <%=  @burial_report.cemetery_authority_last_name rescue ''%></u> "+
                			 " TA/Town <u><%= @burial_report.ta rescue '_______________'%>"+
                			 " </u> District <u><%= @burial_report.district rescue '_______________' %></u>, "+
                			 " hereby certify that the body of <u><%= @person.first_name %>  <%= @person.last_name%> </u>"+
                			 " (name of deceased), with ID No<u><%= @person.national_id rescue '______________' %></u> "+
                			 " date of birth <u><%= Date.parse(@person.birthdate.to_s).strftime('%d/%b/%Y') %></u>"+
                			 " sex <u><%=@person.gender%></u>  "+
                			 " who died on  <u><%= Date.parse(@person.date_of_death.to_s).strftime('%d/%b/%Y') %> </u>at Home, "+
                			 " <u><%= @person.hospital_of_death rescue @person.place_of_death_village %></u>"+
                			 " Name of village/Hospital, in <u><%= @person.place_of_death_ta %></u>TA/Town,"+
                			 " <%= @person.place_of_death_district %>.District,  was enterred at"+
                			 " <u><%=  @burial_report.cemetery_name rescue '' %></u>"+
                			 " (name of the cemetery or exact place of burial) "+
                			 " on<u><%=  Date.parse(@burial_report.date_of_burial).strftime('%d/%b/%Y') rescue ''%></u>,"+
                			 " with Death Register entry No  <u><%= @person.den rescue '_______________' %></u><br/></p>"+
                			 " <p>Date <u><%= Date.parse(@burial_report.date_report_signed.to_s).strftime('%d/%b/%Y') rescue ''%></u> "+
                			 " <br/>Signature & Stamp of VHM/Caretaker  <u><%=  @burial_report.cemetery_authority_first_name rescue ''%> "+
                			 " <%=  @burial_report.cemetery_authority_last_name rescue ''%></u></p>"
                sec_body.innerHTML = string;

                div.appendChild(sec_body);


			}

			function editField(field){

					var editable_statuses =["DC ACTIVE","DC INCOMPLETE","DC REJECTED", "HQ REJECTED"]

					<% if User.current_user.activities_by_level("#{@facility_type}").include?("Edit a record") %>
							if (editable_statuses.indexOf("<%= @person.status%>") >= 0){
								<% if !@locked %>
								window.location = "/people/form_container?url=/people/edit/<%= @person.id %>/"+field+"?next_url=/people/view?page=1"
								<%end%>
							}

					<%end%>

			}

			function up(){
				__$("table_container").scrollBy(0, -100);
				
			}

			function down(){

				__$("table_container").scrollBy(0,100);

			}

			function viewPersonComment(){

				showConfirmMessage("","Trail of the record","");

				var popup_container = __$("msg.popup")

				popup_container.style.width = "60%";

				popup_container.style.left =  "20%"
				//"calc(43% - 210px)";

				popup_container.style.top =  "10%";

				popup_container.style.height= "500px";

				var control = __$("msg.content");

				control.style.height = "350px"

				var table = document.createElement("table");

				table.id = "popup_details"

				table.style.width = "100%";

				table.style.margin ="auto";

				control.appendChild(table);

				var tr = document.createElement("tr");

				table.appendChild(tr);

				var td = document.createElement("th");

				td.innerHTML ="#";

				td.style.background = "#868687";

				td.style.width = "2%";

				td.style.paddingLeft = "2em";

				td.style.color ="#ffffff";

				tr.appendChild(td);

				var td = document.createElement("th");

				td.innerHTML ="Comment";

				td.style.background = "#868687";

				td.style.width = "25%";

				td.style.paddingLeft = "2em";

				td.style.color ="#ffffff";

				tr.appendChild(td);


				var td = document.createElement("th");

				td.innerHTML ="Status";

				td.style.background = "#868687";

				td.style.paddingLeft = "2em";

				td.style.color ="#ffffff";

				tr.appendChild(td);


				var td = document.createElement("th");

				td.innerHTML ="User";

				td.style.background = "#868687";

				td.style.paddingLeft = "2em";

				td.style.color ="#ffffff";

				tr.appendChild(td);


				var td = document.createElement("th");

				td.innerHTML ="User Role";

				td.style.background = "#868687";

				td.style.paddingLeft = "2em";

				td.style.color ="#ffffff";

				tr.appendChild(td);


				var td = document.createElement("th");

				td.style.background = "#868687";

				td.style.paddingLeft = "2em";

				td.style.color ="#ffffff";

				td.innerHTML ="Date"

				tr.appendChild(td);
				<% @i = 0 %>

				<% @comments.each do |comment| %>

					<% @i = @i + 1 %>

					var tr = document.createElement("tr");

					table.appendChild(tr);


					var td = document.createElement("td");
					td.innerHTML = "<%= @i %>"
					td.style.paddingLeft = "1em";
					tr.appendChild(td);


					var td = document.createElement("td");
					tr.appendChild(td);
					td.style.paddingLeft = "1em";
					td.innerHTML = "<%= comment[:reason]%>";


					var td = document.createElement("td");
					tr.appendChild(td);
					td.style.paddingLeft = "1em";
					td.innerHTML = "<%= comment[:status]%>";

					var td = document.createElement("td");
					td.style.paddingLeft = "1em";
					tr.appendChild(td);
					td.innerHTML = "<%= comment[:user]%>";


				    var td = document.createElement("td");
					tr.appendChild(td);
					td.style.paddingLeft = "1em";
					td.innerHTML = "<%= comment[:user_role]%>";


					var td = document.createElement("td");
					tr.appendChild(td);
					td.style.paddingLeft = "1em";
					td.innerHTML = "<%= Date.parse(comment[:created_at].to_s).strftime('%d/%b/%Y') rescue '' %>";

				<%end%>
			}
			var removeBack = setInterval(function(){
				if(__$('signout')){
					__$('signout').style.display = "none";
					clearInterval(removeBack);
				}
			},50);

			var place_of_death = "<%= @person.place_of_death %>"
			if (place_of_death.length == 0){
				place_of_death ="<%= @person.place_of_death_foreign %>"
			}

		   	if(place_of_death.trim().toLowerCase().match('home')){
		   		__$('home').checked = true
		   		__$('home').setAttribute('disabled','disabled');
		   		__$('facility').setAttribute('disabled','disabled')
		   		__$('other').setAttribute('disabled','disabled')
		   	}
		   	if(place_of_death.trim().toLowerCase().match('facility')){
		   		__$('facility').checked = true
		   		__$('home').setAttribute('disabled','disabled');
		   		__$('facility').setAttribute('disabled','disabled')
		   		__$('other').setAttribute('disabled','disabled')
		   	}
		   	if(place_of_death.trim().toLowerCase().match('other')){
		   		__$('other').checked = true
		   		__$('home').setAttribute('disabled','disabled');
		   		__$('facility').setAttribute('disabled','disabled')
		   		__$('other').setAttribute('disabled','disabled')
		   	}


		   	//duplicatesPopup();
function checkIfHQIsOnline(){
            simpleAjaxRequest("/application/hq_is_online", function(data){ 

                data = JSON.parse(data)  
                if (data.status) {
                    __$("hq_sync").innerHTML = "HQ is Online";
                    __$("hq_sync").style.backgroundColor="#b8d6bd";

					if(!__$('print_btn').getAttribute('onclick')){
				              __$('print_btn').setAttribute('onclick',"window.location.href='/dc/print_preview?id=<%=@person.id%>&next_url=<%=params[:next_url].to_s%>'");
				      } 
				    __$('print_btn').setAttribute('class',"blue")
                }else{
                    __$("hq_sync").innerHTML = "HQ is Offline";
                    __$("hq_sync").style.backgroundColor="#d6bab8";
                    __$('print_btn').removeAttribute('onclick');
          			__$('print_btn').setAttribute('class',"gray");

                }
                
          });
}
checkIfHQIsOnline();
setInterval(function(){
  checkIfHQIsOnline();
},10000);
</script>