<link rel="stylesheet" href="/datatable/media/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="/datatable/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/datatable/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	var site_type = "<%= @site_type %>"
</script>
<style type="text/css">
	#pagination{
		width: 20% !important;
		left : 40%;
		z-index: 100000;
	}
	.fa-check{
		font-size: 1em !important;
		color: green !important;
	}
	.fa-ban{
		font-size: 1em !important;
		color: red;
	}
</style>
<div id="table_container">

		<table id="records_table">
				<thead>
					<tr>
						<th>
							Name
						</th>
						<th>
							Gender
						</th>
						<th>
							Date reported
						</th>
						<th>
							Record status
						</th>
						<th>
							Sync status
						</th>
						<th>
							View Record
						</th>
					</tr>
				</thead>
				<tbody id="table_body">
					
				</tbody>
		</table>
	
</div>
<div style="position : absolute; min-width : 30%; bottom:58px;; right :1%; margin-right : 1%">
  <% if params[:next_url] %>
        <button class="green"  style="float: right; margin-right:1%" onmousedown="window.location= '<%= params[:next_url] %>'"><span>Back</span></button>

  <% elsif @targeturl.present? %>

        <button class="green"  style="float: right; margin-right:1% ; width:100px" onmousedown="window.location= '<%=@targeturl%>'"><span>Back</span></button>

  <%else %>
         <button class="green"  style="float: right; margin-right:1%;width:100px" onmousedown="window.location= '/'"><span>Back</span></button>
   <%end %>
</div>
<%= render :partial => "/dc/landing_resize" %>
<script type="text/javascript">
	var status = "<%=@status%>"
	var url ="<%=@url%>"

	if (Object.getOwnPropertyNames(Date.prototype).indexOf("format") < 0) {

		    Object.defineProperty(Date.prototype, "format", {
		        value: function (format) {
		            var date = this;

		            var result = "";

		            if (!format) {

		                format = ""

		            }

		            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

		            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
		                "October", "November", "December"];

		            if (format.match(/YYYY\-mm\-dd\sHH\:\MM\:SS/)) {

		                result = date.getFullYear() + "-" + stock;
		                padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
		                stock.padZeros(date.getDate(), 2) + " " + stock.padZeros(date.getHours(), 2) + ":" +
		                stock.padZeros(date.getMinutes(), 2) + ":" + stock.padZeros(date.getSeconds(), 2);

		            } else if (format.match(/YYYY\-mm\-dd/)) {

		                result = date.getFullYear() + "-" + stock.padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
		                    stock.padZeros(date.getDate(), 2);

		            } else if (format.match(/mmm\/d\/YYYY/)) {

		                result = months[parseInt(date.getMonth())] + "/" + date.getDate() + "/" + date.getFullYear();

		            } else if (format.match(/d\smmmm,\sYYYY/)) {

		                result = date.getDate() + " " + monthNames[parseInt(date.getMonth())] + ", " + date.getFullYear();

		            } else {

		                result = date.getDate() + "/" + months[parseInt(date.getMonth())] + "/" + date.getFullYear();

		            }

		            return result;
		        }
		    });

		}

	    var page = 1 ;

	    var estimatesize = 0;

	    var datatable;

	    function navNextPage(){

	    	if(estimatesize >= 7){

	    			page ++;

			    	loadTable(page);

	    	}

	    }

	    function navPrevPage(){

	    	if(page > 1){

	    		page--
	    		loadTable(page);

	    	}

	    }

		function __$(id){

			return document.getElementById(id)

		}

		function addRows(page){
			ajaxGETRequest(url+"?page="+page+"&size=40",function(data){
				var data = JSON.parse(data);
				for(var i  = 0 ; i <data.length ; i++){
					var name = data[i]["first_name"] +" "+ (data[i]["middle_name"] ? data[i]["middle_name"] : "") + " "+ data[i]["last_name"]

					var link = "window.location = \"/people/view/" +(data[i]["_id"]? data[i]["_id"] : data[i]["id"])+"?next_url=<%= @next_url%>\"";

					var button = "<button class='blue' onclick='"+link+"' style='width:90%'><span>View</span></button>"

					var sync_status = ""
					if(site_type != 'facility'){
							sync_status = (eval(data[i].hq_sync_status) ? "<i class='fa fa-check'></i>" : "<i class='fa fa-ban'></i>");
					}else{
							sync_status = (eval(data[i].dc_sync_status) ? "<i class='fa fa-check'></i>" : "<i class='fa fa-ban'></i>");
					}

					datatable.api().row.add([name,data[i].gender,new Date(data[i].date_reported).format(),data[i].record_status,sync_status,button]).draw()
				}
				if(data.length == 0){
					return;
				}
				setTimeout(function(){
    				page = page + 1
    				addRows(page);
    			},2000);
		});
	}

		function loadTable(page){

					var content = __$("table_container")
	
					var table = __$("table_body");

					table.innerHTML ="";

					ajaxGETRequest(url+"?page="+page+"&size=40",function(data){

							var data = JSON.parse(data);

							for(var i = 0 ; i < data.length ; i++){

								estimatesize = i + 1;

								var tr = document.createElement("tr");

								table.appendChild(tr);

								var td = document.createElement("td");
								td.style.borderRight= "1px solid black";
								td.style.borderBottom= "1px solid black";
								td.innerHTML = data[i]["first_name"] +" "+ data[i]["middle_name"] + " "+ data[i]["last_name"]
								tr.appendChild(td);


								var td = document.createElement("td");
								td.style.borderRight= "1px solid black";
								td.style.borderBottom= "1px solid black";
								td.innerHTML = data[i].gender
								tr.appendChild(td);


								var td = document.createElement("td");
								td.style.borderRight= "1px solid black";
								td.style.borderBottom= "1px solid black";
								td.innerHTML = new Date(data[i].date_reported).format()
								tr.appendChild(td);

								var td = document.createElement("td");
								td.style.borderRight= "1px solid black";
								td.style.borderBottom= "1px solid black";
								td.innerHTML = (data[i].record_status =='DC ACTIVE'? "ACTIVE" : data[i].record_status);
								tr.appendChild(td);

								var td = document.createElement("td");
								td.style.borderRight= "1px solid black";
								td.style.borderBottom= "1px solid black";
								if(site_type != 'facility'){
									td.innerHTML = (eval(data[i].hq_sync_status) ? "<i class='fa fa-check'></i>" : "<i class='fa fa-ban'></i>");
								}else{
									td.innerHTML = (eval(data[i].dc_sync_status) ? "<i class='fa fa-check'></i>" : "<i class='fa fa-ban'></i>");
								}
								tr.appendChild(td);


								var td = document.createElement("td");
								td.style.borderBottom= "1px solid black";
								td.style.borderRight= "1px solid black";
								var button = document.createElement("button");
								button.innerHTML = "<span>View</span>";
								button.style.width = "90%";
								button.setAttribute("onclick","window.location = '/people/view/" +data[i]["id"]+"?next_url=<%=@next_url%>?page="+page+"'");

								td.appendChild(button);

								tr.appendChild(td);


							}

														datatable = $("#records_table").dataTable({
									"lengthChange": false,
									"pageLength": 6,
									"order": [[ 0, "asc" ]],
									"bInfo": false,
									"autoWidth": true
							});

							var search =__$('records_table_filter').getElementsByTagName("input")[0];
    						search.setAttribute("onfocus","changeFocusToMe(this)")
    						search.setAttribute("onblur","__$('keyboardcontainer').style.visibility='hidden'")
    						setTimeout(function(){
    							page = page + 1
    							addRows(page);
    						},1000);
    					

					});

		}

	var qwerty = ["1234567890", "qwertyuiop","asdfghjkl:","zxcvbnm,.?","_-@()+;=\\\/"]
	var abc    = ["1234567890", "abcdefghij","klmnopqrs:","tuvwxyz,.?","_-@()+;=\\\/"]
	var capcase = false;
	var type = "abc"

	function cap(a){
			return a.toUpperCase();
	}
	function appendValue(value){
			if(control === undefined){
				focusFirstInput()
			}
			control.value = control.value + value
			datatable.fnFilter(control.value);
			setTimeout(function(){
				control.focus();
			},1);

			
	}

	function deleteFromValue(){
			control.value = control.value.slice(0, control.value.length - 1)
			datatable.fnFilter(control.value);
			setTimeout(function(){
				control.focus();
			},1);
	}

	function clear(){
			control.value = ""
			datatable.fnFilter(control.value);
			setTimeout(function(){
				control.focus();
			},1);
	}

	function changeKeboardType(keyboard){
			type  = keyboard;
			changeFocusToMe(control);
			datatable.fnFilter(control.value);
			setTimeout(function(){
				control.focus();
			},1);
	}

	function changeFocusToMe(element){
			control = element
			var container = __$("table_container")
            var width = 700;
            var height = 380;
            if(__$("keyboardcontainer")){
            	__$("keyboardcontainer").style.visibility ="visible"
            	__$("keyboardcontainer").innerHTML = "";
            }else{
            	var div = document.createElement("div");
            	div.id = "keyboardcontainer";
            	div.style.textAlign ="center"
            	div.style.position = "absolute";
            	div.style.width = width + "px";
            	div.style.height = height + "px";
            	div.style.backgroundColor = "#eee";
            	div.style.border = "1px solid #26262b";
            	div.style.display ="block"
            	div.style.padding ="0.5%";
            	div.style.borderRadius = "1px";
            	div.style.left = "calc(50% - " + (width / 2) + "px)";
            	div.style.top = "calc(50% - " + (height * 0.3) + "px)";
            	div.style.border = "1px outset #fff";
            	div.style.boxShadow = "3px 1.5px 3px 0px rgba(0,0,0,0.75)";
            	div.style.fontFamily = "arial, helvetica, sans-serif";
            	div.style.MozUserSelect = "none";
            	container.appendChild(div);
            }

			var groups = eval(type)
			
			for(var i = 0 ; i < groups.length;i++){
					var row = document.createElement("div");
					row.className = "row"
					__$("keyboardcontainer").appendChild(row);
					var keys = groups[i].split("");
					for(var j = 0 ; j < keys.length ; j++){
						var button = document.createElement("button");
						var key = capcase ? cap(keys[j]) : keys[j]
						button.innerHTML = key ;
						button.className = "blue"
						button.setAttribute("onmousedown", "appendValue('"+key+"')");
						button.setAttribute("onmouseup", "control.focus()")
						row.appendChild(button);
					}

			}

			var row = document.createElement("div");
			row.className = "row"
			__$("keyboardcontainer").appendChild(row);

			var button = document.createElement("button");
			button.innerHTML = type == "abc" ? "qwerty" : "abc";
			button.className = "orange";
			button.setAttribute("onmousedown", "changeKeboardType('"+button.innerHTML+"')")
			button.onmouseup = function(){
				control.focus()
			}
			row.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = capcase ? "cap" : cap("CAP");
			button.style.marginLeft = "1%";
			button.onmousedown = function(){
				if(capcase){
					capcase = false
					buildkeyBoard(type)
				}else{
					capcase = true
					buildkeyBoard(type)
				}
			}
			button.onmouseup = function(){
				control.focus()
			}
			button.className = "blue"
			row.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = "space";
			button.className = "blue";
			button.style.marginLeft = "5%";
			button.style.marginRight = "5%";
			button.style.width = "200px"
			button.setAttribute("onmousedown", "appendValue(' ')")
			button.setAttribute("onmouseup", "control.focus()")
			row.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = "Clear";
			button.className = "orange";
			button.style.marginRight = "1%";

			button.onmousedown = function(){
				clear();
			}
			button.onmouseup = function(){
				control.focus()
			}
			row.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = "delete";
			button.className = "blue"
			button.onmousedown = function(){
				deleteFromValue();
			}
			button.onmouseup = function(){
				control.focus()
			}

			row.appendChild(button);

	}
	loadTable(page);

		var removeBack = setInterval(function(){
			if(__$('signout')){
				__$('signout').style.display = "none";
				clearInterval(removeBack);
			}
		},50);
</script>