<link rel="stylesheet" href="/css/edrs.css">

<style type="text/css">
	body{
		
	}
	#inputs {
		width: 70%;
		margin:auto;
		margin-top: 6%;
	}
	#container {
			width: 99%;
			margin: auto;
			border: 1px solid #adacac;
			background: #ffffff;
			height: calc(100% - 10px);
			text-align:center;

	}

	#keyboardcontainer{
		width: 70%;
		margin: auto;
		text-align: center;
		border: 1px solid #adacac;
		padding:1%;
		margin-top: 1%;
		margin-bottom: 1%;
		box-shadow: 3.5px 3.5px 1.5px #888888;

	}

	input{
		height: 40px;
		border: 1px solid #4c79a4;
		width: 250px;
		border-radius: 5px;
		font-size: 1.2em
	}
	label{
		font-size: 1em;
		color: #5c5858;
	}
	#app_name{
		font-size: 2em
	}
	#header{
		width: 100%;
		background: #dcdbdb;
		height: 70px;
		border-bottom: 1px solid #adacac;
	}

	.flash_notice{
	    left: calc(50% - 225px);
	    width: 450px;
	    position: absolute;
	    top: 100px;
	    font-size: 1.5em;
	    text-align: center;
	    background-color: tomato;
	    color: #292626;
	    padding: 10px;
	    z-index: 999;
	    border: 2px outset tomato;
	    border-radius: 15px;
	}

</style>

<div id="container">
	<div id="header">
		<table style="min-width :20%; margin-top : 0.5em ;float:right">
	        <tr>
	            <td style="text-align:right; "><font style="font-size:2em;vertical-align:bottom">NRB eDRS </font></td>
	            <td><img src="/images/coa.png" style="width :3.5em; float: right; margin-right : 0.6em"></td>
	        </tr>         
	    </table>
	</div>

	<div id="inputs">
	  <%= form_tag(login_path, method: 'post', enctype: 'multipart/form-data', class: 'form form-signup', autocomplete: "off") do %>
		<table style="margin-left:30%" >
			<tr>
				<td><label for="usename">Username</label></td>
				<td><input type="" name="user[username]" id="username" onfocus="setFocusToThis(this)"></td>
				<td rowspan="2" autocomplete="off" ><button  class="green">Login</button></td>
			</tr>
			<tr>
				<td><label for="password">Password</label></td>
				<td><input id="password" name="user[password]"  onfocus="setFocusToThis(this)" autocomplete="off" ></td></tr>
		</table>
	 <%end%>
	</div>
	<div id="keyboardcontainer">
		
	</div>
	<div>Malawi National Registration Bureau <%= SETTINGS['site_type'].upcase %></div>
</div>

<% unless flash[:notice].nil? %>
          <p id="flash_notice" class="flash_notice" ><%= flash[:notice] %></p>
<% end %>
<% unless flash[:error].nil? %>
          <p id="flash_error" class="flash_notice" ><%= flash[:error] %></p>
<% end %>
<% unless flash[:alert].nil? %>
          <p id="flash_alert" class="flash_notice" ><%= flash[:alert] %></p>
<% end %>
<script type="text/javascript">

		var qwerty = ["1234567890", "qwertyuiop","asdfghjkl:","zxcvbnm,.?","_-@()+;=\\\/"]
		var abc    = ["1234567890", "abcdefghij","klmnopqrs:","tuvwxyz,.?","_-@()+;=\\\/"]
		var control;
		var capcase = false;
		var type = "abc"
		
		function __$(id){
			return document.getElementById(id);
		}
		function cap(a){
			return a.toUpperCase();
		}
		function setFocusToThis(element) {
			control = element;
		}

		function focusFirstInput(){
			var inputs = document.getElementsByTagName("input");
			for(var i = 0 ; i < inputs.length;i++){
				if(inputs[i].type != "hidden"){
					inputs[i].focus();
					break;
				}
			}
		}
		function appendValue(value){
			if(control === undefined){
				focusFirstInput()
			}
			control.value = control.value + value
			control.focus();
		}

		function deleteFromValue(){
			control.value = control.value.slice(0, control.value.length - 1)
		}

		function clear(){
			control.value = ""
		}

		function changeKeboardType(keyboard){
			type  = keyboard;
			buildkeyBoard(type)
		}
		function buildkeyBoard(type){
			__$("keyboardcontainer").innerHTML = "";
			var groups = eval(type)
			for(var i = 0 ; i < groups.length;i++){
				var div = document.createElement("div");
				div.className = "row"
				__$("keyboardcontainer").appendChild(div);
				var keys = groups[i].split("");
				for(var j = 0 ; j < keys.length ; j++){
					var button = document.createElement("button");
					var key = capcase ? cap(keys[j]) : keys[j]
					button.innerHTML = key ;
					button.className = "blue"
					button.setAttribute("onmousedown", "appendValue('"+key+"')")
					button.setAttribute("onmouseup", "control.focus()")
					div.appendChild(button);
				}

			}

			var div = document.createElement("div");
			div.className = "row"
			__$("keyboardcontainer").appendChild(div);

			var button = document.createElement("button");
			button.innerHTML = type == "abc" ? "qwerty" : "abc";
			button.className = "orange";
			button.setAttribute("onmousedown", "changeKeboardType('"+button.innerHTML+"')")
			button.onmouseup = function(){
				control.focus()
			}
			div.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = capcase ? "cap" : cap("CAP");
			button.style.marginLeft = "1%";
			button.onmousedown = function(){
				if(capcase){
					capcase = false
					buildkeyBoard(type)
				}else{
					capcase = true
					buildkeyBoard(type)
				}
			}
			button.onmouseup = function(){
				control.focus()
			}
			button.className = "blue"
			div.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = "space";
			button.className = "blue";
			button.style.marginLeft = "5%";
			button.style.marginRight = "5%";
			button.style.width = "200px"
			button.setAttribute("onmousedown", "appendValue(' ')")
			button.setAttribute("onmouseup", "control.focus()")
			div.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = "Clear";
			button.className = "orange";
			button.style.marginRight = "1%";

			button.onmousedown = function(){
				clear();
			}
			button.onmouseup = function(){
				control.focus()
			}
			div.appendChild(button);

			var button = document.createElement("button");
			button.innerHTML = "delete";
			button.className = "blue"
			button.onmousedown = function(){
				deleteFromValue();
			}
			button.onmouseup = function(){
				control.focus()
			}

			div.appendChild(button);


		}

		function resizeDiv(){
	      var wH = window.innerHeight;
	      
	      __$("container").style.minHeight = (wH * 0.96)+"px";
	    }
		buildkeyBoard("qwerty");
		resizeDiv()
		focusFirstInput();
		setTimeout(function(){
			__$("username").innerHTML = ""
			__$("password").setAttribute("type","password")
		},500)

		setTimeout(function(){
				var flashes = document.getElementsByClassName("flash_notice");
				for(var i = 0 ; i < flashes.length ; i++){
					flashes[i].style.display = "none";
				}
		}, 2000);
</script>

