<style type="text/css">
		
		#table_container{

				height: calc(88% - 20px);

				overflow-y: hidden;

				margin-bottom : 0.3em;

				box-shadow: 3.5px 3.5px 1.5px #888888;

				width: 96%;
				margin: auto;
				border: 1px solid #bcb5b5;
				margin-top: 1%;


		}
		#summary1{

			margin-bottom: 1%;
			width:80% !important;
			float: left;

		}
		#summary1 td {

				background: #ffffff;
				text-align: left !important;
		}
		#summary2{

			margin-bottom: 1%;
			width:40% !important;
			float: right;

		}
		#summary2 td {

				background: #ffffff;
				text-align: left !important;

		}
		.clickable{

			font-weight: bold;
		}
		.clickable:hover{

				color: #3e98c6;

				cursor: pointer;

		}
		.scroll{
			background: #bed5de;

            border : 0.005em solid #b3b1b1;

            font-size: 3.8em;

            min-width: 20px;

            margin: 0.3%;

            box-shadow: 2.5px 2.5px 1px #888888;

           	padding: 0.1%;

           	text-align: center
		}
		#up {
			position: absolute;

			right: 3%;

			top :13%;
		}

		#down {
			position: absolute;

			right: 3%;

			bottom :20%;
		}
		#existing{

				width: 55%;
				float: left;
				height: 300px;
		}

		#duplicates{
			width: 38%;
			float: right;
			height: 300px;
			margin-right: 5%;
		}
		#details td {

			border: none !important;
			padding: 0.5em !important;
			text-align: left !important;
			padding-left:5% !important;
			font-size: 1.2em;

		}
		.duplicates_panel{

			width: 90%;
			padding: 0.8em;
			font-size: 1.2em;
			text-align: center;
			border: 1.5px solid #a2a09d;
			box-shadow: 3.5px 3.5px 1.5px #888888;
			border-radius: 5px;
		}
		.duplicates_panel:hover{

			background: #fddeb3 !important;
		}

</style>

<div style="position : absolute; width : 80%; bottom:58px;; right :10%; margin-right : 2%">

</div>

<div id="table_container">
	<div id="existing" >
		<div style="width:100% ; text-align :center ; font-size: 1.5em;padding: 0.3em; background:#96b5c3"><b>Exisiting Record</b></div>
		<div>
			<table style="width:100% !important" id="details">
					<tr>
						<td><b>Surname</b></td>
						<td></td>
					</tr>
					<tr>
						<td><b>First name</b></td>
						<td></td>
					</tr>
					<tr>
						<td><b>Date of birth</b></td>
						<td></td>
					</tr>
					<tr>
						<td><b>Date of Death</b></td>
						<td></td>
					</tr>

					<tr>
						<td><b>Place of death</b></td>
						<td></td>
					</tr>
					<tr>
						<td><b>Home address</b></td>
						<td></td>
					</tr>
					<tr>
						<td><b>Informant surname</b></td>
						<td></td>
					</tr>
					<tr>
						<td><b>Informant firstname</b></td>
						<td></td>
					</tr>
			</table>
		</div>
	</div>
	<div id="duplicates" >
		<div style="width:100% ; text-align :center ; font-size: 1.5em;padding: 0.3em"><b>Duplicate (s)</b></div>
		<% @i = 0 %>
		<% @existing_record.each do |record| %>
				<% @i = @i + 1 %>
				<%if @i%2 == 0 %>
					<div style="background:#fff2df" onclick="showPerson('<%= @i%>')" class="duplicates_panel">
					<%= record.last_name %> <%= record.first_name %>
					 died on (<%= Date.parse(record.date_of_death.to_s).strftime("%d/%b/%Y") %>)	
					</div>
				<%else%>
					<div style="background:#ffe5c0" onclick="showPerson('<%= @i%>')" class="duplicates_panel">
					<%= record.last_name %> 	<%= record.first_name %> 
					died on (<%= Date.parse(record.date_of_death.to_s).strftime("%d/%b/%Y") %>)
					</div>
				<%end%>
		<%end%>
	</div>
	<% if false %>
		<table id="summary1">
			
			<tr>
				<th colspan="11" style="background:#fbc2c7 ; color : black; border-right:3px solid black">Potential Duplicate</th>
				<th colspan="11" style="background: #79a3c1; color: black">Existing Record</th>
			</tr>

			<tr>
				<td rowspan="11" style="background-color:#dbdada;">PART 1 <br/>PERSONAL DETAILS OF DECEASED</td>
				<td>1</td>
				<td  class="clickable" onclick="editField('last_name')">Surname</td>
				<td colspan="2" ><%= @person.last_name %></td>
				<td class="clickable" onclick="editField('first_name')" >First name</td>
				<td  colspan="2"><%= @person.first_name %></td>
				<td class="clickable" onclick="editField('middle_name')" >Other</td>
				<td colspan="2" style="border-right:3px solid black"><%= @person.middle_name rescue "" %></td>
				<td>1</td>
				<td  class="clickable" onclick="editField('last_name')">Surname</td>
				<td colspan="2" ><%= @existing_record[0].last_name %></td>
				<td class="clickable" onclick="editField('first_name')" >First name</td>
				<td  colspan="2"><%= @existing_record[0].first_name %></td>
				<td class="clickable" onclick="editField('middle_name')" >Other</td>
				<td colspan="2"><%= @existing_record[0].middle_name rescue "" %></td>
			</tr>
			<tr>
				<td>2</td>
				<td class="clickable" onclick="editField('id_number')" >ID No.</td>
				<td style="border-bottom :1.5px solid black"><%= @person.id_number rescue ""%></td>
				<td>3</td>
				<td class="clickable" onclick="editField('nationality_id')">Nationality</td>
				<td colspan="2" style="border-bottom :1.5px solid black"><%= @person.nationality rescue ""%></td>
				<td>4</td>
				<td class="clickable" onclick="editField('gender')">Sex</td>
				<td style="border-right:3px solid black"> <%= @person.gender %></td>

				<td>2</td>
				<td class="clickable" onclick="editField('id_number')" >ID No.</td>
				<td style="border-bottom :1.5px solid black"><%= @existing_record[0].id_number rescue ""%></td>
				<td>3</td>
				<td class="clickable" onclick="editField('nationality_id')">Nationality</td>
				<td colspan="2" style="border-bottom :1.5px solid black"><%= @existing_record[0].nationality rescue ""%></td>
				<td>4</td>
				<td class="clickable" onclick="editField('gender')">Sex</td>
				<td> <%= @existing_record[0].gender %></td>
			</tr>
			<tr>
				<td>5</td>
				<td class="clickable" onclick="editField('birthdate')" >Birth Date</td>
				<td style="border-bottom: 1.5px solid black" colspan="5"><%= Date.parse(@person.birthdate.to_s).strftime("%d/%b/%Y") %></td>
				<td rowspan="2">6</td>
				<td rowspan="2" class="clickable" onclick="editField('birth_certificate_number')" >Birth certificate No.</td>
				<td rowspan="2" style="border-right:3px solid black"><%= @person.birth_certificate_number %></td>

				<td>5</td>
				<td class="clickable" onclick="editField('birthdate')" >Birth Date</td>
				<td style="border-bottom: 1.5px solid black" colspan="5"><%= Date.parse(@existing_record[0].birthdate.to_s).strftime("%d/%b/%Y") %></td>
				<td rowspan="2">6</td>
				<td rowspan="2" class="clickable" onclick="editField('birth_certificate_number')" >Birth certificate No.</td>
				<td rowspan="2"><%= @existing_record[0].birth_certificate_number %></td>
			</tr>
			<tr>
				<td>7</td>
				<td class="clickable" onclick="editField('date_of_death')" >Date of Death</td>
				<td style="border-bottom: 1.5px solid black" colspan="5"><%= Date.parse(@person.date_of_death.to_s).strftime("%d/%b/%Y") %></td>

				<td>7</td>
				<td class="clickable" onclick="editField('date_of_death')" >Date of Death</td>
				<td style="border-bottom: 1.5px solid black" colspan="5"><%= Date.parse(@existing_record[0].date_of_death.to_s).strftime("%d/%b/%Y") %></td>
			</tr>
			<tr>
				<td rowspan="4">8</td>
				<td class="clickable" onclick="editField('place_of_death')" >Place of birth</td>
				<td colspan="8" style="border-right:3px solid black"><%= @person.place_of_death %></td>

				<td rowspan="4">8</td>
				<td class="clickable" onclick="editField('place_of_death')" >Place of birth</td>
				<td colspan="8"><%= @existing_record[0].place_of_death %></td>

			</tr>
			<tr>
				<td class="clickable" onclick="editField('hospital_of_death')" >Health Facility</td>
				<td colspan="8" style="border-right:3px solid black"> <%= @person_place_details['hospital_of_death'] %></td>

				<td class="clickable" onclick="editField('hospital_of_death')" >Health Facility</td>
				<td colspan="8" > <%= @existing_record[0].hospital_of_death%></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('hospital_of_death')" >Home</td>
				<td>Address</td>
				<td class="clickable" onclick="editField('home_district')" >District</td>
				<td style="border-bottom:1.5px solid black"><%= @person_place_details['home_district'] %></td>
				<td class="clickable" onclick="editField('home_district')">TA</td>
				<td style="border-bottom:1.5px solid black"><%= @person_place_details['home_ta'] %></td>
				<td class="clickable" onclick="editField('home_district')" >Village</td>
				<td style="border-right:3px solid black" colspan="2"><%= @person_place_details['home_village'] %></td>
				<td class="clickable" onclick="editField('hospital_of_death')" >Home</td>
				<td>Address</td>
				<td class="clickable" onclick="editField('home_district')" >District</td>
				<td style="border-bottom:1.5px solid black"><%= @existing_record[0].home_district %></td>
				<td class="clickable" onclick="editField('home_district')">TA</td>
				<td style="border-bottom:1.5px solid black"><%= @existing_record[0].home_ta %></td>
				<td class="clickable" onclick="editField('home_district')" >Village</td>
				<td colspan="2"><%= @existing_record[0].home_village %></td>
			</tr>
			<tr>
				<td>Other</td>
				<td colspan="8" style="border-right:3px solid black"></td>

				<td>Other</td>
				<td colspan="8""></td>
			</tr>
			<tr>
				<td>9</td>
				<td colspan="3">Physical residential address</td>
				<td class="clickable" onclick="editField('current_district')" >District </td>
				<td><%= @person_place_details['current_district'] %></td>
				<td class="clickable" onclick="editField('current_ta')">TA</td>
				<td><%= @person_place_details['current_ta'] %></td>
				<td class="clickable" onclick="editField('current_village')" >Village</td>
				<td style="border-right:3px solid black"><%= @person_place_details['current_village'] %></td>

				<td>9</td>
				<td colspan="3">Physical residential address</td>
				<td class="clickable" onclick="editField('current_district')" >District </td>
				<td><%= @existing_record[0].current_district %></td>
				<td class="clickable" onclick="editField('current_ta')">TA</td>
				<td><%= @existing_record[0].current_ta %></td>
				<td class="clickable" onclick="editField('current_village')" >Village</td>
				<td ><%= @existing_record[0].current_village %></td>
			</tr>
			<tr>
				<td rowspan="2">11</td>
				<td colspan="8" class="clickable" onclick="editField('died_while_pegnant')" >In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?</td>
				<td style="border-right:3px solid black"><%= @person.died_while_pegnant rescue "No" %></td>

				<td rowspan="2">11</td>
				<td colspan="8" class="clickable" onclick="editField('died_while_pegnant')" >In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?</td>
				<td><%= @existing_record[0].died_while_pegnant rescue "No" %></td>
			</tr>
			<tr>
				
				<td colspan="9" style="border-right:3px solid black"></td>
				<td colspan="9" ></td>
			</tr>
			<tr>
				<td rowspan="6">PART 2 <br/><br/>DETAILS OF PARENT</td>
				<td rowspan="3">1</td>
				<td colspan="6" class="clickable" onclick="editField('mother_name')" >Mother's name</td>
				<td rowspan="3">2</td>
				<td rowspan="3" class="clickable" onclick="editField('mother_id_number')">ID No.</td>
				<td rowspan ="3" style="border-right:3px solid black"><%= @person.mother_id_number %></td>

				<td rowspan="3">1</td>
				<td colspan="6" class="clickable" onclick="editField('mother_name')" >Mother's name</td>
				<td rowspan="3">2</td>
				<td rowspan="3" class="clickable" onclick="editField('mother_id_number')">ID No.</td>
				<td rowspan ="3"><%= @existing_record[0].mother_id_number %></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('mother_last_name')" >Surname</td>
				<td colspan="2"><%= @person.mother_last_name %></td>
				<td class="clickable" onclick="editField('mother_first_name')" >First name</td>
				<td colspan="2" ><%= @person.mother_first_name %></td>

				<td class="clickable" onclick="editField('mother_last_name')" >Surname</td>
				<td colspan="2"><%= @existing_record[0].mother_last_name %></td>
				<td class="clickable" onclick="editField('mother_first_name')" >First name</td>
				<td colspan="2" ><%= @existing_record[0].mother_first_name %></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('mother_middle_name')">Other names</td>
				<td colspan="5"><%= @person.mother_middle_name %></td>

				<td class="clickable" onclick="editField('mother_middle_name')">Other names</td>
				<td colspan="5"><%= @existing_record[0].mother_middle_name %></td>
			</tr>
			<tr>
				<td rowspan="3">3</td>
				<td colspan="6" class="clickable" onclick="editField('father_id_number')">Father's name</td>
				<td rowspan="3">4</td>
				<td rowspan="3" class="clickable" onclick="editField('father_id_number')">ID No.</td>
				<td rowspan ="3" ><%= @person.father_id_number %></td>

				<td rowspan="3">3</td>
				<td colspan="6" class="clickable" onclick="editField('father_id_number')">Father's name</td>
				<td rowspan="3">4</td>
				<td rowspan="3" class="clickable" onclick="editField('father_id_number')">ID No.</td>
				<td rowspan ="3" ><%= @existing_record[0].father_id_number %></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('father_last_name')">Surname</td>
				<td colspan="2"><%= @person.father_last_name %></td>
				<td class="clickable" onclick="editField('father_first_name')">First name</td>
				<td colspan="2" ><%= @person.father_first_name %></td>

				<td class="clickable" onclick="editField('father_last_name')">Surname</td>
				<td colspan="2"><%= @existing_record[0].father_last_name %></td>
				<td class="clickable" onclick="editField('father_first_name')">First name</td>
				<td colspan="2" ><%= @existing_record[0].father_first_name %></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('father_middle_name')">Other names</td>
				<td colspan="5" ><%= @person.father_middle_name %></td>

				<td class="clickable" onclick="editField('father_middle_name')">Other names</td>
				<td colspan="5" ><%= @existing_record[0].father_middle_name %></td>
			</tr>

			<tr>
				<td rowspan="7" style="background-color:#dbdada;">PART 3 <br/>INFORMANTS DETAILS</td>
				<td rowspan="2">1</td>
				<td class="clickable" onclick="editField('informant_last_name')" >Surname</td>
				<td colspan="2"><%= @person.informant_last_name %></td>
				<td class="clickable" onclick="editField('informant_first_name')">First name</td>
				<td colspan="2"><%= @person.informant_first_name %></td>
				<td rowspan="2">2</td>
				<td rowspan="2" class="clickable" onclick="editField('informant_id_number')">ID No.</td>
				<td rowspan="2" style="border-right:3px solid black"><%= @person.informant_id_number %></td>

				<td rowspan="2">1</td>
				<td class="clickable" onclick="editField('informant_last_name')" >Surname</td>
				<td colspan="2"><%= @existing_record[0].informant_last_name %></td>
				<td class="clickable" onclick="editField('informant_first_name')">First name</td>
				<td colspan="2"><%= @existing_record[0].informant_first_name %></td>
				<td rowspan="2">2</td>
				<td rowspan="2" class="clickable" onclick="editField('informant_id_number')">ID No.</td>
				<td rowspan="2" style="border-right:3px solid black"><%= @existing_record[0].informant_id_number %></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('informant_middle_name')">Other name</td>
				<td colspan="5" style="border-right:3px solid black"><%= @person.informant_middle_name %></td>

				<td class="clickable" onclick="editField('informant_middle_name')">Other name</td>
				<td colspan="5"><%= @existing_record[0].informant_middle_name %></td>
			</tr>
			<tr>
				<td>3</td>
				<td class="clickable" onclick="editField('informant_relationship_to_deceased')">Relation to the deceased</td>
				<td colspan="8" style="border-right:3px solid black">
					<%= @person.informant_relationship_to_deceased rescue @person.informant_relationship_to_deceased_other %>
				</td>
				<td>3</td>
				<td class="clickable" onclick="editField('informant_relationship_to_deceased')">Relation to the deceased</td>
				<td colspan="8">
					<%= @existing_record[0].informant_relationship_to_deceased rescue @existing_record[0].informant_relationship_to_deceased_other %>
				</td>
			</tr>
			<tr>
				<td rowspan="2">4</td>
				<td>Adress</td>
				<td class="clickable" onclick="editField('informant_current_district')">District</td>
				<td colspan="2"><%= @person_place_details['informant_current_district'] %></td>
				<td class="clickable" onclick="editField('informant_current_ta')">TA</td>
				<td colspan="2"><%= @person_place_details['informant_current_ta'] %></td>
				<td class="clickable" onclick="editField('informant_current_village')">Village</td>
				<td style="border-right:3px solid black"><%= @person_place_details['informant_current_village'] %></td>

				<td rowspan="2">4</td>
				<td>Adress</td>
				<td class="clickable" onclick="editField('informant_current_district')">District</td>
				<td colspan="2"><%= @existing_record[0].informant_current_district %></td>
				<td class="clickable" onclick="editField('informant_current_ta')">TA</td>
				<td colspan="2"><%= @existing_record[0].informant_current_ta %></td>
				<td class="clickable" onclick="editField('informant_current_village')">Village</td>
				<td ><%= @existing_record[0].informant_current_village %></td>
			</tr>
			<tr>
				<td class="clickable" onclick="editField('informant_address')">Postal address :</td>
				<td colspan="6">
					<%= @person.informant_addressline1 rescue "" %>
					<%= " #{@person.informant_addressline2}" rescue ""%>
					<%= " #{@person.informant_city}" rescue "" %>	
				</td>
				<td class="clickable" onclick="editField('informant_phone_number')">Telephone Number</td>
				<td style="border-right:3px solid black"><%= @person.informant_phone_number %></td>

				<td class="clickable" onclick="editField('informant_address')">Postal address :</td>
				<td colspan="6">
					<%= @exiting_record[0].informant_addressline1 rescue "" %>
					<%= " #{@existing_record[0].informant_addressline2}" rescue ""%>
					<%= " #{@existing_record[0].informant_city}" rescue "" %>	
				</td>
				<td class="clickable" onclick="editField('informant_phone_number')">Telephone Number</td>
				<td ><%= @existing_record[0].informant_phone_number %></td>
			</tr>
			<tr>
				<td rowspan="2">5</td>
				<th colspan="9" style="background: #ffffff; color:black;border-right:3px solid black">I certify that the above information is correct and I am aware that I could face criminal prosecution if this information is incorrect in material respect.</th>

				<td rowspan="2">5</td>
				<th colspan="9" style="background: #ffffff; color:black;">I certify that the above information is correct and I am aware that I could face criminal prosecution if this information is incorrect in material respect.</th>
			</tr>
			<tr>
				<td>Date:</td>
				<td colspan="8" style="border-right:3px solid black"><%= Date.parse(@person.informant_signature_date.to_s).strftime("%d/%b/%Y") rescue "" %></td>

				<td>Date:</td>
				<td colspan="8"><%= Date.parse(@existing_record[0].informant_signature_date.to_s).strftime("%d/%b/%Y") rescue "" %></td>
			</tr>
		</table>
	<%end%>
</div>
  <div id="up" class="scroll" onmousedown="up()">
     <i class=" fa fa-arrow-up"></i>
 </div>
 <div id="down" class="scroll" onmousedown="down()">
     <i class=" fa fa-arrow-down"></i>
 </div>

 <div style="position : absolute; width : 80%; bottom:58px;; right :10%; margin-right : 2%">

 		<button class="green" style="float: right; margin-right:1%" onmousedown="recordNotDuplicate()">Not a duplicate</button>

 		<button class="red" style="float: right; margin-right:3%" onmousedown="recordIsDuplicate()">Duplicate</button>

</div>
<script type="text/javascript">
			<% if params[:error] %>

					showPopupMessage("<%=params[:error]%>","<%= params[:topic]%>")

			<% end %>
	
			function recordNotDuplicate(){

					var url ="/confirm_record_not_duplicate_comment/<%= @person.id %>/<%=@duplicates_audit.id%>?next_url=<%=params[:next_url]%>";

							
					showConfirmMessage("","Are you sure record is not duplicate <%= @existing_record.length %> other(s)?",url,"#79a3c1")

					popUpRecordDetails();
			

			}

			function recordIsDuplicate(){

					var url ="/confirm_duplicate_comment/<%= @person.id %>/<%=@duplicates_audit.id %>?next_url=<%=params[:next_url]%>";

							
					showConfirmMessage("","Are you sure record is dupliacte with <%= @existing_record.length %> other(s)?",url,"#8a0120")

					popUpRecordDetails();
			

			}

			function popUpRecordDetails(){

					var popup_container = __$("msg.popup")

					popup_container.style.width = "40%";

					popup_container.style.left =  "calc(43% - 210px)";

					popup_container.style.top =  "10%";

					popup_container.style.height= "500px";

					var control = __$("msg.content");

					control.style.height = "350px"

					var table = document.createElement("table");

					table.style.width = "80%";

					table.style.margin ="auto";

					control.appendChild(table);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Surnaame";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = "<%= @person.last_name %>";

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "First Name";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = "<%= @person.first_name %>";

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Nationality";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = "<%= @person.nationality %>";

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Sex";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = "<%= @person.gender %>";

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Date of Birth";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = "<%= @person.birthdate.to_date.strftime('%d/%b/%Y') %>";

					tr.appendChild(td);


					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Date of Death";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = "<%= @person.date_of_death.to_date.strftime('%d/%b/%Y') %>";

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Place of Death";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = "<%= @person.place_of_death %>";

					tr.appendChild(td);


			}

			function editField(field){

					<% if User.current_user.activities_by_level("#{@facility_type}").include?("Edit a record") %>

							showConfirmMessage("Are you sure u want to edit the field?", "Edit field", "/people/edit/<%= @person.id %>/"+field,"#e2a648")

					<%end%>

			}

			function up(){

				//alert("Yeeeeeei up")
				__$("table_container").scrollBy(0, -100);
				
			}

			function down(){

				__$("table_container").scrollBy(0,100);

			}


			function showPerson(pos){
				alert(pos)
			}
</script>