<style type="text/css">
	#table_container{

				height: calc(88% - 20px);

				overflow-y: hidden;

				margin-bottom : 0.3em;

				box-shadow: 3.5px 3.5px 1.5px #888888;

				width: 96%;
				margin: auto;
				border: 1px solid #bcb5b5;
				margin-top: 1%;


	}
	.record th {
        padding: 8px;
        background-color: #666;
        color: #eee;
        text-align: center !important;
    }
    
    .record .existing {
     
       background-color: #316193;
       
    }

    .record td {
        padding: 8px;
    }
    #dup_table td{
    	padding: 0.5em;
    }
</style>
<div id="table_container">
	<table style="width:48% !important;float:left" class="record">
					<tr>
						<th colspan="2">Potential Duplicate (<%= @person.status %>)</th>
					</tr>
					<tr>
						<td><b>Surname</b></td>
						<td><%= @person.last_name %></td>
					</tr>
					<tr>
						<td><b>First Name</b></td>
						<td><%= @person.first_name %></td>
					</tr>
					<tr>
						<td><b>Nationality</b></td>
						<td><%= @person.nationality%></td>
					</tr>
					<tr>
						<td><b>Sex</b></td>
						<td><%= @person.gender %></td>
					</tr>
					<tr>
						<td><b>Date of Birth</b></td>
						<td><%= Date.parse(@person.birthdate.to_s).strftime("%d/%b/%Y") %></td>
					</tr>
					<tr>
						<td><b>Date of Death</b></td>
						<td><%= Date.parse(@person.date_of_death.to_s).strftime("%d/%b/%Y") %></td>
					</tr>

					<tr>
						<td><b>Place of Death</b></td>
						<% if @person.place_of_death == 'Hospital/Institution'%>

					 	<td><%= @person.hospital_of_death %></td>

						<%elsif @person.place_of_death == 'Home'%>

							 <td><%= @person.place_of_death_village %> Village, TA <%= @person.place_of_death_ta%> , <%= @person.place_of_death_village%> District</td>

						<%elsif @person.place_of_death == 'Other' %>

							 <td><%= @person.other_place_of_death rescue '' %></td>

						<% end %>
					</tr>
					<tr>
						<td><b>Mother surname</b></td>
						<td><%= @person.mother_last_name %></td>
					</tr>
					<tr>
						<td><b>Mother Firstname</b></td>
						<td><%= @person.mother_first_name %></td>
					</tr>
					<tr>
						<td><b>Father Surname</b></td>
						<td><%= @person.father_last_name %></td>
					</tr>
					<tr>
						<td><b>Father Firstname</b></td>
						<td><%= @person.father_first_name %></td>
					</tr>

	</table>
	<table style="width:48% !important;float:right" class="record existing">
				<thead>
					<tr>
						<th colspan="2" id="existing_head" style="background:#6889b1"></th>
					</tr>
				</thead>
				<tbody id="existing">
					<tr>
						<td><b>Surname</b></td>
						<td><%= @person.last_name %></td>
					</tr>
					<tr>
						<td><b>Middle Name</b></td>
						<td><%= @person.middle_name %></td>
					</tr>
					<tr>
						<td><b>First Name</b></td>
						<td><%= @person.first_name %></td>
					</tr>
					<tr>
						<td><b>Date of Birth</b></td>
						<td><%= Date.parse(@person.birthdate.to_s).strftime("%d/%b/%Y") %></td>
					</tr>
					<tr>
						<td><b>Date of Death</b></td>
						<td><%= Date.parse(@person.date_of_death.to_s).strftime("%d/%b/%Y") %></td>
					</tr>

					<tr>
						<td><b>Place of Death</b></td>
						<% if @person.place_of_death == 'Hospital/Institution'%>

					 	<td><%= @person.hospital_of_death %></td>

						<%elsif @person.place_of_death == 'Home'%>

							 <td><%= @person.place_of_death_village %> Village, TA <%= @person.place_of_death_ta%> , <%= @person.place_of_death_village%> District</td>

						<%elsif @person.place_of_death == 'Other' %>

							 <td><%= @person.other_place_of_death rescue '' %></td>

						<% end %>
					</tr>
					<tr>
						<td><b>Home address</b></td>
						<td></td>
					</tr>
					<tr>
						<td><b>Mother surname</b></td>
						<td><%= @person.mother_last_name %></td>
					</tr>
					<tr>
						<td><b>Mother Middle Name</b></td>
						<td><%= @person.mother_middle_name %></td>
					</tr>
					<tr>
						<td><b>Mother Firstname</b></td>
						<td><%= @person.mother_first_name %></td>
					</tr>
					<tr>
						<td><b>Father Surname</b></td>
						<td><%= @person.father_last_name %></td>
					</tr>
					<tr>
						<td><b>Father Middle Name</b></td>
						<td><%= @person.father_middle_name %></td>
					</tr>
					<tr>
						<td><b>Father Firstname</b></td>
						<td><%= @person.father_first_name %></td>
					</tr>
				</tbody>
	</table>
</div>
 <div style="position : absolute; width : 80%; bottom:58px;; right :2%; margin-right : 2%">
 	<% if params[:next_url] %>
        <button  style="float: right; margin-right:1%" onmousedown="window.location= '<%= params[:next_url] %>'"><span>Back</span></button>

  <% elsif @targeturl.present? %>

        <button   style="float: right; margin-right:1% ; width:100px" onmousedown="window.location= '<%=@targeturl%>'"><span>Back</span></button>

  <%else %>
         <button  style="float: right; margin-right:1%;width:100px" onmousedown="window.location= '/'"><span>Back</span></button>
   <%end %>

 		<button id="next_similar" class="green" style="float: right; margin-right:1%" onmousedown="showNext()"><span>Next Similar Record</span></button>
 		<% if @person.status == "DC POTENTIAL DUPLICATE" || @person.status == "DC EXACT DUPLICATE"%>
 		<button class="green" style="float: right; margin-right:3%" onmousedown="resolveDuplicate()"><span>Resolve duplicate</span></button>
 		<% end%>

</div>
<script type="text/javascript">
			function __$(id){
	        	return document.getElementById(id);
		    }

		    function resizeDiv(){
		      var wH = window.innerHeight; 
		      __$("containt").style.height = (wH *0.81 )+"px";
		      __$("table_container").style.height = (wH * 0.72) +"px";
		    }
	  
		    resizeDiv();
			<% if params[:error] %>

					showPopupMessage("<%=params[:error]%>","<%= params[:topic]%>")

			<% end %>
			


			var ids = "<%= @existing_ids %>".split(",");

			var id_to_void = "";

			var void_url =""
			var number = 0;

			function showNext(){

				var url = "/people/find/"+ids[number];
				ajaxGETRequest(url, function(data){

					console.log(url);
					var data  = JSON.parse(data);
					var table = __$("existing");
					table.innerHTML ="";

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Surname";
					td.style.fontWeight ="bold";
					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = data.last_name;

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "First Name";

					td.style.fontWeight ="bold";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = data.first_name;

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.style.fontWeight ="bold";

					td.innerHTML = "Nationality";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = data.nationality

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Sex";

					td.style.fontWeight ="bold";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = data.gender

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Date of Birth";

					td.style.fontWeight ="bold";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML =(new Date(data.birthdate)).format();

					tr.appendChild(td);


					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Date of Death";

					td.style.fontWeight ="bold";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = (new Date(data.date_of_death)).format();

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Place of Death";

					td.style.fontWeight ="bold";

					tr.appendChild(td);

					var td = document.createElement("td");

					if (data.place_of_death == 'Hospital/Institution'){

					 	td.innerHTML = data.hospital_of_death;

					}else if(data.place_of_death == 'Home'){
						 td.innerHTML = data.place_of_death_village +"Village, TA "+data.place_of_death_ta+
						 				data.place_of_death_village+" District";

					}else if(data.place_of_death == 'Other'){

						 td.innerHTML = data.other_place_of_death
					}

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Mother First Name";

					td.style.fontWeight ="bold";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = data.mother_first_name

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Mother Last Name";

					td.style.fontWeight ="bold";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = data.mother_last_name

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Father First Name";

					td.style.fontWeight ="bold";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = data.father_first_name

					tr.appendChild(td);

					var tr = document.createElement("tr");

					table.appendChild(tr);

					var td = document.createElement("td");

					td.innerHTML = "Fathe Last Name";

					td.style.fontWeight ="bold";

					tr.appendChild(td);

					var td = document.createElement("td");

					td.innerHTML = data.father_last_name

					tr.appendChild(td);
 
					__$("existing_head").innerHTML = "Existing Record ("+data.status+") "+( number + 1 )+"/"+ids.length; 
					if (data.status.toLowerCase().indexOf("voided") >= 0) {
						 __$("existing_head").style.backgroundColor = "#b4b1b1"
					}
					if(ids.length <= 1){
						__$("next_similar").style.display="none"
					}

					number = (number + 1) % ids.length;

				});

				
			}

			showNext();

			function resolveDuplicate(){
				showPopupMessage("Record is a potential duplicate to <b>"+ids.length+ "</b> other record(s)", "Resolve Duplicates");
				var bt_panel = __$("pop_button_panel");
				bt_panel.innerHTML ="";
				var duplicate = document.createElement("button");
				duplicate.innerHTML = "Duplicate";
				duplicate.className = "red";
				duplicate.onmousedown = function(){
					var url ="/confirm_duplicate_comment/<%= @person.id %>/<%=@duplicates_audit.id %>?next_url=<%=params[:next_url]%>";
					var statuses = '<%= @statuses%>'
					if(statuses.indexOf("DC ACTIVE") >= 0){
						chooseRecordToVoid();
						
					}else{
						window.location.href = url
					}	
				}
				bt_panel.appendChild(duplicate);


				var notduplicate = document.createElement("button");
				notduplicate.innerHTML = "Not Duplicate";
				notduplicate.className = "green";
				notduplicate.onmousedown = function(){
					var url ="/confirm_record_not_duplicate_comment/<%= @person.id %>/<%=@duplicates_audit.id%>?next_url=<%=params[:next_url]%>";
					window.location.href = url;
				}
				bt_panel.appendChild(notduplicate);

				var close = document.createElement("button");
				close.innerHTML = "Close";
				close.className = "blue"
				close.onmousedown = function(){
					if(__$("msg.shield")){
						document.body.removeChild(__$("msg.shield"));
					}
					
				}
				bt_panel.appendChild(close);

			}

			function chooseRecordToVoid(url){
				void_url = "/confirm_duplicate_comment"
				var ids = "<%= @existing_ids %>".split(",");
				ids.push("<%= params[:id] %>");
				ids[ids.length - 1] = ids[0]
				ids[0] = "<%= params[:id] %>"
				setTimeout(function(){
					if (__$("msg.topic")) {
						__$("msg.topic").innerHTML ="Choose record to void"
					}
					
					var msg = __$("msg.content");
					msg.innerHTML =""
					var bt_panel = __$("pop_button_panel");
					bt_panel.innerHTML ="";
					var ok = document.createElement("button");
					ok.innerHTML = "Ok";
					ok.className = "blue";
					ok.setAttribute("onmousedown","voidDuplicate()")
					bt_panel.appendChild(ok);
					var table = document.createElement("table");
					table.style.width ="100%";
					table.id = "dup_table"
					msg.appendChild(table);

					for(var i = 0 ; i < ids.length; i++){
						var url = "/people/find/"+ids[i];
						ajaxGETRequest(url, function(data){
							var data  = JSON.parse(data);
							var tr = document.createElement("tr");
							tr.id = data.id
							tr.setAttribute("onclick","setRecordToVoid(this)")
							table.appendChild(tr);
							var td = document.createElement("td");
							td.style.width = "20%";
							var input = document.createElement("input");
							input.type ="radio";
							input.name = "choose";
							input.id ="radio" + data.id;
							td.appendChild(input)
							tr.appendChild(td);
							var td = document.createElement("td");
							td.innerHTML  = data.first_name+" "+data.last_name+"("+(data.gende=='Male'? 'M':'F')+")"+" "+(new Date(data.birthdate)).format()+" "
							tr.appendChild(td);
						})
					}
					setTimeout(function(){
						__$("<%= @person.id %>").click();
					},500)
				},500)

			}

			function setRecordToVoid(element){
				__$("radio"+element.id).checked = true
				id_to_void = element.id
			}

			function voidDuplicate(){
				var person_id = "<%= @person.id %>";
				var duplicate_id ="<%=@duplicates_audit.id%>";
				if (id_to_void == person_id){
					void_url = void_url  +"/"+id_to_void+"/"+duplicate_id+"?next_url=<%=params[:next_url]%>&select=false"
				}else{
					void_url = void_url  +"/"+id_to_void+"/"+person_id+"?next_url=<%=params[:next_url]%>&select=true"
				}
				
				window.location.href = void_url;
			}
</script>