<script type="text/javascript" src="/javascripts/edrs.js"></script>
<script type="text/javascript">
      String.prototype.capitalize = function(lower) {
            return (lower ? this.toLowerCase() : this).replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
      }
      var spaceInterval = null;
      function checkSpace(){
          spaceInterval = setInterval(function(){
            var text_input = __$('touchscreenInput'+tstCurrentPage).value;
            console.log(text_input);
            if(text_input.length > 0){
              __$('touchscreenInput'+tstCurrentPage).value = text_input.capitalize();
            }   
          },20);
      
     }

     function removeCheckSpace(){
          clearInterval(spaceInterval);
     }
</script>
<%= form_for(@user) do |f| %>

      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <% if request.path.match(/new/) %>


                <%= f.text_field :username, :class => "input_cell", :placeholder => "username", :required => true, :textCase => "lower", :uniq_check => "/username_availability?search_str=", :helpText => "Username <i style='color: red'>*</i>" , :tt_onUnLoad=>"uniqueUsername()",:field_type=>"password" %>

      <%else %>

                <%= f.text_field :username, :class => "input_cell", :placeholder => "username", :required => true, :disabled => "disabled", :textCase => "lower", :helpText => "Username <i style='color: red'>*</i>", :field_type=>"password"%>

      <% end %>

            <%= f.text_field :first_name, :class => "input_cell", :placeholder => "First Name", :required => true , :helpText => "First Name <i style='color: red'>*</i>" %>

        
            <%= f.text_field :last_name, :class => "input_cell", :placeholder => "Surname", :required => true, :helpText => "Surname <i style='color: red'>*</i>" %>

            <%= select_tag "user[role]", options_for_select(@roles, @user.role), :class => 'input_cell', :placeholder => "Select user role", :required => true, :style => "width: 81.4% !important;", :helpText => "Roles <i style='color: red'>*</i>" %>
      
        <% if request.path.match(/new/) %>

                <%= f.password_field :password, 
                                     :class => "input_cell", 
                                     :placeholder => "Password", 
                                     :required => true, 
                                     :textCase => "lower",
                                     :absolute_min => 6,
                										 :absolute_max => 20 ,:helpText => "Password <i style='color: red'>*</i>",
                                     :tt_onUnLoad=>"passwordLength()", :field_type=>"password"%>
          
                <%= f.password_field :confirm_password, :class => "input_cell", :placeholder => "Confirm the password entered", :required => true, :textCase => "lower", :helpText => "Confirm Password <i style='color: red'>*</i>", :tt_onUnLoad=>"comfirmPassword()", :field_type=>"password"%>
        
        <% else %>

                <%= f.password_field :password, :class => "input_cell", :placeholder => "Password", :optional => true, :textCase => "lower", :helpText => "Password <i style='color: red'>*</i>" %>

        <% end %>

        <% if SETTINGS['site_type'] == "remote" %>
               <%= text_field_tag "user[district]",nil,
                          {:helpText => "District of user <i style='color: red'>*</i>" ,:ajaxURL => "/districts?place=Health Facility&search_string=" }%>
        <%else%>
              <input type="hidden" name="user[district]" value="<%= SETTINGS['district_code']%>">
        <%end%>

            <%= f.text_field :email,:field_type=>"password", :class => "input_cell", :placeholder => "Email Address", :optional => true , :helpText => "Email Address"%>
       
        <%#= f.hidden_field :_rev %>
        <%#= f.hidden_field :created_at %>
        <%#= f.hidden_field :updated_at %>
<% end %>

<!--button id="btnAction" class="blue" style="position: absolute; right: 160px; bottom: 20px;" onclick="submitForm()">
  <%#= request.path.match(/new/) ? "Save" : "Update" %> User
</button-->

<script>
        var invalid;



   function uniqueUsername(){
        

           var username = __$('touchscreenInput' + tstCurrentPage).value.trim()
                          
           data = { "username" : username }



           postAjax("/confirm_username", data, function(response){
                  console.log(response);
                  var response = JSON.parse(response).response;
                  if(response && eval(response)){
                  
                     setTimeout(function(){ 
                            showMessage("Username already exist, please enter new username","Message");
                            gotoPage(tstCurrentPage - 1, false, true); 

                    },500);
                  }
              })
               
        }

              

        function comfirmPassword(){

                    var confirm_password = __$('touchscreenInput' + tstCurrentPage).value.trim()

                    var password = __$("user_password").value.trim();

                    if(invalid && confirm_password != password){

                          setTimeout(function(){ 
                              showMessage("Password don't match", "Message")
                              gotoPage(tstCurrentPage - 1, false, true); 

                            },500);
                    }
        }

        function passwordLength(){
              var password = __$('touchscreenInput' + tstCurrentPage).value
              if(password.length != 0 && password.length < 6 ){
                    invalide = false;
                     setTimeout(function(){ 
                              showMessage("Password length is less than 6 characters", "Message");
                              gotoPage(tstCurrentPage - 1, false, true);

                     },100);
              }else{
                  invalid = true;
              }
        }

</script>
