
<%= form_for(@user) do |f| %>

      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <% if request.path.match(/new/) %>

                <%= f.text_field :username, :class => "input_cell", :placeholder => "username", :required => true, :textCase => "lower", :uniq_check => "/username_availability?search_str=", :helpText => "Username"%>

      <%else %>

                <%= f.text_field :username, :class => "input_cell", :placeholder => "username", :required => true, :disabled => "disabled", :textCase => "lower", :helpText => "Username" %>

      <% end %>

            <%= f.text_field :first_name, :class => "input_cell", :placeholder => "First Name", :required => true , :helpText => "First Name" %>

        
            <%= f.text_field :last_name, :class => "input_cell", :placeholder => "Last Name", :required => true, :helpText => "Last Name" %>

            <%= select_tag "user[role]", options_for_select(@roles, @user.role), :class => 'input_cell', :placeholder => "Select user role", :required => true, :style => "width: 81.4% !important;", :helpText => "Roles" %>
      
        <% if request.path.match(/new/) %>

                <%= f.password_field :password, 
                                     :class => "input_cell", 
                                     :placeholder => "Password", 
                                     :required => true, 
                                     :textCase => "lower",
                                     :absolute_min => 6,
                										 :absolute_max => 20 ,:helpText => "Password"%>
          
                <%= f.password_field :confirm_password, :class => "input_cell", :placeholder => "Confirm the password entered", :required => true, :textCase => "lower", :helpText => "Confirm Password", :tt_onUnLoad=>"comfirmPassword()"%>
        
        <% else %>

                <%= f.password_field :password, :class => "input_cell", :placeholder => "Password", :optional => true, :textCase => "lower", :helpText => "Password" %>

        <% end %>

        <% if CONFIG['site_type'] == "remote" %>
               <%= text_field_tag "user[district]",nil,
                          {:helpText => "District of user" ,:ajaxURL => "/districts" }%>
        <%end%>

            <%= f.text_field :email, :class => "input_cell", :placeholder => "Email Address", :optional => true , :helpText => "Email Address"%>
       
        <%#= f.hidden_field :_rev %>
        <%#= f.hidden_field :created_at %>
        <%#= f.hidden_field :updated_at %>
<% end %>

<!--button id="btnAction" class="blue" style="position: absolute; right: 160px; bottom: 20px;" onclick="submitForm()">
  <%#= request.path.match(/new/) ? "Save" : "Update" %> User
</button-->

<script>

        function comfirmPassword(){

                    var confirm_password = __$('touchscreenInput' + tstCurrentPage).value.trim()

                    var password = __$("user_password").value.trim();

                    if(confirm_password != password){

                          setTimeout(function(){ 

                              gotoPage(tstCurrentPage - 1, false, true); 
                              showPopupMessage("Password don't match", "Message")

                            })

                    }
        }

</script>
