<form method="GET" action="<%= @url%>">
	<select id="timeline" name="timeline" helpText ="Select Timeline" tt_requireNextClick = "false">
		<option>Today</option>
		<option>Current week</option>
		<option>Current month</option>
		<option>Current year</option>
		<option>Date range</option>
	</select>
	<input type="" name="start_date" 
			helpText ="Select Start date"
			maxDate = "<%= Date.today.strftime('%Y-%m-%d') %>"
			value = "<%= Date.today.strftime('%Y-%m-%d') %>"
			field_type="date" tt_onLoad ="__$('Unknown').style.display='none'" 
			condition ="__$('timeline').value =='Date range'">
	<input type="" name="end_date" 
			helpText ="Select End date" 
			maxDate = "<%= Date.today.strftime('%Y-%m-%d') %>"
			value = "<%= Date.today.strftime('%Y-%m-%d') %>"
			field_type ="date" tt_onLoad ="__$('Unknown').style.display='none'" 
			condition ="__$('timeline').value =='Date range'">
	<input type="hidden" name="next_url" value="<%=params[:next_url]%>">
	<input type="hidden" name="status" value="<%=params[:status]%>">
</form>