<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <% @title = "#{controller.controller_name.humanize} #{controller.action_name.humanize}" rescue ""  %>
    <script language="javascript">
      tstUserKeyboardPref = "abc"
      tstUsername = "XXXXXXXX";
      tstCurrentDate = "<%= Time.now.strftime("%Y-%m-%d") %>";
    </script>
    <script type="text/javascript" language="javascript" src="/javascripts/icons.js" defer="true"></script>
    <script type="text/javascript" src="/javascripts/spin.min.js"></script>
     <script type="text/javascript" src="/javascripts/edrs.js"></script>
  </head>

  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/edrs.css">
  <body id="container">
    <div id="content">
        <!--<% unless flash[:notice].nil? %>
          <p id="flash_notice" style="color: green"><%= flash[:notice] %></p>
        <% end %>
        <% unless flash[:error].nil? %>
          <p id="flash_error" style="color: red"><%= flash[:error] %></p>
        <% end %>
        <% unless flash[:error].nil? %>
          <p id="flash_alert" style="color: green"><%= flash[:alert] %></p>
        <% end %>-->
        <div style="width: 99%; margin :auto; margin-top: 0.5%; border: 1px solid #959595; height : calc(100% - 20px);">

              <div id="app_header">

                 <div id="home_button" onmousedown="window.location ='/'">
                        <i class=" fa fa-home"></i>
                  </div>

                <table style="min-width :20%; margin-top : 0.5em ;float:right">

                  <tr>
                    <td style="text-align:right; "><font style="font-size:2em;vertical-align:bottom">NRB eDRS </font></td>
                    <td><img src="/images/coa.png" style="width :3.5em; float: right; margin-right : 0.6em"></td>
                  </tr>         
                </table>
                       
              </div>
              <div style="width:100;height:calc(90% - 40px);">
                    
                    <%= yield %>

              </div>
              
              <div id="footer" style="border-top: 1px solid  #959595; min-height:21px; bottom : 10px">

              <% if@section=="Home" %>
                 <div id="signout" onmousedown="window.location ='/logout'">
                        <i class=" fa fa-sign-out"></i>
                  </div>

              <%else%>

              <% end %>

                <div id="section" >
                    <%= @section rescue "Home" %>
                </div>
                <div style="width :40%;margin:auto; margin-top : 0.5em ; font-weight:bold; font-style:italic; text-align:center">

                      <%= User.current_user.username %>@<%= "#{@district.name}" rescue "" %> DC on <%= Time.now.strftime("%d/%b/%Y") %>
        
                </div>
                   
              </div>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    
            //showConfirmMessage("Hello World","It's alive",'/');

  </script>
</html>
